RewriteEngine On
RewriteCond %{REQUEST_URI} !page\.cgi
RewriteRule ^(.*\.html)\.tmpl$ http://www.bugzilla.org/$1 [L,R]
# index.html.tmpl isn't in the list of directoryindex files, so map to it manually
RewriteRule ^(.*)/$ $1/index.html
RewriteRule ^$ index.html
# exempt anything in a subdirectory under docs from getting rewritten
RewriteRule ^docs/.+/ - [L]
# Finally, map any remaining html requests to page.cgi as templates
RewriteRule ^(.*\.html)$ page.cgi/$1.tmpl [L]
