Options +FollowSymLinks

RewriteEngine on
RewriteBase /


RewriteRule ^docs/dom/about/ http://developer.mozilla.org/en/docs/About_the_Document_Object_Model
RewriteRule ^docs/dom/dom-talk/ http://developer.mozilla.org/en/docs/DOM_Implementation_and_Scriptability
