<html>
<head>
<title>The Economist</title>
<style type="text/css">
P {
    margin-left: 90px;
    margin-right: 10px;
  }
</style>
</head>
<body>
<p>
Unsurprisingly, Iraq and
the UN Security Council are
once again on collision course.
Richard Butler, the head of the
UN team pursuing evidence of
Iraq’s past or present
possession of particularly lethal
weapons, this week cut short
his talks with Tariq Aziz, Iraq’s
deputy prime minister, saying
that his latest inspection
programme had been rejected.
The Iraqis, for their part, have
declared that they are
suspending co-operation. On
August 6th they failed to
provide escorts for a team of
inspectors (though UN monitors,
who look to the future rather
than the past, were provided
for). 
</p>
</body>
</html>
