<html>
<head>
<title>Lists</title>
</head>
<body>
<h2>HTML 4.0 Lists</h2>
<p>
An unordered list:
</p>
<ul>
<li>Middlefield
<li>Ellis
<li>Whisman
</ul>
<p>
An ordered list:
</p>
<ol>
<li>Middlefield
<li>Ellis
<li>Whisman
</ol>
<p>
A definition list:
</p>
<DL>
<DT><STRONG>Lower cost</STRONG>
<DD>The new version of this product costs significantly less than the
previous one!
<DT><STRONG>Easier to use</STRONG>
<DD>We’ve changed the product so that it’s much easier to use!
<DT><STRONG>Safe for kids</STRONG>
<DD>You can leave your kids alone in a room with this product and
they won’t get hurt.
</DL>
<p>
The following ordered list should start at #50 (uses the start attribute
on the &lt;ol&gt;) and the third item should be #60 (uses the value attribute
on the &lt;li&gt;):
</p>
<ol start=50>
<li>Middlefield
<li>Ellis
<li value=60>Whisman
</ol>
<p>
Here is a test of the type attribute in a &lt;ul&gt;:
</p>
<table>
<tr>
<td>
<ul type="disc">
<li>Disc
</ul>
<td>
<ul type="circle">
<li>Circle
</ul>
<td>
<ul type="square">
<li>Square
</ul>
</tr>
</table>
<p>
Here is a test of the type attribute in a &lt;ol&gt;:
</p>
<table>
<tr>
<td>
<ol type="1">
<li>Arabic numbers (1, 2, 3...)
<li>another
<li>another
<li>another
<li>another
</ol>
<td>
<ol type="a">
<li>Lower alpha (a, b, c...)
<li>another
<li>another
<li>another
<li>another
</ol>
<td>
<ol type="A">
<li>Upper alpha (A, B, C...)
<li>another
<li>another
<li>another
<li>another
</ol>
<td>
<ol type="i">
<li>Lower roman (i, ii, iii...)
<li>another
<li>another
<li>another
<li>another
</ol>
<td>
<ol type="I">
<li>Upper roman (I, II, III...)
<li>another
<li>another
<li>another
<li>another
</ol>
</tr>
</table>
<p>
The following example shows mixed list types:
</p>
<ul>
<li>Unordered list item
<li>Unordered list item
<ol>
<li>Ordered list item
<li>Ordered list item
</ol>
<li>Unordered list item
</ul>
<p>
The following example uses CSS to define the <i>list-style-image</i> property
on the list items. Instead of a disc, an image should be displayed to the left of
the text "List item." The image looks like the character "x."
</p>
<ul>
<li style="list-style-image:url(x.gif)">List item
<li style="list-style-image:url(x.gif)">List item
<li style="list-style-image:url(x.gif)">List item
<li style="list-style-image:url(x.gif)">List item
</ul>
<p>
In this example, the same style is applied to the parent &lt;ul&gt; element, where
it should be inherited by the list items.
</p>
<ul style="list-style-image:url(x.gif)">
<li>Middlefield
<li>Ellis
<li>Whisman
</ul>
</p>
</body>
</html>