<html>
<head>
<title>HTML 4.0 Phrasal Elements</title>
</head>
<body>
<h2>HTML 4.0 Phrasal Elements</h2>
<p>
Here is emphasized text (&lt;em&gt;):<br>
It is <em>very important</em> that we do XYZ.
</p>
<p>
Here is strong text (&lt;strong&gt;):<br>
Nearly <strong>forty people</strong> live there.
</p>
<p>
Here is an example of a citation (&lt;cite&gt;):<br>
As <cite>Jim Barksdale</cite> says, "It's a marathon, not a sprint."
</p>
<p>
Here is an abbreviation (&lt;abbr&gt;):<br>
I work for Acme Tools, <abbr title="Incorporated">Inc.</abbr>
</p>
<p>
Here is an acronym (&lt;acronym&gt;):<Br>
The United States is a member of 
<acronym title="North American Treaty Organization">NATO</acronym>.
</p>
<p>
A definition can be enclosed in the &lt;dfn&gt; tag:<br>
Raptor features a totally new <dfn>layout engine</dfn>.
</p>
<p>
Fragments of computer code are enclosed in the &lt;code&gt; tag:<br>
Use this code to achieve the desired effect:
<code>
if (1 > 2) {
    document.write(navigator.userAgent);
  }
else {
    document.write('The sky has fallen.'); 
  }
</code>
</p>
<p>
Here is some sample output from computer programs and scripts (&lt;samp&gt;):<br>
<samp>The sky has fallen</samp>
</p>
<p>
When indicating text that the user should enter, authors use the 
&lt;kbd&gt; tag:<br>
<kbd>
cd \mozilla<br>
nmake -f nglayout.mak pull_all clobber_nglayout all
</kbd>
</p>
<p>An instance of a variable or program argument can be designated with 
the &lt;var&gt; tag:<br>
<var>MOZ_DEBUG</var>
</p>
<p>
HTML example code may be placed inside the &lt;xmp&gt; tag:
</p>
<xmp>
<p>This is a paragraph</p>
<p>This is a paragraph</p>
</xmp>
</body>
</html>