<html>
<head>
<title>HTML 4.0 Quotes</title>
</head>
<body>
<h2>HTML 4.0 Quotes</h2>
<p>
Here is a &lt;blockquote&gt; with a citation:</p>
<BLOCKQUOTE cite="http://www.mycom.com/tolkien/twotowers.html">
<P>They went in single file, running like hounds on a strong scent,
and an eager light was in their eyes. Nearly due west the broad
swath of the marching Orcs tramped its ugly slot; the sweet grass
of Rohan had been bruised and blackened as they passed.</P>
</BLOCKQUOTE>
<p>
Here's an example of nested quotations using the &lt;q&gt; tag:
</p>
<p>
John said, <Q lang="en-us">I saw Lucy at lunch, she says
<Q lang="en-us">Mary wants you
to get some ice cream on your way home.</Q> I think I will get
some at Ben and Jerry’s, on Gloucester Road.</Q>
</p>
<p>
It should look like this:
</p>
<p>
John said, "I saw Lucy at lunch, she says
'Mary wants you
to get some ice cream on your way home.' I think I will get
some at Ben and Jerry’s, on Gloucester Road."
</p>
</body>
</html>