<html>
<head>
<title>Raptor Demo Document</title>
<style type="text/css">
  H1 {
    font-family: Arial, Sans-Serif;
    font-size: 18pt;
    font-weight: bold;
    text-align: center;
  }

  H2 {
    font-family: Arial, Sans-Serif;
    font-size: 12pt;
    font-weight: bold;
  }

  CAPTION {
    font-style: italic;
  }
</style>
</head>
<body>
<h1>Raptor Layout Engine</h1>
<h2>Demo Items</h2>
<ul>
<li>Incremental reflow of images, even inside tables:</li>
</ul>
<table border=1 cellpadding=0 cellspacing=0>
<caption>Sailing</caption>
<tr>
<td><img src=3.jpg></td>
<td><img src=9.jpg></td>
<td><img src=11.jpg></td>
<td><img src=8.jpg></td>
<td><img src=6.jpg></td>
</tr>
</table>
</body>
