<html>
<head>
<title>HTML 4.0 Table Columns</title>
</head>
<body>
<h2>colgroup with span attribute</h2>
<p>
Below is a table with 2 rows, each row with 5 cells (first row has TH's). There is 
also a colgroup element:
</p>
<tt>&lt;colgroup span=5 width=100&gt;</tt>
<p>
This means that the table has 5 columns, and each column should be 100 pixels wide.
Because the columns are defined
"up front" with width data, the table should be displayed incrementally, as the rows are
downloaded over a modem. This improves perceived performance.
</p>
<TABLE border="1">
<colgroup span=5 width=100>
<tr>
<th>One
<th>Two
<th>Three
<th>Four
<th>Five
</tr>
<tr>
<td>Green
<td>Blue
<td>Yellow
<td>Purple
<td>Orange
</tr>
</table>
<br><br><br>
<h2>colgroup with cols</h2>
<p>
Below is a table with 5 columns defined using 5 COL elements inside a COLGROUP. Each COL
looks like this:
</p>
<tt>&lt;col width=100&gt;</tt>
<p>
This means that each column should be 100 pixels wide. Because the columns are defined
"up front" with width data, the table should be displayed incrementally, as the rows are
downloaded over a modem. This improves perceived performance.
</p>
<table border="1">
<colgroup>
<col width=100>
<col width=100>
<col width=100>
<col width=100>
<col width=100>
</colgroup>
<tr>
<th>One
<th>Two
<th>Three
<th>Four
<th>Five
</tr>
<tr>
<td>Green
<td>Blue
<td>Yellow
<td>Purple
<td>Orange
</tr>
</table>
<br><br><br>
<h2>cols with span attribute</h2>
<p>
Below is a table with 5 columns defined using 1 COL element inside a COLGROUP. The COL
looks like this:
</p>
<tt>&lt;col width=100 span=5&gt;</tt>
<p>
This means that there are 5 columns, and each one should be 100 pixels wide. 
Because the columns are defined
"up front" with width data, the table should be displayed incrementally, as the rows are
downloaded over a modem. This improves perceived performance.
</p>
<table border="1">
<colgroup>
<col width=100 span=5>
</colgroup>
<tr>
<th>One
<th>Two
<th>Three
<th>Four
<th>Five
</tr>
<tr>
<td>Green
<td>Blue
<td>Yellow
<td>Purple
<td>Orange
</tr>
</table>
<br><br><br>
<h2>multiple cols with span attribute</h2>
<p>
Below is a table with 5 columns defined using 2 COL elements inside a COLGROUP. The COL
looks like this:
</p>
<tt>&lt;col width=75 span=3&gt;<br>
&lt;col width=150 span=2&gt;</tt>
<p>
This means that the first 3 columns should be 75 pixels wide each, and the subsequent
2 columns should be 150 pixels wide each. Because the columns are defined
"up front" with width data, the table should be displayed incrementally, as the rows are
downloaded over a modem. This improves perceived performance.
</p>
<table border="1">
<colgroup>
<col width=75 span=3>
<col width=150 span=2>
</colgroup>
<tr>
<th>One
<th>Two
<th>Three
<th>Four
<th>Five
</tr>
<tr>
<td>Green
<td>Blue
<td>Yellow
<td>Purple
<td>Orange
</tr>
</table>
</body>
</html>