Redirect permanent /quality/browser/front-end/testcases/keyboard-nav/typeaheadfind.html http://www.mozilla.org/access/type-ahead/testing
Redirect permanent /quality/browser/front-end/testcases/keyboard-nav/taf_acceptance.html http://www.mozilla.org/access/type-ahead/basic
Redirect permanent /quality/browser/front-end/testcases/keyboard-nav/taf_functional.html http://www.mozilla.org/access/type-ahead/full