Redirect permanent /projects/embedding/embedoverview/EmbeddingBasicsTOC.html http://developer.mozilla.org/en/docs/Gecko_Embedding_Basics#toc
Redirect permanent /projects/embedding/embedoverview/EmbeddingBasics.html http://developer.mozilla.org/en/docs/Gecko_Embedding_Basics
Redirect permanent /projects/embedding/embedoverview/EmbeddingBasics2.html http://developer.mozilla.org/en/docs/Gecko_Embedding_Basics#Why_Gecko
Redirect permanent /projects/embedding/embedoverview/EmbeddingBasics3.html http://developer.mozilla.org/en/docs/Gecko_Embedding_Basics#What_You_Need_to_Embed
Redirect permanent /projects/embedding/embedoverview/EmbeddingBasics4.html http://developer.mozilla.org/en/docs/Gecko_Embedding_Basics#Getting_the_Code
Redirect permanent /projects/embedding/embedoverview/EmbeddingBasics5.html http://developer.mozilla.org/en/docs/Gecko_Embedding_Basics#Understanding_the_Coding_Environment
Redirect permanent /projects/embedding/embedoverview/EmbeddingBasics6.html http://developer.mozilla.org/en/docs/Gecko_Embedding_Basics#XPCOM
Redirect permanent /projects/embedding/embedoverview/EmbeddingBasics7.html http://developer.mozilla.org/en/docs/Gecko_Embedding_Basics#XPIDL
Redirect permanent /projects/embedding/embedoverview/EmbeddingBasics8.html http://developer.mozilla.org/en/docs/Gecko_Embedding_Basics#XPConnect_and_XPT_files
Redirect permanent /projects/embedding/embedoverview/EmbeddingBasics9.html http://developer.mozilla.org/en/docs/Gecko_Embedding_Basics#String_classes
Redirect permanent /projects/embedding/embedoverview/EmbeddingBasics10.html http://developer.mozilla.org/en/docs/Gecko_Embedding_Basics#XUL.2FXBL
Redirect permanent /projects/embedding/embedoverview/EmbeddingBasics11.html http://developer.mozilla.org/en/docs/Gecko_Embedding_Basics#Choosing_Additional_Functionalities
Redirect permanent /projects/embedding/embedoverview/EmbeddingBasics12.html http://developer.mozilla.org/en/docs/Gecko_Embedding_Basics#What_Gecko_Provides
Redirect permanent /projects/embedding/embedoverview/EmbeddingBasics13.html http://developer.mozilla.org/en/docs/Gecko_Embedding_Basics#What_You_Provide
Redirect permanent /projects/embedding/embedoverview/EmbeddingBasics14.html http://developer.mozilla.org/en/docs/Gecko_Embedding_Basics#Common_Embedding_Tasks
Redirect permanent /projects/embedding/embedoverview/EmbeddingBasics16.html http://developer.mozilla.org/en/docs/Gecko_Embedding_Basics#Appendix:_Data_Flow_Inside_Gecko
