/* Document Defaults */

        a:active  { color: #0000CC}
        a:hover   { color: #CC0033}
        a:link    { color: #3366CC}
        a:visited { color: #9999CC}

        body
          { background-color: #FFFFFF;
            background-image: url(images/backgrnd.gif);
            color: #000000;
            font-family: Times New Roman, serif;
	      font-size: 1em
          }
        table, ul, ol
          { color: #000000;
            font-family: Verdana, Arial, Helvetica, sans-serif;
            font-size: .8em}
        .Body
          { color: #000000;
            font-size: 1em; font-style: normal; font-weight: normal;
            margin-left: 0em; margin-top: 0.5em; margin-bottom: 0.5em;
            text-align: left; text-indent: 0em; text-decoration: none;
            white-space: normal }
        .BodyRelative
          { color: #000000;
            font-size: 1em; font-style: normal; font-weight: normal;
            margin-left: 0em; margin-top: 0.5em; margin-bottom: 0.5em;
            text-align: left; text-indent: 0em; text-decoration: none;
            white-space: normal }
        .CellBody
          { color: #000000;
            font-size: 1em; font-style: normal; font-weight: normal;
            margin-left: 0em; margin-top: 0em; margin-bottom: 0em;
            text-align: left; text-indent: 0em; text-decoration: none;
            white-space: normal }
         .GroupTitlesIX
          { color: #003366;
            font-size: 22px; font-style: normal; font-weight: bold;
            margin-left: 0em; margin-top: 0.5em; margin-bottom: 0.5em;
            text-align: left; text-indent: 0em; text-decoration: none;
            white-space: normal }
	  .Head6
	    { color:  #003366;
		font-size: 1.2em; font-style: italic; font-weight: bold}
        .Heading1
          { color: #003366;
            font-size: 25px; font-style: normal; font-weight: bold;
            margin-left: 0em; margin-top: 0.5em; margin-bottom: 0.5em;
            text-align: left; text-indent: 0em; text-decoration: none;
            white-space: normal }
        .Heading2
          { color: #003366;
            font-size: 20px; font-style: normal; font-weight: normal;
            margin-left: 0em; margin-top: 0.5em; margin-bottom: 0.5em;
            text-align: left; text-indent: 0em; text-decoration: none;
            white-space: normal }
        .Heading3
          { color: #003366;
            font-size: 16px; font-style: normal; font-weight: bold;
            margin-left: 0em; margin-top: 0.5em; margin-bottom: 0.5em;
            text-align: left; text-indent: 0em; text-decoration: none;
            white-space: normal }
        .Heading4
          { color: #003366;
            font-size: 13px; font-style: italic; font-weight: bold;
            margin-left: 0em; margin-top: 0.5em; margin-bottom: 0.5em;
            text-align: left; text-indent: 0em; text-decoration: none;
            white-space: normal }
        .Indented1
          { color: #000000;
            font-size: 1em; font-style: normal; font-weight: normal;
            margin-left: 2.5em; margin-top: 0.5em; margin-bottom: 0.5em;
            text-align: left; text-indent: 0em; text-decoration: none;
            white-space: normal }
       
        .Level1IX
          { color: #000000;
            font-size: 1em; font-style: normal; font-weight: normal;
            margin-left: 2.5em; margin-top: 0em; margin-bottom: 0em;
            text-align: left; text-indent: 0em; text-decoration: none;
            white-space: normal }
        .Level2IX
          { color: #000000;
            font-size: 12px; font-style: normal; font-weight: normal;
            margin-left: 5em; margin-top: 0em; margin-bottom: 0em;
            text-align: left; text-indent: 0em; text-decoration: none;
            white-space: normal }
        .Level3IX
          { color: #000000;
            font-size: 12px; font-style: normal; font-weight: normal;
            margin-left: 7.5em; margin-top: 0em; margin-bottom: 0em;
            text-align: left; text-indent: 0em; text-decoration: none;
            white-space: normal }
        .Level4IX
          { color: #000000;
            font-size: 12px; font-style: normal; font-weight: normal;
            margin-left: 10em; margin-top: 0em; margin-bottom: 0em;
            text-align: left; text-indent: 0em; text-decoration: none;
            white-space: normal }
        .Level5IX
          { color: #000000;
            font-size: 12px; font-style: normal; font-weight: normal;
            margin-left: 12.5em; margin-top: 0em; margin-bottom: 0em;
            text-align: left; text-indent: 0em; text-decoration: none;}
        
	  .Preformatted
		{background-color: #CCCCCC; padding: 3pt}
        
        .TableTitle
          { color: #000000;
            font-size: 12px; font-style: italic; font-weight: bold;
            margin-left: 0em; margin-top: 0.5em; margin-bottom: 0.5em;
            text-align: center; text-indent: 0em; text-decoration: none;
            white-space: normal }
        .Title
          { color: #003366;
            font-size: 2em; font-style: normal; font-weight: bold;
            margin-left: 0em; margin-top: 0.5em; margin-bottom: 0.5em;
            text-align: center; text-indent: 0em; text-decoration: none;
            white-space: normal }
        .TOC1
          { color: #000000;
            font-size: 1.5em; font-style: normal; font-weight: bold;
            margin-left: 0em; margin-top: 0.25em; margin-bottom: 0.25em;
            text-align: left; text-indent: 0em; text-decoration: none;
            white-space: normal }
        .TOC2
          { color: #000000;
            font-size: 1.2em; font-style: normal; font-weight: normal;
            margin-left: 2.5em; margin-top: 0em; margin-bottom: 0em;
            text-align: left; text-indent: 0em; text-decoration: none;
            white-space: normal }
        .TOC3
          { color: #000000;
            font-size: 1.1em; font-style: normal; font-weight: normal;
            margin-left: 5em; margin-top: 0em; margin-bottom: 0em;
            text-align: left; text-indent: 0em; text-decoration: none;
            white-space: normal }
        .TOC4
          { color: #000000;
            font-size: 1em; font-style: normal; font-weight: normal;
            margin-left: 7.5em; margin-top: 0em; margin-bottom: 0em;
            text-align: left; text-indent: 0em; text-decoration: none;
            white-space: normal }
        .TOC5
          { color: #000000;
            font-size: .9em; font-style: normal; font-weight: normal;
            margin-left: 10em; margin-top: 0em; margin-bottom: 0em;
            text-align: left; text-indent: 0em; text-decoration: none;
            white-space: normal }

/* Footnote Marker Style */
        .Footnote
          { font-size: 8px; vertical-align: super }

