Redirect permanent /projects/embedding/GRE.html http://developer.mozilla.org/en/docs/GRE
Redirect permanent /projects/embedding/windowAPIs.html http://developer.mozilla.org/en/docs/Embedded_Dialog_API