Redirect permanent /projects/bonecho/index.html http://www.mozilla.com/firefox/
Redirect permanent /projects/bonecho/all-beta.html http://www.mozilla.com/firefox/all.html
Redirect permanent /projects/bonecho/all-rc.html http://www.mozilla.com/firefox/all.html
Redirect permanent /projects/bonecho/releases/2.0rc1.html http://en-US.www.mozilla.com/en-US/firefox/2.0/releasenotes/
Redirect permanent /projects/bonecho/releases/2.0rc2.html http://en-US.www.mozilla.com/en-US/firefox/2.0/releasenotes/
Redirect permanent /projects/bonecho/releases/2.0rc3.html http://en-US.www.mozilla.com/en-US/firefox/2.0/releasenotes/
