Redirect permanent /docs/docshell/mozilla_downloads.html http://developer.mozilla.org/en/docs/Overview_of_how_downloads_work
Redirect permanent /docs/docshell/mozilla_downloads.png http://developer.mozilla.org/wiki-images/en/e/eb/Mozilla_downloads.png
Redirect permanent /docs/docshell/mozilla_downloads_path2.png http://developer.mozilla.org/wiki-images/en/f/f5/Mozilla_downloads_path2.png
