Options FollowSymLinks MultiViews

RewriteEngine on
RewriteBase /support/
RewriteRule ^adblock(\.html)?$              http://www.mozilla.org/support/firefox/adblock [R=permanent]
RewriteRule ^(firefox/)?bugs(\.html)?$      http://developer.mozilla.org/en/docs/Bug_writing_guidelines [R=permanent]
RewriteRule ^(firefox/)?edit(\.html)?$      http://support.mozilla.com/kb/Editing+configuration+files [R=permanent]
RewriteRule ^(firefox/)?faq(\.html)?$       http://support.mozilla.com/tiki-wiki_rankings.php?limit=500&categId=1 [R=permanent]
RewriteRule ^firefox/index(\.html)?$        http://support.mozilla.com/ [R=permanent]
RewriteRule ^(firefox/)?keyboard(\.html)?$  http://support.mozilla.com/kb/Shortcuts [R=permanent]
RewriteRule ^(firefox/)?menu(\.html)?$      http://support.mozilla.com/kb/Menu+Reference [R=permanent]
RewriteRule ^(firefox/)?mouse(\.html)?$     http://support.mozilla.com/kb/Shortcuts [R=permanent]
RewriteRule ^(firefox/)?options(\.html)?$   http://support.mozilla.com/kb/Options+window [R=permanent]
RewriteRule ^(firefox/)?tips(\.html)?$      http://support.mozilla.com/ [R=permanent]
RewriteRule ^(firefox/)?forums(\.html)?$    http://support.mozilla.com/forum [R=permanent]
RewriteRule ^(firefox/)?profile(\.html)?$   http://support.mozilla.com/kb/Profiles [R=permanent]
RewriteRule ^firefox/                       http://support.mozilla.com/ [R=permanent]