/* css for hiding keyboard shortcuts for linux and mac (only show for windows) */

@import url("http://mozilla.org/css/base/content.css");
@import url("http://mozilla.org/css/cavendish/content.css");
@import url("http://mozilla.org/css/base/template.css");
@import url("http://mozilla.org/css/cavendish/template.css");
@import url("../support.css");


.kb_l, .kb_m, .kb_h, .kb_ml { display: none !important;}
.kb_w, .kb_wl  { display: inline !important;}
li#windows {font-weight: bold;}