Redirect permanent /projects/plugins/install-scheme.html http://developer.mozilla.org/en/docs/Installing_plugins_to_Gecko_embedding_browsers_on_Windows
Redirect permanent /projects/plugins/first-install-problem.html http://developer.mozilla.org/en/docs/Plugins:_The_first_install_problem
Redirect permanent /projects/plugins/xembed-plugin-extension.html http://developer.mozilla.org/en/docs/XEmbed_Extension_for_Mozilla_Plugins
Redirect permanent /projects/plugins/plugin-host-control.html http://developer.mozilla.org/en/docs/ActiveX_Control_for_Hosting_Netscape_Plug-ins_in_IE
Redirect permanent /projects/plugins/npruntime.html http://developer.mozilla.org/en/docs/Gecko_Plugin_API_Reference:Scripting_plugins
Redirect permanent /projects/plugins/npruntime-sample-in-visual-studio.html http://developer.mozilla.org/en/docs/Compiling_The_npruntime_Sample_Plugin_in_Visual_Studio
