BODY {
  font-family: arial, helvetica, geneva, swiss, sunsans-regular;
  font-size: 12pt;
  font-weight: none;
  text-decoration: none;
  color: 666666;
}

A {
 font-family: arial, helvetica, geneva, swiss, sunsans-regular;
 font-size: 12pt;
 font-weight: none;
 text-decoration: underline;
 color: 666666;
}

A:hover {
 text-decoration: none;
 color: 336699;
}

.HDR {
 font-family: Times;
 color: #000000;
 font-weight: bold;
}
