Redirect permanent /projects/camino/index.html http://caminobrowser.org/
Redirect permanent /projects/camino/welcome.html http://caminobrowser.org/welcome/
Redirect permanent /projects/camino/homepage.html http://caminobrowser.org/start/
Redirect permanent /projects/camino/feedback.html http://caminobrowser.org/contact/
Redirect permanent /projects/camino/docs/index.html http://caminobrowser.org/help/
Redirect permanent /projects/camino/development.html http://caminobrowser.org/contribute/
Redirect permanent /projects/camino/docs/profileprefs.html http://caminobrowser.org/documentation/hiddenprefs/
Redirect permanent /projects/camino/docs/proxies.html http://caminobrowser.org/documentation/proxy/
Redirect permanent /projects/camino/damagedBookmarks.html http://wiki.caminobrowser.org/QA:Damaged_Bookmarks
Redirect permanent /projects/camino/shortcuts.html http://caminobrowser.org/documentation/shortcuts/