/* global whitespace reset (leftjustified.net)  */
* { padding: 0; margin: 0; }
h1, h2, h3, h4, h5, h6, p, pre, blockquote, label, fieldset, address { margin: 1em 0; }
li, dd { margin-left: 2em; }
fieldset { padding: .5em; }
/* end whitespace reset */

body {
  padding: 15px 0 0 0;
  background-color: #fff;
  font-size: 11px;
  font-family: Lucida Grande, Verdana, sans-serif;
  color: #000;
  text-align: center;
}

a {
  color: #0577c1;
  text-decoration: none;
}

a:hover {
  color: #0577c1;
  text-decoration: underline;
}

img {
  font-size: 10px;
  border: 0px;
}

code {
  color: #090;
}

form {
  text-align: center;
  background: white;
  padding-bottom: 10px;
}

input[type="image"] {
  margin-bottom: -4px;
}

/* quotes */
blockquote {
  color: #4e4e4e;
  padding: 1em;
  margin: 0 0 1em 0;
  border: 1px solid #e2e2e2;
  background: #f1f1f1;
  font-weight: bold;
  font-size: 125%;
}

blockquote p {
  text-indent: -0.5em;
  margin: 0 0 .5em 0;
}

blockquote em {
  color: #000;
  font-size: 90%;
}

/* lists */
ul {
  list-style-image: url(/images/list_circle.png);
  padding: 5px 3px 10px 0;
  margin: 0;
}

ul ul {
  list-style-image: url(/images/list_triangle.png);
}

ul.left {
  float: left;
  clear: none;
  width: 49%;
  padding: 15px 0px;
}

ul.right {
  float: right;
  clear: none;
  width: 49%;
  padding: 15px 0px;
}

/* layout */
#wrapper {
  width: 600px;
  padding: 0;
  margin: 0 auto;
  text-align: left;
}

#header {
  margin: 0;
}

/* content section */
#main {
  /* clear: both; */
  float: left;
  width: 380px;
  padding-right: 20px;
}

#main * {
  line-height: 1.4em;
}

#main strong {
  font-weight: bolder;
  line-height: 1.2em;
  letter-spacing: 0.02em;
}

#main h2, #main h3, #main h4 {
  clear: both;
  font-size: 1.2em;
  border-bottom: 1px solid #000;
  padding-bottom: 1px;
  margin: 16px 0 2px 0;
}

/* sidebar */
#quickbar {
  margin-top: 10px;
  width: 200px;
  float: right;
  background: #f6f6f6;
}

#quickbar * {
  font-size: 100%;
  line-height: 1.4em;
}

#quickbar p {
  padding: 0.5em 7px;
  margin: 0;
}

#quickbar h2, #quickbar h3, #quickbar h4, #quickbar h5, #quickbar h6 {
  padding: 2px 0;
  margin: 0;
  background: #333 url(images/sidebar_header_back.gif) scroll;
  font-weight: normal;
  color: #fff;
  text-align: center;
}

#quickbar ul {
  padding: 6px 10px 7px;
}

#quickbar li {
  line-height: 1.1em;
  padding: 1px 0;
}

#quickbar ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
  list-style-image: none;
}

#quickbar ol.screenshot a {
  background: url(/images/window.png) no-repeat 7px center;
}

#quickbar ol a, #quickbar ol a:link, #quickbar ol a:visited {
  display: block;
  padding: 5px 0;
}
#quickbar ol a:hover {
  background-color: #e5e5e5;
  text-decoration: underline;
}

#quickbar ol li {
  padding: 0; 
  margin: 0;
  text-align: center;
}

#quickbar ol li a#current {
  background: #1688d1;
  color: #fff;
}

#quickbar dl {
  padding: 0.5em 7px;
  margin: 0;
}

#quickbar dl dt {
  font-weight: bold;
}

#quickbar dl dd {
  margin: 0;
  padding: 0 0 10px 0;
}

/* footer style */
#footer {	
  clear: both;
  padding: 5px 0 30px 0;
  border-top: 1px solid #000;
  text-align: center;
}

#footer ul {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

#footer li {
  display: inline;
  padding: 0 1em;
  margin: 0;
  border-right: 1px solid #000;
  text-align: center;
}

#footer li.last {
  border: none;
}

/* warning box style */
.warning {	
  padding: 1em;
  margin: 0 0 1em 0;
  border: 1px solid #ffe450;
  background: #fff9b0;	
}

.warning p {
  padding: 0;
  margin: 0;
}

.note p {
  padding: 0;
  margin: 0 0 1em 0;
}

/* displaying code excerpts */
blockquote.code {
  color: #000;
  padding: 0.5em;
  border: 1px dashed #f00;
  background: #ffefec;
}

pre.code {
  overflow: auto;
  margin: 1em .5em;
  padding: .2em;
  border: 1px solid #000;
}

.codeChanged {
  color: #f00;
}

/* IE 5 Mac-Only items \*//*/
#quickbar {
	margin: 41px 0 0 -400px;
}
/* end IE 5 Mac Only */
