table.tasks
  {
    border                : 1px solid #00B2EB;
    background-color      : #F0FAFE;
    font                  : 0.8em Tahoma, Verdana, Arial, sans-serif;
  }

tr.summary
  {
    background-color      : #94DFF7;
    font-weight           : bold;
    font-size             : 0.9em;
  }

td
  {
    padding               : 2px 4px 1px 4px;
  }

td.summary
  {
    -moz-binding          : url("tasksBindings.xml#summary");
    border-bottom         : 1px solid #00B2EB;
  }

td.priority
  {
    -moz-binding          : url("tasksBindings.xml#priority");
    width                 : 3em;
    border-bottom         : 1px solid #00B2EB;
  }

td.duration
  {
    -moz-binding          : url("tasksBindings.xml#duration");
    width                 : 5em;
    border-bottom         : 1px solid #00B2EB;
  }

td.complete
  {
    -moz-binding          : url("tasksBindings.xml#complete");
    width                 : 3em;
    border-bottom         : 1px solid #00B2EB;
  }
  
td.description
  {
    padding-bottom        : 5px;
  }  

.descriptions
  {
    vertical-align        : middle;
  }

#descriptions
  {
    border                : 1px solid #00B2EB;
    background-color      : #F0FAFE;
  }

#descriptions:hover:active
  {
    background-color      : #FFFFFF;
  }  
  
.checkbox-label
  { 
    font-size             : 0.6em;
    padding-left          : 0px;
  }  

#description-table
  {
    margin-bottom         : 4px;
    -moz-user-select      : none;
  }  