body { font-family: Arial;
font-size:20pt;
width:980px; overflow:hidden;}
h1 {
        font-size:36pt;
        font-weight: lighter;
        text-align:center}
h2{
        font-size:30pt;
        font-weight: lighter;
        }
h3{
        font-size:28pt;
        font-weight: lighter;
        }

.center{
              text-align:center}

.wrapper {height:100%}

.footer {position:absolute;
bottom:5px;
width:95%;}


.nextpage {
position:absolute;
bottom:0px;
right:2px;
border: solid 2px blue;
}
.previouspage {
position:absolute;
bottom:0px;
left:2px;
border: solid 2px blue;
}

ul li {padding-bottom:0px}
.mozi {
position:absolute;
top:0px;
right:2px;
}

pre {font-size:12pt;}
blockquote {font-style: italic}
#sec {background-color: #eeffff}
img.leftimage {display:block; margin-right:20px; float:left}
#screen {-moz-opacity:0.02; display:block; margin-left:auto; margin-right:auto;}
