Redirect permanent /products/camino/index.html http://caminobrowser.org/
Redirect permanent /products/camino/support/ http://caminobrowser.org/help/
Redirect permanent /products/camino/features/tipsTricks.html http://caminobrowser.org/help/
Redirect permanent /products/camino/features/searchCustomization.html http://caminobrowser.org/help/

Redirect permanent /products/camino/releases/0.8.html http://caminobrowser.org/releases/08/
Redirect permanent /products/camino/releases/0.8.4.html http://caminobrowser.org/releases/084/
Redirect permanent /products/camino/releases/0.8.5.html http://caminobrowser.org/releases/085/
Redirect permanent /products/camino/releases/0.9a1.html http://caminobrowser.org/releases/09a1/
Redirect permanent /products/camino/releases/0.9a2.html http://caminobrowser.org/releases/09a2/
Redirect permanent /products/camino/releases/1.0a1.html http://caminobrowser.org/releases/10a1/
Redirect permanent /products/camino/releases/1.0b1.html http://caminobrowser.org/releases/10b1/
Redirect permanent /products/camino/releases/1.0b2.html http://caminobrowser.org/releases/1.0b2/
Redirect permanent /products/camino/releases/1.0rc1.html http://caminobrowser.org/releases/1.0rc1/
Redirect permanent /products/camino/releases/1.0.html http://caminobrowser.org/releases/1.0/
Redirect permanent /products/camino/releases/1.0.1.html http://caminobrowser.org/releases/1.0.1/
Redirect permanent /products/camino/releases/1.0.2.html http://caminobrowser.org/releases/1.0.2/
Redirect permanent /products/camino/releases/1.0.3.html http://caminobrowser.org/releases/1.0.3/
Redirect permanent /products/camino/releases/1.0.4.html http://caminobrowser.org/releases/1.0.4/
