[%# News %]
[% 
	PROCESS "inc/header.html.tmpl" 
	title = "News" 
%]

<h1>News</h1>
	
	<p>Want to always keep up-to-date with Bugzilla news?  Subscribe to
        <b><a href="http://bugzilla.org/cgi-bin/mj_wwwusr?func=lists-long-full&amp;extra=announce">announce<!--
        blah -->&#64;<!-- blah -->bugzilla.org</a></b>, a read-only mailing list
        where we'll post announcements about new versions of Bugzilla and
        security advisories.</p>
	<p><b><a href="http://bugzilla.org/cgi-bin/mj_wwwusr?func=lists-long-full&amp;extra=announce">Subscribe / Browse Archives</a> &raquo;</b></p>

<h1>Current News</h1>

<h2>[ 2006 July 09 ] Release of Bugzilla 2.23.2</h2>

<p>Today we have a new development snapshot for you, Bugzilla 2.23.2.
  It has a lot of improvements and changes since 2.23.1, so we wanted
  to get it out and get it tested!</p>

<p>However, remember that this is a development release, and so
  it has <strong>not been thoroughly tested</strong>. You should only use
  it in a testing environment!</p>

<ul>
  <li><a href="../download/#v224">Download Bugzilla 2.23.2</a></li>
  <li>Read the latest <a href="../status/2006-07-09.html">Status
    Update</a>, which contains a description of what's new in this
    release.</li>
</ul>

<h2>[ 2006 April 22 ] Release of Bugzilla 2.22 (also 2.20.2 
  and 2.23.1)</h2>

<p>The Bugzilla Project is proud to announce the official release of
  Bugzilla 2.22. Bugzilla 2.22 is a major new feature release for
  Bugzilla, containing a large number of bug fixes and enhancements,
  including complete PostgreSQL support, UTF-8 support, user-impersonation
  capabilities, and more.</p>

<ul>
  <li><a href="../download/#v222">Download Bugzilla 2.22</a></li>
  <li>See a list of the <a href="../releases/2.22/new-features.html">New 
    Features</a> in Bugzilla 2.22.</li>
  <li>Read the <a href="../releases/2.22/release-notes.html">Release Notes</a>
    for Bugzilla 2.22 (<strong>especially important</strong> if you
    are upgrading).</li>
  <li>Read the latest <a href="../status/2006-04-22.html">Status Update</a>
    to see where the Bugzilla Project is heading and what's been going
    on in the last few months!</li>
</ul>

<p>We are also releasing <a href="../releases/2.20.2/">Bugzilla 2.20.2</a>, 
  a bug-fix release for the 2.20 branch, recommended for all 2.20 branch 
  users.</p>

<p>We also have a development snapshot, 
  <a href="../releases/2.24/">Bugzilla 2.23.1</a>, the branch which will 
  someday be released as 2.24 or 3.0.  This snapshot is <strong>not 
  tested</strong>, and should only be installed in a test environment.
  It's entirely possible that it contains a bug which will delete your 
  entire bug database. Or, it could be perfectly safe.  Since it hasn't
  been tested, nobody knows for sure. You Have Been Warned.</p>

<h2>[ 2006 February 20 ] Release of Bugzilla 2.22rc1, 2.20.1,
  2.18.5 and 2.16.11</h2>

<p>The Bugzilla Project is proud to announce our first 
<a href="../releases/2.22/">Release Candidate for Bugzilla 2.22</a>.
 Bugzilla 2.22 will be a major new feature release 
for Bugzilla, containing a large number of bug fixes and enhancements,

including complete PostgreSQL support, UTF-8 support, user-impersonation
capabilities, and <a href="../releases/2.22/new-features.html">many more
features</a>. Also see the <a href="../releases/2.22/release-notes.html">draft
Release Notes</a> for 2.22.</p>

<p>We are also releasing our first bug-fix release for the 2.20 series,
2.20.1. All users of the 2.20 series are highly recommended to
upgrade to 2.20.1, as it contains many improvements and fixes to the 
2.20 branch.</p>

<ul>
  <li><a href="../download/#v220">Download 2.20.1</a></li>
  <li>Read the <a href="../releases/2.20.1/release-notes.html">Release 
    Notes</a>.</li>
  <li>See <a href="../status/changes.html">a list of changes</a> between
    this release and previous versions.</li>
</ul>

<p>There are also two security releases, 
  <a href="../releases/2.18.5/">2.18.5</a> and 
  <a href="../releases/2.16.11/">2.16.11</a>.</p>

<p>Please note that this is very likely the final release on the 2.16 branch.
After Bugzilla 2.22 is released, there will be no more security updates
from the Bugzilla Project for the 2.16 branch.</p>


<h2>[ 2005 December 27 ] Security Advisory for 2.16.x Shadow Database Users</h2>

<p>We issued a <a href="../security/2.16.10-nr/">security advisory</a> today
for users of the shadow database feature in Bugzilla 2.16.10.  Newer versions
of Bugzilla are not affected, nor are you affected if you don't use a shadow
database.</p>

<h2>[ 2005 October 19 ] Bugzilla T-shirt Available</h2>

<p>We now have a
<a href="http://store.mozilla.org/product.asp?code=MZ13022&amp;catid=2">Bugzilla
T-shirt</a> available at the Mozilla Store.  It's a great way to support the
project and show off your cool taste in bug trackers to your friends!
Get yours today!</p>

<h2>[ 2005 September 30 ] Release of Bugzilla 2.20 (also 
    2.21.1 and 2.18.4)</h2>

<p>We are proud to announce the release of 
Bugzilla 2.20, a major new feature release for Bugzilla. 
Bugzilla 2.20 includes a large number of major new features,
and hundreds of small enhancements and bug fixes over Bugzilla 2.18.</p>

<ul>
  <li><a href="../download/#220">Download Bugzilla 2.20</a></li>
  <li>See the <a href="../releases/2.20/new-features.html">new features 
      in 2.20</a>.</li>
  <li>Read the <a href="../releases/2.20/release-notes.html">Release Notes</a>
      for Bugzilla 2.20. (This is <strong>particularly important</strong>
      if you are upgrading from an older version.)</li>
  <li>See <a href="../status/changes.html">a list of changes</a> between
      your version of Bugzilla and the current version.</li>
</ul>

<p>We also have two other releases, a security fix for the 2.18 series, 
   (Bugzilla 2.18.4),and our latest development snapshot 
   (Bugzilla 2.21.1).</p>

<p>For details on all the releases, see our new, very detailed
   <a href="../status/2005-09-30.html">Status Update</a>.</p>

<p>All of these releases fix security flaws discovered in older
   versions of Bugzilla. For details, read the 
   <a href="../security/2.18.3/">Security Advisory</a>.</p>

<p>There is no release on the Bugzilla 2.16 branch, because it was not
   affected by any of the security issues. 2.16 users should note that
   support for 2.16 will be totally discontinued with the release of
   Bugzilla 2.22, and so they are encouraged to ugprade to Bugzilla 2.20
   as soon as possible.</p>

<h2>[ 2005 August 08 ] Release of Bugzilla 2.20rc2</h2>

<p>We are proud to announce the second Release Candidate
of Bugzilla 2.20, a major new feature release for Bugzilla.</p>

<ul>
  <li><a href="../download/#candidate">Download 2.20rc2</a></li>
  <li>See the <a href="../releases/2.20/new-features.html">New 
      Features</a> in 2.20.</li>
  <li>Read the proposed <a href="../releases/2.20/release-notes.html">Release
      Notes</a> for Bugzilla 2.20.</li>
  <li>See <a href="../status/changes.html">a detailed list of changes</a> 
      between your version of Bugzilla and 2.20rc2.</li>
</ul>

<p>Bugzilla 2.20rc2 is recommended to be used for testing purposes only.
The final release of Bugzilla 2.20 will be shaped by your feedback
over the next few weeks.</p>

<p>You can see a list of <a href="http://tinyurl.com/9565b">still-open
   bugs that we mean to fix</a> before the final release of 
   Bugzilla 2.20.

<p>For those who want a stable version of Bugzilla, we recommend
   <a href="../download/#stable">Bugzilla 2.18.x</a>.</p>

<h2>[ 2005 July 09 ] Release of Bugzilla 2.18.3</h2>

<p>There was a bug in 2.18.2 that caused users to be unable to
   use the Search page, and possibly other pages as well.</p>

<p>This has been fixed with our release of 
   <a href="../releases/2.18.3/">2.18.3</a>:</p>

<ul>
   <li><a href="../download/#stable">Download</a> Bugzilla 2.18.3</li>
   <li>Read the <a href="../releases/2.18.3/release-notes.html">Release
       Notes</a> for 2.18.3</li>
</ul>

<h2>[ 2005 July 07 ] Release of Bugzilla 2.18.2 and 2.20rc1</h2>

<p>We are proud to announce the first <a href="../releases/2.20/">Release
Candidate of Bugzilla 2.20</a>, a major new feature release for Bugzilla. 
Bugzilla 2.20 includes support for PostgreSQL, a new "Large Attachment"
storage mechanism, a new level of bug classification, user-defined 
periodic reminders by email, and 
<a href="../releases/2.20/new-features.html">many other new features</a>.</p>

<p>Bugzilla 2.20rc1 is recommended to be used for testing purposes only.
The final release will be shaped by your feedback over the next few
weeks.</p>

<p>We are also releasing a bug-fix release for the 2.18 series, 
<a href="../releases/2.18.2/">2.18.2</a>.
The 2.18 series is recommended for users in production environments.
All users of the 2.18 series are recommended to upgrade to 2.18.2 as
soon as possible.</p>

<ul>
   <li><a href="../download/#stable">Download</a> Bugzilla 2.18.2</li>
   <li>Read the <a href="../releases/2.18.2/release-notes.html">Release
       Notes</a> for 2.18.2</li>
</ul>

<p>There is also a <a href="../security/2.18.1/">Security Advisory</a>
 for Bugzilla 2.18.1 and 2.19.3.</p>

<p>We would like to remind users of the 2.16 series that we expect
to stop maintenance on 2.16 around October 2005, so they should plan
to upgrade to 2.18 or 2.20 before then.</p>

<h2>[ 2005 May 18 ] Release of Bugzilla 2.16.10</h2>

<p>Under many circumstances, users could not enter a bug on 2.16.9.
This has been fixed with our release of 
<a href="../releases/2.16.10/">Bugzilla 2.16.10</a>:</p>

<ul>
    <li><a href="../download/#oldstable">Download</a> Bugzilla 2.16.10</li>
    <li>Read the <a href="../releases/2.16.10/release-notes.html">Release 
        Notes</a></li>
</ul>

<h2>[ 2005 May 11 ] Release of Bugzilla 2.18.1, 2.19.3, and 2.16.9</h2>

<p>Today we are releasing Bugzilla 2.18.1, a bug-fix release for the
2.18 series. It contains various useful bug and security fixes for 
the original 2.18 release.</p>

<p>We are also releasing a <em>very unstable</em> development snapshot,
2.19.3, for those who want to track the bleeding edge of Bugzilla
development. We expect our next development release after this to be 
Release Candidate 1 (2.20rc1).</p>

<p>Finally, there is a security-fix release for the old 2.16 series, version
2.16.9. Users of 2.16 are still encouraged to upgrade to 2.18 as soon
as it is possible.</p>

<ul>
    <li><a href="../download/">Download</a> the new versions.</li>
    <li>Read the <a href="../releases/2.18.1/release-notes.html">Release 
        Notes</a> for 2.18.1.</li>
    <li>See the <a href="../status/changes.html">changelog</a> for the new versions.</li>
    <li>Read the <a href="../security/2.16.8/">Security Advisory</a> for the
        new releases.</li>
</ul>

<p>And read our latest 
<a href="http://www.bugzilla.org/status/2005-05-11.html">Status Update</a>!
It contains a lot of useful information, particularly about the 
latest development release (which has no release notes besides this 
Status Update).</p>


<h2>[ 2005 Jan 15 ] Release of Bugzilla 2.18 (also 2.19.2 and 2.16.8)</h2>

<p>
    After over two years of work, the Bugzilla Team is pleased to 
    announce the release of Bugzilla 2.18. Bugzilla 2.18 is our 
    best release yet, with over 1000 bug fixes and improvements since 2.16.
</p>
<ul>
    <li><a href="../releases/2.18/new-features.html">New features</a></li>
    <li><a href="../download/#stable">Download page</a></li>
    <li><a href="../releases/2.18/release-notes.html">2.18 Release notes</a></li>
    <li><a href="../releases/2.18/">2.18 Release information</a></li>
</ul>
<p>
    Also released is <a href="../download/#devel">development snapshot 2.19.2</a>,
    and the latest bugfix release for 2.16: 
    <a href="../releases/2.16.8/">version 2.16.8</a>.
</p>

<p>We have also posted a new <a href="../status/2005-01-15.html">status update</a>
to help keep everyone informed of where the project is heading.</p>

<h2>[ 2005 Jan 14 ] Bugzilla receives award from Game Developer Magazine</h2>

<div style="float:left;margin-right:10px;"><img src="../img/fla1.jpg"></div>
<p>
<a href="http://www.cmpgame.com/">CMP Media</a>, publisher of <a href="http://www.gdmag.com/">Game Developer Magazine</a>, 
has issued a <a href="http://www.prnewswire.com/cgi-bin/stories.pl?ACCT=109&amp;STORY=/www/story/01-13-2005/0002825808&amp;EDATE=">press
release</a> announcing the winners of the seventh annual Front Line Awards,
honoring excellence and innovation in tools for game development in 2004.
Bugzilla was given an award for the Programming category.  The full list of
awards will be featured in their January 2005 issue.</p>
<div style="clear:both;"></div>

<h2>[ 2005 Jan 06 ] Cross-site scripting vulnerability in Bugzilla 2.16.7 and 2.18rc3</h2>

<p>We've released a <a href="../security/2.16.7-nr/">security advisory</a> and
<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=272620">patches</a> for a
potential cross-site scripting issue with Bugzilla's error messages.  Not all
browsers are affected, but to protect all of your users, applying the patches is
recommended.  These fixes will be included in the upcoming 2.16.8 and 2.18 releases
as well as the next snapshot from the trunk (either 2.20rc1 or 2.19.2).</p>


<h2>[ 2004 Oct 24 ] Bugzilla 2.16.7, 2.18rc3, and 2.19.1 are available</h2>

<p>
The Bugzilla Team is please to announce the release of our third release
candidate for Bugzilla 2.18.  This release will be shaped by your feedback
over the next few weeks.
</p>
<p>
Also released are stable version 2.16.7 and development snapshot version 2.19.1.  All three releases fix a few security
issues.
</p>
<ul>
  <li><a href="../security/2.16.6/">Security Advisory</a></li>
  <li><a href="../releases/2.18/">2.18 Release information</a></li>
  <li><a href="../releases/2.16.7/release-notes.html">2.16.7 Release notes</a></li>
  <li><a href="../download/">Download page</a><br></li>
</ul>
<p>We are doing a 3rd release candidate because there was a major change to the
group security mechanisms in the Charting code.  We would appreciate any testing,
particularly related to the new "Charts over time" code using groups to limit access
to charts.</p>

<p>We have also posted a new <a href="../status/2004-10-24.html">status update</a>
to help keep everyone informed of where the project is heading.</p>

<h2>[ 2004 Oct 13 ] Brazilian Portuguese localization updated for 2.18rc2</h2>

<p>Felipe Gaúcho has announced the availability of the 2.18rc2 version of the
pt_BR localization pack.  You can find it listed on the 
<a href="../download/#localizations">Bugzilla download page</a> or on 
<a href="http://sourceforge.net/projects/bugzilla-br/">the Brazilian localization
project site</a>.</p>

<p>The localization pack is also available via Sourceforge's CVS.  Access
details are on the project site.</p>

<h2>[ 2004 Sep 22 ] Bugzilla-Submit 0.6 Released</h2>

<p>
<a href="http://www.async.com.br/~kiko/">Christian Reis</a> has
released a new version of
<a href="http://www.bugzilla.org/download/#utils">bugzilla-submit</a>,
a command-line utility to post new bugs to a Bugzilla installation.
This version fixes issues with .netrc parsing of base URLs, Python
version checking and processing of Operating-System and URL fields.
It also include text and manpage versions of the documentation (which
was only available as XML source in previous versions).
</p>
<p>
Note that bugzilla-submit requires Python 2.3. Bug reports should go
to <a href="https://bugzilla.mozilla.org/enter_bug.cgi?product=Bugzilla&amp;component=Bugzilla+General">bugzilla.mozilla.org</a>. 
</p>

<h2>[ 2004 Jul 27 ] Bugzilla 2.18rc2 Released</h2>

<p>
Our second release candidate for Bugzilla 2.18 is now available.  There are
a few major issues addressed that snuck into 2.18rc1, so if you're already
running 2.18rc1, an upgrade is strongly recommended.  Information about what's
new and what's still left to fix is on the <a href="../releases/2.18/">2.18
Release Status page</a>.
</p>

<h2>[ 2004 Jul 10 ] Bugzilla 2.16.6 and 2.18rc1 Released</h2>

<p>
The Bugzilla Team is please to announce the release of our first release
candidate for Bugzilla 2.18.  This release will be shaped by your feedback
over the next few weeks.
</p>
<p>
Also released is version 2.16.6.  Both releases fix a number of security
issues.
</p>
<ul>
  <li><a href="../security/2.16.5/">Security Advisory</a></li>
  <li><a href="../releases/2.18rc1/release-notes.html">2.18rc1 Release notes</a></li>
  <li><a href="../releases/2.16.6/release-notes.html">2.16.6 Release notes</a></li>
  <li><a href="../download/">Download page</a><br></li>
</ul>
<p>The 2.18rc1 release is also the first to offer installation on Windows without
modification of Bugzilla itself.  See the download page for details.</p>

<p>We have also posted a new <a href="../status/2004-07-10.html">status update</a>
to help keep everyone informed of where the project is heading.</p>

<h2>[ 2004 Mar 21 ] Bugzilla 2.16.x documentation now available as PDF</h2>

<p>
A long-standing bug in the 2.16 branch documentation sources has been knocked
out, and we're now pleased to offer the 2.16 documentation in PDF format on the
<a href="../docs/">documentation page</a>. The 2.17.x documentation
has been available this way for a while now.
</p>

<h2>[ 2004 Mar 03 ] Bugzilla 2.17.7 and 2.16.5 Released</h2>

<p>
The Bugzilla Team is pleased to announce the release of the
Bugzilla 2.17.7 developer snapshot.  For details on the newest features and
bugfixes, see the <a href="../status/2004-03-03.html">new status update</a>.
</p>
<p>
Also released today is Bugzilla 2.16.5.  Version 2.16.5 is the latest stable
Bugzilla release, and contains fixes to a regression and some compatibility
issues in Bugzilla 2.16.4.
</p>

<ul>
  <li><a href="../releases/2.16.5/release-notes.html">2.16.5 Release notes</a></li>
  <li><a href="../download/">Download page</a><br></li>
</ul>

<h2>[ 2004 Mar 03 ] bugzilla-submit 0.5 posted</h2>

<p>
<a href="http://www.async.com.br/~kiko/">Christian Reis</a> and
<a href="http://www.catb.org/~esr/">Eric S. Raymond</a> have released an
initial version of
<a href="../download/#utils">bugzilla-submit</a>, a command-line
utility to post new bugs to a Bugzilla installation.  We'd like to invite
testing and feedback on the tool and its functionality; note that it requires
Python 2.3. Post bug reports as usual to
<a href="http://bugzilla.mozilla.org/">bugzilla.mozilla.org</a>.
</p>

<h2>[ 2003 Nov 09 ] Bugzilla 2.17.6 Released</h2>

<p>
We had a small "oops" with the 2.17.5 release, whereas one of the new features
that was introduced also introduced a new security hole.  For the full details,
read the <a href="../security/2.17.5/">security advisory</a>.  Note that this
affects <b>version 2.17.5 only</b> and the current stable <b>version 2.16.4 is
not affected</b>.  Since this is the development branch, there have been other
checkins besides the security fix.  For a complete list, click the "2.17.5 &rarr;
2.17.6" link on the <a href="../status/changes.html">changelog page</a>.  Version 2.17.6
is available on the <a href="../download/#devel">download page</a>.
</p>

<h2>[ 2003 Nov 02 ] Bugzilla 2.16.4, 2.17.5 Released</h2>

<p>
The Bugzilla Team is pleased to announce the release of the
Bugzilla 2.17.5 developer snapshot.  For details on the newest features and
bugfixes, see the <a href="../status/2003-11-02.html">new status update</a>.
The 2.17.5 snapshot also contains multiple security fixes.
</p>
<p>
Also released today is Bugzilla 2.16.4.  Version 2.16.4 is the latest stable Bugzilla
release, and fixes multiple security bugs in Bugzilla 2.16.3.  Read the security
advisory below for details.
</p>

<ul>
  <li><a href="../releases/2.16.4/release-notes.html">2.16.4 Release notes</a></li>
  <li><a href="../security/2.16.3/">Security Advisory</a></li>
  <li><a href="../download/">Download page</a><br></li>
</ul>


<h2>[ 2003 Oct 01 ] Korean Localization Available</h2>

<p>
The <a href="../download/#localizations">download page</a> has been updated
with a Korean localization for Bugzilla 2.16.3.
</p>

<h2>[ 2003 Sep 14 ] New Localizations Available</h2>

<p>
The <a href="../download/#localizations">download page</a> has been updated
with additional localizations of Bugzilla.
</p>
New Languages:
<ul style="margin:0px;">
  <li>Belarusian (2.16.3)</li>
  <li>French (2.16.2)</li>
</ul>
Updated versions:
<ul style="margin:0px;">
  <li>Chinese (2.17.4)</li>
</ul>
<p>Many thanks to the localizers for taking on this thankless job!</p>

<h2>[ 2003 Apr 24 ] Bugzilla 2.16.3, 2.17.4 Released</h2>

<p>
The Bugzilla Team is pleased to announce the release of the
Bugzilla 2.17.4 developer snapshot.  For details on the newest features and
bugfixes, see the <a href="../status/2003-04-24.html">new status update</a>.
The 2.17.4 snapshot also contains multiple security fixes.
</p>
<p>
Also released today is Bugzilla 2.16.3.  2.16.3 is the latest stable Bugzilla
release, and fixes multiple security bugs in Bugzilla 2.16.2.  Read the security
advisory below for details.
</p>

<ul>
  <li><a href="../releases/2.16.3/release-notes.html">2.16.3 Release notes</a></li>
  <li><a href="../security/2.16.2/">Security Advisory</a></li>
  <li><a href="../download/">Download page</a><br></li>
</ul>

<h2>[ 2003 Jan 16 ] Bugzilla Getting Exposure at LinuxWorld</h2>

<p>
<a href="http://www.bugopolis.com/">Bugopolis</a> is showing off their Bug
Station, a server hardware product that comes with Bugzilla pre-installed on
it, at the <a href="http://www.linuxworldexpo.com/">LinuxWorld expo</a> next
week.  IDG (the event promoters) announced today that the Bug Station was a
finalist in the LinuxWorld Open Source Product Excellence Awards, in the
<i>Best Developer Tools</i> category.  The Bugzilla Team offers their
congratulations to Bugopolis for becoming a finalist, and best wishes at the
show!
<a href="http://www.linuxworldexpo.com/linuxworldny03/V33/press.cvn?id=11&amp;p_id=10">Read IDG's press release</a>.
</p>

<h2>[ 2003 Jan 02 ] Bugzilla 2.16.2, 2.17.3 Released</h2>

<p>
The Bugzilla Team is pleased to announce the release of the
Bugzilla 2.17.3 developer snapshot.  For details on the newest features and
bugfixes, see the <a href="../status/2003-01-02.html">new status update</a>.
</p>
<p>
Also released today is Bugzilla 2.16.2.  2.16.2 is the latest stable Bugzilla
release, and fixes two security bugs in Bugzilla 2.16.1.  Read the security
advisory below for details.
</p>

<ul>
  <li><a href="../releases/2.16.2/release-notes.html">2.16.2 Release notes</a></li>
  <li><a href="../security/2.16.1/">Security Advisory</a></li>
  <li><a href="../download.html">Download page</a><br></li>
</ul>

<h2>[ 2003 Jan 02 ] Bugzilla 2.14.5 to be the last 2.14 release</h2>

<p>
The Bugzilla Team has released Bugzilla 2.14.5 today to address two security
issues which were recently discovered.  As we've been warning for the last
several months, we are no longer supporting the 2.14 branch as of the end of
2002, so this release marks the last for the 2.14 line.  All sites who haven't
already done so are strongly encouraged to upgrade to 2.16.2 so you can
continue to receive security updates.
</p>

<ul>
  <li><a href="../releases/2.14.5/release-notes.html">Release notes</a></li>
  <li><a href="../security/2.16.1/">Security Advisory</a></li>
  <li><a href="../download/">Download page</a></li>
</ul>

<h2>[ 2002 Nov 25 ] Bugzilla 2.17.1 Developer Snapshot available</h2>

<p>
The Bugzilla 2.17.1 developer snapshot is now available on the
<a href="../download/">download page</a>.
</p>

<h2>[ 2002 Nov 18 ] New Status Update</h2>

<p>
We'll be releasing a development snapshot tarball of Bugzilla 2.17.1 soon.
We've taken a moment in the mean-time to bring you up-to-date with what's
been going on in Bugzilla since our last release.  Read all about it in our
current <a href="../status/2002-11-18.html">status update</a>.
</p>

<h2>[ 2002 Oct 01 ] Bugzilla 2.16.1 Released</h2>

<p>
The Bugzilla Team is pleased to announce the release of Bugzilla 2.16.1.
2.16.1 is the latest stable Bugzilla release, and fixes a number of security
bugs and other defects in Bugzilla 2.16, originally released on July 28th.  
</p>

<p>
There is also a new <a href="../status/2002-10-01.html">status update</a> available.
</p>

<ul>
  <li><a href="http://groups.google.com/groups?group=netscape.public.mozilla.webtools&amp;selm=p05111a05b9bf7e16d659%40%5B192.168.1.203%5D">Release announcement</a></li>
  <li><a href="../releases/2.16.1/release-notes.html">Release notes</a></li>
  <li><a href="../security/2.16/">Security Advisory</a></li>
  <li><a href="../download/">Download page</a></li>
</ul>

<h2>[ 2002 Oct 01 ] Bugzilla 2.14.4 Released</h2>

<p>
The Bugzilla Team announces the release of Bugzilla 2.14.4.
2.14.4 is the latest release on the 2.14 branch and fixes two security bugs 
involving groups and email and a bug involving the bug_email.pl script.
</p>

<ul>
  <li><a href="http://groups.google.com/groups?group=netscape.public.mozilla.webtools&amp;selm=p05111a04b9bf7c887924%40%5B192.168.1.203%5D">Release announcement</a></li>
  <li><a href="../releases/2.14.4/release-notes.html">Release notes</a></li>
  <li><a href="../security/2.16/">Security Advisory</a></li>
  <li><a href="../download/">Download page</a></li>
</ul>

<h2>[ 2002 Jul 28 ] Bugzilla 2.16 Released</h2>

<p>
  The Bugzilla Team is relieved and pleased to finally announce the release of
  Bugzilla 2.16, and also a new
  <a href="../status/2002-07-28.html">status update</a>. 
  The product of 11 months of hard work, Bugzilla 2.16 is the
  first release of Bugzilla to have a templatised UI, allowing administrators
  easily to customise the look and feel of their Bugzilla without editing
  Perl code.
</p>

<ul>
  <li><a href="http://groups.google.com/groups?q=&amp;hl=en&amp;lr=&amp;ie=UTF-8&amp;oe=UTF-8&amp;selm=p05111a01b969ca075018%40%5B192.168.1.203%5D&amp;rnum=1">Release announcement</a></li>
  <li><a href="../releases/2.16/release-notes.html">Release notes</a></li>
  <li><a href="../download/">Download page</a></li>
</ul>

<p>
  There are no security fixes in 2.16 that were not in 2.16rc2 - but anyone
  running a version of Bugzilla older than that needs to read the
  <a href="../security/2.14.2/">2.16rc2 and 2.14.2 security advisory</a> 
  and previous advisories. Bugzilla 2.16 is the best Bugzilla, and the
  Bugzilla team strongly recommends its use over all other versions.
</p>

<h2>[ 2002 Jul 28 ] Bugzilla 2.14.3 Released</h2>

<p>
  Due to a small "brown bag" issue in 2.14.2, 2.14.3 has been released. 
  This release contains two extra fixes to 2.14.2 - we fixed column sorting
  in buglists, and made a system call in the optional, unsupported, contributed
  email subsystem more secure.
</p>

<p>
  The 2.14.x branch is Bugzilla's older stable branch. New installations
  and upgraders are strongly recommended to use 2.16.
</p>
  
<ul>
  <li><a href="http://groups.google.com/groups?q=Bugzilla+2.14.3&amp;hl=en&amp;lr=&amp;ie=UTF-8&amp;oe=UTF-8&amp;selm=p05111a03b969cbcaba10%40%5B192.168.1.203%5D&amp;rnum=2">Release announcement</a></li>
  <li><a href="../releases/2.14.3/release-notes.html">Release notes</a></li>
  <li><a href="../download/">Download page</a></li>
</ul>

<h2>[ 2002 Jun 08 ] Bugzilla 2.16 Release Candidate 2 and Bugzilla 2.14.2 are now available</h2>

<p>Based on feedback from Bugzilla 2.16rc1, and some recent security issues
that were found, we've now made available a second release candidate for 2.16
as well as a security update for the 2.14 branch.  All of the security fixes
are also included in 2.16rc2.  For details, see the following links:
</p>
<ul>
<li><a href="http://groups.google.com/groups?as_umsgid=p05111700b92746d4c9f6%40[10.0.1.203]&amp;hl=en">Bugzilla 2.16rc2 release announcement</a></li>
<li><a href="../releases/2.14.2/release-notes.html">Bugzilla 2.14.2 release notes</a></li>
<li><a href="../security/2.14.2/">Security Advisory</a></li>
</ul>
<p>Check out the <a href="../download/">download page</a> for links to download
or update to it.  Unless any major problems are found, this is what we'd like
to release as version 2.16.</p>

<h2>[ 2002 May 10 ] Bugzilla 2.16 Release Candidate 1 is now available</h2>

<p>At long last and after much banging of heads against walls, we are proud to
announce the availability of a release candidate for Bugzilla 2.16.  Check
out the <a href="../download/">download page</a> for links to download or
update to it.  Unless any major problems are found, this is what we'd like 
to release as version 2.16.  Be sure to check out our latest
<a href="../status/">status update</a> before downloading.
</p>

<h2>[ 2002 Mar 03 ] New Guides available and another status update</h2>

<p>
We've added a Developers' Guide and a Reviewers' Guide to our
"<a href="../developers/">Developer Resources</a>" page to assist those
interested in getting involved to get to know how we do things.
</p>
<p>
We also have a long awaited <a href="../status/2002-03-03.html">status
update</a> to explain why we still haven't released Bugzilla 2.16.
</p>

<h4><a href="../news/old.html">Older news</a></h4>

[% PROCESS "inc/footer.html.tmpl" %]
