#mozillaLogo {
 visibility: hidden;
 width: 0px;
 height: 0px;
}

#dinoHead {
 float: right;
}

#dinoTail {
 visibility: hidden;
 width: 0px;
 height: 0px;
}

#stylesheets {
 display: none;
}

#nag a img {
 border: 0px;
}

.warning {
 font-weight: bold;
 color: red;
 background-color: inherit;
}

.table {
 display: table;
}

.cell {
 display: table-cell;
}

.addon {
 padding-bottom: 2em;
}

.back a img {
 border: 0px;
 padding: 0px 4px 0px 0px;
}

.back a:first-child {
 padding-right: 0.5ex;
 margin-right: 0.7ex;
 border-right: 1px solid black;
}
