body {
 color: black;
 background-color: #6699CC;
 padding: 0px;
 margin: 0px;
 font-family: "Trebuchet MS", "Gill Sans", Verdana, sans-serif;
}

h1 {
 padding-top: .5em;
 text-align: center;
 width: 100%;
 margin: 0;
}

h3 {
 text-indent: .5em;
}

:link {
 color: #666699;
 background-color: inherit;
}

:visited {
 color: #666666;
 background-color: inherit;
}

:link:hover, :visited:hover {
 text-decoration: underline;
 color: black;
 background-color: inherit;
}

ul.linklist {
 list-style-type: none;
 padding: 0;
 margin: 0;
 white-space: nowrap;
}

ul.linklist>li {
 padding-bottom: .5em;
}

.sectionHeaderContainer {
 margin-left: 9%;
 margin-right: 9%;
}

.sectionHeader {
 padding-bottom: 3px;
}

.section {
 background-color: #CCCCFF;
 color: black;
 border: 1px solid #666666;

 margin-left: 9%;
 margin-right: 9%;
}

.table {
 display: table;
 margin-left: auto;
 margin-right: auto;
}

.row {
 display: table-row;
}

.cell {
 display: table-cell;
}

.rightCell {
 padding: 0px 1em 0px 1em;
 width: 100%;
}

.leftCell {
 float: left;
 padding: 0px 1em 0px 1em;
 width: 50%;
}

.partyList {
 display: table;
 width: 100%;
}

.partyrightCell {
 display: table-cell;
 padding: 0px 1em 0px 1em;
}

.partyleftCell {
 display: table-cell;
 padding: 0px 1em 0px 1em;
 width: 50%;
}

.screen {
 padding: 1em;
 background-color: #9999CC;
 color: black;
 font-family: "lucida console", monospace;
 font-size: smaller;
}

.warning {
 font-size: 2em;
 color: red;
 background-color: inherit;
}

.addon {
 border: 1px solid #666666;
 padding: 5px;
 margin-top: 7px;
 margin-bottom: 1em;
}

.addonTitle {
 font-weight: bold;
 display: block;
}

.spacer {
 margin-top: 1em;
}

.doubleSpacer {
 margin-top: 2em;
}

#mainHeaderContainer {
 padding-top: 4px; /* Need this here to stop collapsing */
}

#mainHeader {
 margin-top: 99px;
 left: 15px;
 height: 25px;
 font-size: 1.2em;
}

#mainHeader a img {
 border: 0px;
}

#mozillaLogo {
 padding-top: 1px;
 padding-left: 6px;
}

#mainSection {
}

#mainContent {
 margin-left: auto;
 margin-right: auto;
 width: 85%;
 padding: 0.5em;
 color: black;
 background-color: inherit;
}

#footer {
 text-align: right;
}

#dinoHead {
 float: right;
}

#dinoTail {
 visibility: hidden;
 width: 0px;
 height: 0px;
}

#textDescription {
 overflow: auto;
}

#stylesheets {
 font-size: 0.8em;
 margin-left: 9%;
 display: none;
}

#bluestyle {
 color: #666666;
 background-color: inherit;
}

#copyright {
 margin-left: 9%;
 font-size: small;
}

#nag a img {
 border: 0px;
}

/* faq */

.back {
 padding-bottom: 3em;
 text-align: right;
}

.back img {
 width: 1.2ex;
 height: 1.2ex;
 border: 0px;
 padding-right: 0.4ex;
}

.back a {
 padding: .2em;
}

.faqs>dt {
 margin-bottom: .5em;
 font-weight: bold;
}

.faqs > dt.unselected > :link, .faqs > dt > :visited  {
	text-decoration: none;
}

.faqs > dt.unselected > :link:hover, .faqs > dt > :visited:hover {
 text-decoration: none;
 color: black;
 background-color: inherit;
}

.faqs>dd {
 margin-left: 0px;
 padding-left: 2em;

}

.content {
 margin-left: auto;
 margin-right: auto;
 width: 95%;
 padding: 0.5em;
 color: black;
 background-color: inherit;
}

/* End Faq */

@media print {

 .section {
  margin-left: 0px;
  margin-right: 0px;
  background-color: transparent;
 }

 .addon {
  color: black;
  background-color: transparent;
  border: 3px double black;
  padding: 5px;
  margin-top: 7px;
  margin-bottom: 1em;
 }

 #mainHeaderContainer {
  margin-left: 5%;
  margin-right: 5%;
 }

 #stylesheets {
  display: none;
 }

 #copyright {
  text-align: center;
  font-size: small;
 }

}
