body {
 color: black;
 background-color: #CC6600;
 padding: 0px;
 margin: 0px;
 font-family: "Trebuchet MS", "Gill Sans", Verdana, sans-serif;
}

h1 {
 padding-top: .5em;
 text-align: center;
 width: 100%;
 margin: 0;
}

:link {
 color: #CC6600;
 background-color: inherit;
}

:visited {
 color: #773300;
 background-color: inherit;
}

:link:hover, :visited:hover {
 text-decoration: underline;
 color: #FF2800;
 background-color: inherit;
}

ul.linklist {
 list-style-type: none;
 padding: 0;
 margin: 0;
 white-space: nowrap;
}

ul.linklist>li {
 padding-bottom: .5em;
}

.sectionHeader {
 background-color: #F0A300;
 color: black;
 border: 10px solid black;
}

.section {
 background-color: #FFCC99;
 color: black;
 border: 4px solid black;
 border-top: 0px;
 margin-left: 16%;
 margin-right: 14%;
}

.table {
 display: table;
 margin-left: auto;
 margin-right: auto;
}

.row {
 display: table-row;
}

.cell {
 display: table-cell;
}

.rightCell {
 padding: 0px 1em 0px 1em;
 width: 100%;
}

.leftCell {
 float: left;
 padding: 0px 1em 0px 1em;
 width: 50%;
}

.screen {
 margin-left: 1em;
 margin-right: 1em;
 padding: 1em;
 background-color: #fda;
 color: black;
 font-family: "lucida console", monospace;
 font-size: smaller;
}

.screen var {
 color: #f0f;
 background-color: inherit;
}

.faqs>dt {
 margin-bottom: .5em;
}

.addon {
  border: 3px black double;
  padding: 5px;
  margin-top 7px;
  margin-bottom: 7px;
}

.addonTitle {
  font-weight: bold;
  display: block;
}
  
#mainHeaderContainer {
 padding-top: 4px; /* Need this here to stop collapsing */
 margin-left: 14%;
 margin-right: 14%;
}

#mainHeader {
 margin-top: 91px;
 left: 15px;
 height: 25px;
}

#mozillaLogo {
 padding-top: 1px;
 padding-left: 6px;
}

#mainSection {
 border-right-width: 10px;
 min-width: 372px;
}

#mainContent {
 margin-left: auto;
 margin-right: auto;
 width: 85%;
 padding: 0.5em;
 color: black;
 background-color: inherit;
}

#footer {
 text-align: right;
}

#dinoHead {
 display: none;
}

#dinoTail {
 display: none;
}

#textDescription {
 overflow: auto;
}

@media print {

 #mainHeaderContainer {
  margin-left: 5%;
  margin-right: 5%;
 }

 .section {
  margin-left: 7%;
  margin-right: 5%;
 }

}
