ExpiresActive on
ExpiresDefault "access plus 10 minutes"
Redirect permanent /about.html http://www.mozilla.org/about/roles
Redirect permanent /blue-sky.html http://www.mozilla.org/blue-sky/
Redirect permanent /bugs.html   http://www.mozilla.org/bugs/
Redirect permanent /bugs/changes.html http://www.bugzilla.org/status/changes.html
Redirect permanent /bugs/report.html http://www.mozilla.org/quality/bug-writing-guidelines.html
Redirect permanent /bugs/source.html http://www.bugzilla.org/
Redirect gone /catalog/end-user/release
Redirect permanent /community/user-forums.html http://www.mozilla.org/support/#community
Redirect permanent /cvs.html http://developer.mozilla.org/en/docs/Mozilla_Source_Code_Via_CVS
Redirect permanent /docs.html   http://www.mozilla.org/docs/
Redirect permanent /docs/contribute.html http://www.mozilla.org/contribute/writing/process
Redirect permanent /docs/extendmoz.html http://www.mozilla.org/projects/plugins/
Redirect permanent /docs/how-to-document.html http://www.mozilla.org/contribute/writing/how-to
Redirect permanent /docs/lxr-comments.html http://www.mozilla.org/contribute/writing/lxr-comments
Redirect permanent /docs/mdp/index.html http://www.mozilla.org/contribute/writing/
Redirect permanent /docs/netlib/new-handler.html http://www.mozilla.org/projects/netlib/new-handler.html
Redirect permanent /docs/plugin.html http://www.mozilla.org/projects/plugins/
Redirect permanent /docs/refList/refNSPR/ http://www.mozilla.org/projects/nspr/reference/html/
Redirect permanent /download/ http://www.mozilla.org/download.html
Redirect permanent /download-mozilla.html http://developer.mozilla.org/en/docs/Download_Mozilla_Source_Code
Redirect permanent /glimpsesearch.html http://lxr.mozilla.org/
Redirect permanent /index2.html http://www.mozilla.org/
Redirect permanent /old-roadmap.html http://www.mozilla.org/roadmap/
Redirect permanent /other-projects.html http://www.mozilla.org/projects/other-projects.html
Redirect permanent /owners-js.html http://www.mozilla.org/owners.html
Redirect permanent /products/mozilla1.x/download/ http://www.mozilla.org/products/mozilla1.x/
Redirect permanent /projects.html http://www.mozilla.org/projects/
Redirect permanent /projects/distros.html http://www.mozilla.org/university/HOF.html
Redirect permanent /projects/mstone http://mstone.sourceforge.net/
Redirect permanent /projects/sunbird http://www.mozilla.org/projects/calendar/sunbird/
Redirect permanent /raptor/ http://www.mozilla.org/newlayout/
Redirect permanent /README-style.html http://www.mozilla.org/contribute/writing/guidelines
Redirect permanent /README-cvs.html http://www.mozilla.org/contribute/writing/cvs
Redirect permanent /releases/stable.html http://www.mozilla.org/products/mozilla1.x/
Redirect permanent /report.html http://bugzilla.mozilla.org/enter_bug.cgi?format=guided
Redirect permanent /search.html http://www.mozilla.org/
Redirect permanent /source.html http://developer.mozilla.org/en/docs/Download_Mozilla_Source_Code
Redirect permanent /source-code.html http://developer.mozilla.org/en/docs/Download_Mozilla_Source_Code
Redirect permanent /get-involved.html http://www.mozilla.org/contribute/
Redirect gone /help-wanted.html
Redirect permanent /feedback.html http://www.mozilla.org/contact/
Redirect /privacy-policy http://www.mozilla.org/foundation/privacy-policy.html
Redirect permanent /donate.html http://www.mozilla.org/foundation/donate.html
Redirect permanent /donate/ http://www.mozilla.org/foundation/donate.html
Redirect permanent /projects/foundation/ http://www.mozilla.org/foundation/
Redirect permanent /donate_faq.html http://www.mozilla.org/foundation/donate_faq.html
Redirect permanent /donate_form.pdf http://www.mozilla.org/foundation/donate_form.pdf
Redirect permanent /tools.html http://developer.mozilla.org/en/docs/Mozilla_Development_Tools
Redirect permanent /projects/other-projects.html http://www.mozilla.org/projects/mozilla-based.html
