[%# Home %]
[% 
	PROCESS "inc/header.html.tmpl" 
	title = "Release Information" 
%]

<h1>Release Information</h1>
<p>Here you can find specific information about current and previous stable Bugzilla releases.</p>

<h2>Release Dates</h2>
<p>The list below is a list of the release dates of previous versions of Bugzilla. The list is ordered from the most recent release to the earlier releases.</p>

<table>
    <tr><th>Version</th><th>Release Date</th></tr>
    <tr><td colspan="2"><span style="font-style: italic;">Upcoming Releases</span></td></tr>
    <tr><td><a href="2.24/">2.24</a></td><td>(not shipped yet)</td></tr>
    <tr><td colspan="2"><span style="font-style: italic;">Current Stable Release</span></td></tr>
    <tr class="stableRelease">
        <td><a href="2.22/" title="Current Stable Release">2.22</a></td>
        <td>22 April 2006</td>
    </tr>
    <tr><td colspan="2"><span style="font-style: italic;">Old Stable Releases</span></td></tr>
    <tr class="stableRelease">
        <td><a href="2.20.2/" title="Old Stable Release">2.20.2</a></td>
        <td>22 April 2006</td>
    </tr>
    <tr class="stableRelease">
        <td><a href="2.18.5/" title="Old Stable Release">2.18.5</a></td>
        <td>20th February 2006</td>
    </tr>
    <tr><td colspan="2"><span style="font-style: italic;">Previous Releases</span></td></tr>
    <tr><td><a href="2.20.1/">2.20.1</a></td><td>20th February 2006</td></tr>
    <tr><td><a href="2.20/">2.20</a></td><td>30th September 2005</td></tr>
    <tr><td><a href="2.18.4/">2.18.4</a></td><td>30th September 2005</td></tr>
    <tr><td><a href="2.18.3/">2.18.3</a></td><td>9th July 2005</td></tr>
    <tr><td><a href="2.18.2/">2.18.2</a></td><td>7th July 2005</td></tr>
    <tr><td><a href="2.18.1/">2.18.1</a></td><td>11th May 2005</td></tr>
    <tr><td><a href="2.18/">2.18</a></td><td>15th January 2005</td></tr>
    <tr><td><a href="2.16.11/">2.16.11</a></td><td>20th February 2006</td></tr>
    <tr><td><a href="2.16.10/">2.16.10</a></td><td>18th May 2005</td></tr>
    <tr><td><a href="2.16.9/">2.16.9</a></td><td>11th May 2005</td></tr>
    <tr><td><a href="2.16.8/">2.16.8</a></td><td>15th January 2005</td></tr>
    <tr><td><a href="2.16.7/">2.16.7</a></td><td>24th October 2004</td></tr>
    <tr><td><a href="2.16.6/">2.16.6</a></td><td>10th July 2004</td></tr>
    <tr><td><a href="2.16.5/">2.16.5</a></td><td>3rd March 2004</td></tr>
    <tr><td><a href="2.16.4/">2.16.4</a></td><td>3rd November 2003</td></tr>
    <tr><td><a href="2.16.3/">2.16.3</a></td><td>25th April 2003</td></tr>
    <tr><td><a href="2.16.2/">2.16.2</a></td><td>2nd January 2003</td></tr>
    <tr><td><a href="2.16.1/">2.16.1</a></td><td>30th September 2002</td></tr>
    <tr><td><a href="2.16/">2.16</a></td><td>28th July 2002</td></tr>
    <tr><td><a href="2.14.5/">2.14.5</a></td><td>2nd January 2003</td></tr>
    <tr><td><a href="2.14.4/">2.14.4</a></td><td>30th September 2002</td></tr>
    <tr><td><a href="2.14.3/">2.14.3</a></td><td>28th July 2002</td></tr>
    <tr><td><a href="2.14.2/">2.14.2</a></td><td>7th June 2002</td></tr>
    <tr><td><a href="2.14.1/">2.14.1</a></td><td>5th January 2002</td></tr>
    <tr><td><a href="2.14/">2.14</a></td><td>29th August 2001</td></tr>
    <tr><td><a href="2.12/">2.12</a></td><td>27th April 2001</td></tr>
    <tr><td>2.10</td><td>9th May 2000</td></tr>
    <tr><td>2.8</td><td>19th November 1999</td></tr>
    <tr><td>2.6</td><td>30th August 1999</td></tr>
    <tr><td>2.4</td><td>30th April 1999</td></tr>
    <tr><td>2.2</td><td>20th February 1999</td></tr>
    <tr><td>2.0</td><td>19th September 1998</td></tr>
</table>
[% PROCESS "inc/footer.html.tmpl" %]
