Redirect permanent /docs/dom/reference/javascript.html http://developer.mozilla.org/en/docs/The_DOM_and_JavaScript
Redirect permanent /docs/dom/reference/levels.html http://developer.mozilla.org/en/docs/DOM_Levels
