/*
 100% 300 CVU = CYMK(100 43.14 0 0) = RGB(  9, 91,166)
 75% 300 CVU = CYMK( 75 32.35 0 0) = RGB( 68,125,184)
 50% 300 CVU = CYMK( 50 21,57 0 0) = RGB(128,163,205)
 25% 300 CVU = CYMK( 25 10.78 0 0) = RGB(191,207,229)
 10% 300 CVU = CYMK( 25 10.78 0 0) = RGB(217,226,239)
*/

a[rel="note"] {
   border-bottom: none }
*[title] { text-decoration: none; border-bottom: thin dashed rgb(128,163,205); }

table { border-bottom: .3mm solid #cccccc; }
table caption { border-bottom: .3mm solid #cccccc }

.submenu { border: .5mm solid #cccccc; }

table.file td { border: .3mm solid rgb(9,91,166); }


/* ********************* end page color ************************ */

body {
/* for print only */
/*
   font-family: Goudy Old Style, Times New Roman, Platino, serif;
   font-size: 10pt;
*/
}

.chpt-heading, .chpt-number, .chpt-title { text-align:right; font-weight: bold; }

.chpt-heading { font-size: 12pt; margin-left: 20em; text-align:right; }
.chpt-number {
   font-size: 62pt;
   font-family:  Goudy Old Style, Times New Roman, Platino, serif;
   line-height:58pt;}
.chpt-title h1 { font-size: 16pt;}

tt, kbd, code, samp, pre, xmp { font-size: 8pt; }

/*
.break { page-break-before: always; }
*/

.chpt-heading { border-bottom: .3mm solid;  color: #cccccc; }
.chpt-number { color: #cccccc;}

h2, h3 {  page-break-after: avoid; }

/* ********************* end print options ************************ */

dt { font-weight: bold; }

.sect, h3, h4 { margin-left: 20mm; }


blockquote { margin-left: 10mm;}

.submenu {
   margin-left:20mm;
   margin-right:20mm;
   padding-left:2mm;
   padding-right:2mm;
}

.submenu ul,
.submenu ol,
.submenu h3,
.submenu h4,
.submenu p,
.submenu table,
.submenu caption {
   margin-left: 0;
}

table { border-collapse: collapse; }
caption { text-align:left; padding-bottom:1mm; padding-top:1mm; font-weight: bold; }
th { text-align: left; }
td { vertical-align: top; padding-bottom:1mm; padding-top:1mm; }

td p:first-child { padding-top: 0; margin-top: 0; }

q:before, q:after { font-family: Georgia, Times New Roman, Times, serif; }
q:before { content: "\201C"; /* content: "\201C\20" */ }
q:after  { content: "\201D"; /* content: "\20\201D" */ }
