[%# Developers %]
[%
	PROCESS "inc/header.html.tmpl"
	title = "Developer Profiles"
%]

<h1>Current Developers</h1>

<p>Now for your browsing pleasure (or lack thereof), here's more information
than you ever wanted to know about Bugzilla's development team. If you feel that
you should be on this list but aren't or have any additions/corrections, please
e-mail <a href="mailto:justdave&#64;bugzilla.org">Dave</a>.</p>

<a name="justdave"></a>
<h2>Dave Miller</h2>
  <img class="photo" height="128" width="70" alt="justdave.jpg - 2.5K" title="Dave Miller's Picture" src="../img/developers/justdave.jpg">
  <b>IRC Nick:</b> justdave<br />
  <b>Location:</b> Jamestown, MI, USA<br />
  <b>Day Job:</b> Webtools Developer / System Administrator for the <a href="http://www.mozilla.org">Mozilla Foundation</a><br />
  <b>Bugzilla Responsibilities:</b> Project Lead, Developer/Reviewer, 
     <tt>bzbot</tt> Maintainer, Landfill Administrator, Web Site<br />
  <b>Component Responsibilities:</b> Administration, Bug Import/Export &amp;
     Moving, Bugzilla-General, bugzilla.org, Query/Buglist<br />
  <b>Quote:</b> "I haven't said anything witty enough to be worth quoting."<br />
  <b>Blog:</b> <a href="http://www.justdave.net/dave/">http://www.justdave.net/dave/</a><br />

<br clear="all">


<h2>Myk Melez</h2>
  <img class="photo" src="../img/developers/myk.png" width="76" height="100" alt="myk.png - 20K">
  <b>IRC Nick:</b> myk<br />
  <b>Location:</b> Santa Cruz, CA, USA<br />
  <b>Day Job:</b> Webtools Developer / System Administrator for the <a href="http://www.mozilla.org">Mozilla Foundation</a><br />
  <b>Bugzilla Responsibilities:</b> Developer/Reviewer, bugzilla.mozilla.org 
     Administration, Landfill Hosting/Administration<br />
  <b>Component Responsibilities:</b> Attachments &amp; Requests,
     Creating/Changing Bugs, User Accounts, User Interface<br />
<!--  <b>Quote:</b> Too dumb for a quote.<br /> -->

<br clear="all">


<h2>Max Kanat-Alexander</h2>
  <img class="photo" src="../img/developers/mkanat.png" width="120" height="100" alt="mkanat.png - 15K" title="Max Kanat-Alexander's Picture">
  <b>IRC Nick:</b> avatraxiom or mkanat<br />
  <b>Location:</b>  San Jose, CA, USA<br />
  <b>Day Job:</b> Founder, <a href="http://www.everythingsolved.com/">Everything Solved</a><br />
  <b>Bugzilla Responsibilities:</b> Developer/Reviewer, Release Manager, PostgreSQL port, Cleaning Up Stuff<br />
  <b>Quote:</b> "I think that should really be a separate bug."<br />

<br clear="all">


<h2>Frédéric Buclin</h2>
  <img class="photo" src="../img/developers/lpsolit.png" width="90" height="120" alt="lpsolit.png - 25K" title="Frédéric Buclin's Picture">
  <b>IRC Nick:</b> LpSolit<br />
  <b>Location:</b> Switzerland<br />
<!--  <b>Day Job:</b> ??<br /> -->
  <b>Bugzilla Responsibilities:</b> Developer/Reviewer, QA Lead<br />
<!--  <b>Quote:</b> Too dumb for a quote.<br /> -->

<br clear="all">


<h2>Christian Reis</h2>
  <img class="photo" src="../img/developers/kiko.jpg" alt="kiko.jpg - 3.2K" title="Christian Reis's Picture" width="90" height="120">
  <b>IRC Nick:</b> kiko<br />
  <b>Location:</b> S&atilde;o Carlos, SP, Brazil<br />
  <b>Day Job:</b> Software Engineer for <a href="http://www.async.com.br/">Async Open Source</a><br />
  <b>Bugzilla Responsibilities:</b> Developer/Reviewer<br />
  <b>Quote:</b>"Day jobs are what take the boredom out of waiting for reviews."<br />
  <b>Blog:</b> <a href="http://async.com.br/~kiko/">http://async.com.br/~kiko/</a><br />

<br clear="all">


<h2>Zach Lipton</h2>
  <img class="photo" src="../img/developers/zach.jpg" alt="zach.jpg - 2.3K" title="Zach Lipton's Image" width="78" height="128">
  <b>IRC Nick:</b> zach<br />
  <b>Location:</b> San Francisco, CA, USA<br />
  <b>Day Job:</b> Student<br />
  <b>Bugzilla Responsibilities:</b> Developer/Reviewer<br />
  <b>Component Responsibilities:</b> Installation &amp; Upgrading, Testing
     Suite<br />
<!--  <b>Quote:</b> Too dumb for a quote.<br /> -->
  <b>Blog:</b> <a href="http://weblogs.mozillazine.org/zach/">http://weblogs.mozillazine.org/zach/</a><br />

<br clear="all">


<h2>Mike Morgan</h2>
  <img class="photo" src="../img/developers/morgamic.png" width="118" height="140" alt="morgamic.png - 39K" title="Mike Morgan's Image">
  <b>IRC Nick:</b> morgamic<br />
  <b>Location:</b> Corvallis, OR, USA<br />
  <b>Day Job:</b> Web Developer for <a href="http://oregonstate.edu/cws/"><acronym title="Central Web Services">CWS</acronym></a>, <a href="http://oregonstate.edu/">Oregon State University</a><br />
  <b>Bugzilla Responsibilities:</b> Web Design, Writing, Structure<br />
  <b>Quote:</b> "Yeah, but how does it <em>smell</em>?"<br />
  <b>Blog:</b> <a href="http://morgamic.com/">http://morgamic.com</a><br />

<br clear="all">


<h2>Gervase Markham</h2>
  <img class="photo" src="../img/developers/Gerv.jpg" width="90" height="120" alt="gerv.jpg - 7K" title="Gervase Markham's Image">
  <b>IRC Nick:</b> Gerv<br />
  <b>Location:</b> Enfield, North London<br />
  <b>Day Job:</b> Software Engineer at <a href="http://www.dataconnection.com">Data Connection</a><br />
  <b>Bugzilla Responsibilities:</b> Developer/Reviewer, Standards Advocacy<br />
  <b>Component Responsibilities:</b> Reporting/Charting<br />
<!--  <b>Quote:</b> Too dumb for a quote.<br /> -->

<br clear="all">


<h2>Jouni Heikniemi</h2>
  <img class="photo" src="../img/developers/jouni.jpg" width="100" height="125" alt="jouni.jpg - 4.3K" title="Jouni Heikniemi's Image">
  <b>IRC Nick:</b> jth<br />
  <b>Location:</b> Helsinki, Finland<br />
  <b>Day Job:</b> Software Architect at <a href="http://www.bluemeteorite.com/">Blue Meteorite Ltd</a><br />
  <b>Bugzilla Responsibilities:</b> Developer/Reviewer, Win32 testing<br />
<!--  <b>Quote:</b> Too dumb for a quote.<br /> -->
  <b>Blog:</b> <a href="http://www.heikniemi.net/hc/">http://www.heikniemi.net/hc/</a><br />

<br clear="all">


<h2>Byron Jones</h2>
  <img class="photo" src="../img/developers/glob.jpg" width="96" height="112" alt="glob.jpgi - 6.4K" title="Byron Jones' Image">
  <b>IRC Nick:</b> glob<br />
  <b>Location:</b> Perth, Western Australia<br />
  <b>Bugzilla Responsibilities:</b> Developer/Reviewer, Win32 support<br />

<br clear="all">


<h2>Vlad Dascalu</h2>
  <img class="photo" src="../img/developers/vladd.jpg" width="80" height="100" alt="vladd.jpg - 8.7K" title="Vlad Dascalu's Image">
  <b>IRC Nick:</b> vladd<br />
  <b>Location:</b> Romania<br />
  <b>Day Job:</b> Founder, <a href="http://www.goobix.com/">Goobix.com</a><br />
  <b>Bugzilla Responsibilities:</b> Developer/Reviewer, Documentation, bug triage<br />
<!--  <b>Quote:</b> Too dumb for a quote.<br /> -->

<br clear="all">


<h2>Dave Lawrence</h2>
  <img class="photo" src="../img/developers/dkl.gif" width="100" height="150" alt="dkl.gif - 10K" title="Dave Lawrence's Picture">
  <b>IRC Nick:</b> dkl<br />
  <b>Location:</b> Raleigh, NC, USA<br />
  <b>Day Job:</b> Quality Assurance Engineer for <a href="http://www.redhat.com">Red Hat</a><br />
  <b>Bugzilla Responsibilities:</b> Developer/Reviewer, PostgreSQL port<br />
<!--  <b>Quote:</b> Too dumb for a quote.<br /> -->

<br clear="all">


<h2>Jacob Steenhagen</h2>
  <img class="photo" width="100" height="132" alt="Jake.png - 24K" title="Jacob Steenhagen's Picture" src="../img/developers/Jake.png">
  <b>IRC Nick:</b> Jake<br />
  <b>Location:</b> Fruitport, MI, USA<br />
  <b>Day Job:</b> U.S.Army Reserves (deployed)<br />
  <b>Bugzilla Responsibilities:</b> Developer/Reviewer, Documentation,
     <tt>ssdbot</tt> Maintainer, <tt>word</tt> Maintainer<br />
  <b>Quote:</b> "I'd rather drive the .html file to your house on a floppy disk
     than run IIS."<br />
  <b>Blog:</b> <a href="http://www.steenhagen.us/~jake/blog">http://www.steenhagen.us/~jake/blog</a><br />

<br clear="all">


<h2>Joel Peshkin</h2>
  <img class="photo" src="../img/developers/joel.jpg" width="96" height="120" alt="joel.jpg - 11K">
  <b>IRC Nick:</b> Joel<br />
  <b>Location:</b> San Juan Capistrano, CA, USA<br />
  <b>Day Job:</b> Director of Software QA for Impinj <br />
  <b>Bugzilla Responsibilities:</b> Group security, enhancements for enterprise use.<br />
  <b>Quote:</b> "Leave no dhrystone unturned."<br />

<br clear="all">


<h2>Erik Stambaugh</h2>
  <img class="photo" src="../img/developers/erik.jpg" width="120" height="90" alt="erik.jpg - 37K" title="Erik Stambaugh's Picture">
  <b>IRC Nick:</b> ____erik, squinky, not_erik<br />
  <b>Location:</b> Los Angeles, CA, USA<br />
  <b>Day job:</b> Systems Engineer for <a href="http://www.mindspeed.com/">Mindspeed</a><br />
  <b>Bugzilla Responsibilities:</b> Developer/Reviewer<br />
  <b>Component Responsibilities:</b> Whining<br />

<br clear="all">


<h2>Josh Soref</h2>
  <img class="photo" src="../img/developers/timeless.png" width="100" height="126" alt="timeless.png - 24K" title="Josh Soref's Picture">
  <b>IRC Nick:</b> timeless or timely<br />
  <b>Location:</b> Helsinki, Finland<br />
  <b>Day Job:</b> Software Engineer<br />
  <b>Bugzilla Responsibilities:</b> Developer/Reviewer<br />
  <b>Quote:</b> "Keep your extremities within your car."<br />

<br clear="all">


<hr style="height:5px">
<h1>Former Developers</h1>
<br>
<h2>Terry Weissman</h2>
  <img class="photo" src="../img/developers/terry.gif" alt="terry.gif - 4.9K" title="Terry Weissman's Picture" width="68" height="100">
  <b>IRC Nick:</b> terry<br />
  <b>Location:</b> Palo Alto, CA, USA<br />
  <b>Day Job:</b> Software Engineer for <a href="http://www.liveops.com/">LiveOps, Inc.</a> <br />
  <b>Bugzilla Responsibilities:</b> Project Founder/Former Lead,
     IRC Heckler, Scapegoat<br />
  <b>Quote:</b> "What have they done to my baby!"<br />

<br clear="all">


<h2>Tara Hernandez</h2>
  <img class="photo" src="../img/developers/baloo.jpg" alt="baloo.jpg - 3.3K" title="Tara Hernandez's Picture" width="90" height="120">
  <b>IRC Nick:</b> baloo<br />
  <b>Location:</b> San Francisco, CA, USA<br />
  <b>Day Job:</b> Infrastructure Engineer at <a href="http://pixar.com/">Pixar</a><br />
  <b>Bugzilla Responsibilities:</b> Former Project Lead<br />
  <b>Quote:</b> "My head feels so much lighter after the lobotomy."<br />

<br clear="all">


<h2>Christopher Yeh</h2>
  <img class="photo" src="../img/developers/cyeh.jpg" width="100" height="100" alt="cyeg.jpg - 1K">
  <b>IRC Nick:</b> cyeh<br />
  <b>Location:</b> Santa Cruz, CA, USA<br />
  <b>Day Job:</b> Release Engineer<br />
  <b>Bugzilla Responsibilities:</b> Developer/Reviewer<br />
  <b>Blog:</b> <a href="http://www.livejournal.com/users/cyeh/">http://www.livejournal.com/users/cyeh/</a><br />
<!--  <b>Quote:</b> Too dumb for a quote.<br /> -->

<br clear="all">


<h2>Dawn Endico</h2>
  <img class="photo" src="../img/developers/ugly.png" width="90" height="120" alt="ugly.png - 2.9K">
  <b>IRC Nick:</b> dawn or endico<br />
<!--  <b>Location:</b> ?<br /> -->
<!--  <b>Day Job:</b> ?<br /> -->
  <b>Bugzilla Responsibilities:</b> Developer/Reviewer<br />
<!--  <b>Quote:</b> Too dumb for a quote.<br /> -->

<br clear="all">


<h2>David Kilzer</h2>
  <img class="photo" src="../img/developers/ugly.png" width="90" height="120" alt="ugly.png - 2.9K">
  <b>IRC Nick:</b> ddk<br />
  <b>Location:</b> Des Moines, IA, USA<br />
  <b>Day Job:</b> Senior Systems &amp; Software Engineer<br />
  <b>Bugzilla Responsibilities:</b> Developer/Reviewer<br />
<!--  <b>Quote:</b> Too dumb for a quote.<br /> -->

<br clear="all">


<h2>Ian Hickson</h2>
  <img class="photo" src="../img/developers/ugly.png" width="90" height="120" alt="ugly.png - 2.9K">
  <b>IRC Nick:</b> Hixie<br />
  <b>Location:</b> Oslo, Norway<br />
  <b>Day Job:</b> <a href="http://www.opera.com/">Opera Software</a><br />
  <b>Bugzilla Responsibilities:</b> Bugzilla Version 3, Attempting
     To Sabotage Bugzilla Version 2 Development<br />
<!--  <b>Quote:</b> Too dumb for a quote.<br /> -->
  <b>Blog:</b> <a href="http://ln.hixie.ch/">http://ln.hixie.ch/</a><br />

<br clear="all"/>


<h2>J. Paul Reed</h2>
  <img class="photo" src="../img/developers/ugly.png" width="90" height="120" alt="ugly.png - 2.9K">
  <b>IRC Nick:</b> JayPee<br />
<!--  <b>Location:</b> ?<br /> -->
  <b>Day Job:</b> Build Engineer for <a href="http://www.vmware.com/">VMWare</a><br />
  <b>Bugzilla Responsibilities:</b> Developer/Reviewer<br />
<!--  <b>Quote:</b> Too dumb for a quote.<br /> -->

<br clear="all">


<h2>Matthew Tuck</h2>
  <img class="photo" src="../img/developers/mattyt.jpg" width="90" height="120" alt="mattyt.jpg - 3.6K">
  <b>IRC Nick:</b> CodeMachine<br />
  <b>Location:</b> Adelaide, SA, Australia<br />
  <b>Day Job:</b> Freelance Tutor/Contract Programmer<br />
  <b>Bugzilla Responsibilities:</b> Developer/Reviewer, Bug Triager, Release Notes,
     QA (supposedly), Developers'/Reviewers' Guide, Sanity Check, Everything No One Else Wants To Do<br />
  <b>Quotes:</b> "It's all Terry's fault." - "Targets are things that get missed (unless
you're Robin Hood)."<br />

<br clear="all">

     
<h2>Bradley Baetz</h2>
  <img class="photo" src="../img/developers/bbaetz.png" width="72" height="96" alt="ugly.png - 2.9K">
  <b>IRC Nick:</b> bbaetz<br />
  <b>Location:</b> Sydney, NSW, Australia<br />
  <b>Day Job:</b> ISP Engineer<br />
  <b>Bugzilla Responsibilities:</b> Developer/Reviewer, mod_perl attempts<br />
<!--  <b>Quote:</b> Too dumb for a quote.<br /> -->

<br clear="all">


<h2>Matthew Barnson</h2>
  <img class="photo" src="../img/developers/ugly.png" width="90" height="120" alt="ugly.png - 2.9K">
  <b>IRC Nick:</b> Barnboy<br />
<!--  <b>Location:</b> ?<br /> -->
<!--  <b>Day Job:</b> ?<br /> -->
  <b>Bugzilla Responsibilities:</b> Documentation<br />
<!--  <b>Quote:</b> Too dumb for a quote.<br /> -->

<br clear="all">


<h2>Christopher A. Aillon</h2>
  <img class="photo" src="../img/developers/caillon.jpg" width="128" height="123" alt="caillon.jpg - 3.3K">
  <b>IRC Nick:</b> caillon<br />
  <b>Location:</b> Boston, MA, USA<br />
  <b>Day Job:</b> Software Engineer for <a href="http://www.redhat.com/">Red Hat</a><br />
  <b>Bugzilla Responsibilities:</b> Developer/Reviewer, Standards Advocacy<br />
  <b>Quote:</b> "I'll have to come up with a quote :)"<br />

<br clear="all">


[% PROCESS "inc/footer.html.tmpl" %]
