/* 
    style sheet for network library documentation
    -Gagan Saksena 05/13/01 
*/
body { 
	background: white; color: black; 
    /*
	font-family: Lucida, Verdana, Helvetica;
    font-size: 14pt;
    */
} 
