# Features
Redirect permanent /products/thunderbird/releases/0.1-release-notes.html http://www.mozilla.com/thunderbird/releases/0.1.html
Redirect permanent /products/thunderbird/releases/0.2-release-notes.html http://www.mozilla.com/thunderbird/releases/0.2.html
Redirect permanent /products/thunderbird/releases/0.3-release-notes.html http://www.mozilla.com/thunderbird/releases/0.3.html
Redirect permanent /products/thunderbird/releases/0.4-release-notes.html http://www.mozilla.com/thunderbird/releases/0.4.html
Redirect permanent /products/thunderbird/releases/0.5-release-notes.html http://www.mozilla.com/thunderbird/releases/0.5.html
Redirect permanent /products/thunderbird/releases/0.6-release-notes.html http://www.mozilla.com/thunderbird/releases/0.6.html
Redirect permanent /products/thunderbird/releases/0.7-release-notes.html http://www.mozilla.com/thunderbird/releases/0.7.html
Redirect permanent /products/thunderbird/releases/0.8-release-notes.html http://www.mozilla.com/thunderbird/releases/0.8.html
Redirect permanent /products/thunderbird/releases/0.9-release-notes.html http://www.mozilla.com/thunderbird/releases/0.9.html
Redirect permanent /products/thunderbird/releases/1.0-release-notes.html http://www.mozilla.com/thunderbird/releases/1.0.html
Redirect permanent /products/thunderbird/releases/1.0.2-release-notes.html http://www.mozilla.com/thunderbird/releases/1.0.2.html
Redirect permanent /products/thunderbird/releases/1.0.5-release-notes.html http://www.mozilla.com/thunderbird/releases/1.0.5.html
Redirect permanent /products/thunderbird/releases/1.0.6-release-notes.html http://www.mozilla.com/thunderbird/releases/1.0.6.html
Redirect permanent /products/thunderbird/releases/1.0.7-release-notes.html http://www.mozilla.com/thunderbird/releases/1.0.7.html
Redirect permanent /products/thunderbird/releases/       http://www.mozilla.com/thunderbird/releases/
