/*Copyright Origo Services Limited 2005.*/

      @namespace xforms url(http://www.w3.org/2002/xforms);
      @namespace mozType url(http://www.mozilla.org/projects/xforms/2005/type);
      body 
      { 
      margin-left: 1em;
      margin-top: 0em;
      margin-right: 0em;
      font-size: 8pt; font-family: Verdana, Arial, Helvetica, sans-serif; 
      color: black;
      }
 
     .Brandingbar
     {
     background-color: #cacbff;
     vertical-align: top;
     white-space: nowrap;
     padding: .4em;
     margin-left: -1em;
     } 
 
     .copyright
     {
     margin-left: 3em;
     color: #ffffff;
     }
 
     a img 
     {
     border:none;
     vertical-align: middle;
     }

     *:invalid
     {
     color: red;
     background-color: transparent;
     }

    xforms|input:disabled
    {
    visibility: visible;
    color: #555;
    }
    
/* begin - Novell IE plugin styling.  They support pseudoelements, Mozilla doesn't */
     *:invalid::value
     {
     color: red;
     background-color: white;
     }

    xforms|input:disabled::value
    {
    visibility: visible;
    }

      xforms|trigger.button::value
      {
      border-style: outset;
      font-weight: 700;
      }

      xforms|input::value, xforms|textarea::value 
      {
      font-size: 8pt; font-family: Verdana, Arial, Helvetica, sans-serif; 
      padding: .3em;
      }
/* end - Novell IE plugin styling */
      
/* Mozilla - begin */
  
     *:disabled
     {
       display: none;
     }

    xforms|input:disabled .xf-value
    {
    visibility: visible;
    }

      xforms|trigger.button .xf-value
      {
      border-style: outset;
      font-weight: 700;
      }

      xforms|input .xf-value, xforms|textarea .xf-value
      {
      font-size: 8pt; font-family: Verdana, Arial, Helvetica, sans-serif; 
      padding: .3em;
      }

      xforms|input[mozType|type="http://www.w3.org/2001/XMLSchema#date"] .xf-value
      {
      padding: 0em;
      }

      xforms|textarea .xf-value
      {
      width: 60%;
      padding: 1px;
      margin: 1px;
      }

     xforms|case.internal-box div
     {
     display: table;
     }

     xforms|case.mainCase div
     {
     display: table;
     }

     xforms|input.nameAndAddress
     {
     display: table-row;
     }

     xforms|input.nameAndAddress > xforms|label span
     { 
     display: table-cell;
     width: 90px;
     }

     xforms|input.nameAndAddress .xf-value
     {
     }

     xforms|input.evidenceOption
     {
     display: table-row;
     }

     xforms|input.evidenceOption > xforms|label span
     { 
     display: table-cell;
     width: 260px;
     }

      xforms|group.evidenceDetail xforms|input 
      {
      display: table-row;
      width: 320px
      }

      xforms|group.evidenceDetail xforms|* xforms|label span
      {
      display: table-cell;
      width: 160px;
      font-weight: normal;
      padding-left: .3em;
      }

      xforms|group.evidenceDetail div
      {
      display: table;
      }
/* Mozilla - end */            
      
      div.form, xforms|group.form 
      {
   
      padding: 0.5em 1em 1em 1em;
      margin: 0.5em 1em 1em 1em;
      background-color: #cacbff;
      border: 2px outset #ffffff;
      }
       
      xforms|input
      {
      margin-top: .3em;
      margin-bottom: .3em;
      }
       
      xforms|group 
      {
      border: none;
      margin: 0;
      padding: 0;
      }
      
      xforms|label, .label
      {   
      font-weight: bold;      
      caption-side: left;
      margin: 0px 0px 2px -2px; 
      }
      
      xforms|input.nameAndAddress,  xforms|input.evidenceOption
      {
      display: block;
      }

      xforms|input.nameAndAddress xforms|label
      {
      width: 90px;
      }
     
      xforms|input.evidenceOption xforms|label
      {
      width: 260px;
      }
         
      xforms|group.evidenceDetail
      {
      border: 1px solid black;
      padding: .6em;
      background-color: silver;
      }
/*
      xforms|group.evidenceDetail xforms|input, xforms|group.evidenceDetail xforms|input,

      {
      display: block;
      width: 320px
      }

      xforms|group.evidenceDetail xforms|* xforms|label
      {
      width: 160px;
      font-weight: normal;
      padding-left: .3em;
      }
*/

/*
      xforms|textarea::value 
      {
      width: 60%;
      padding: 1px;
      margin: 1px;
      }
*/
            
      xforms|case 
      {
      margin: .5em;
      }

      .declaration xforms|output
      {
      display: block;
      }
      
      .regulator xforms|input, .declaration xforms|input
      {
      display: block;
      }

      .declaration xforms|input xforms|label
      {
      width: 80px;
      }

      .regulator xforms|input xforms|label
      {
      width: 200px;
      }
