topPart {
	display: block;
}
exampleOne {
	display: block;
	color: blue;
	font-size: 14pt;
	text-align: center;
	margin: 50px 0 10px 0;
	border: solid black;
}
exampleTwo {
	display: block;
	color: red;
	font-style: italic;
}
exampleThree {
	display: block;
	border: solid lime;
	margin: .50in;
}
item {
	display: list-item;
	list-style: circle outside;
}
exampleFour {
	display: block;
	float: right;
	background-color: yellow;
 	width: 300px;
 	border-style: solid;
 	border-color: black;
 	border-width: 10px;
 	padding: 10px;
 	margin: 10px; 
}
exampleFive { 
	display: block; 
	clear: right;
}
exampleSix {
	border: solid olive;
	display: block;
	margin: 1em 0 1em 40px;
}
exampleSeven {
	display: block;
	border: solid fuchsia;
}