Slide {
  display: block;
}

SlideBody {
  display: block;
  padding-left: 4px;
  border-left: 80px solid rgb(0,128,200);
  border-top: 4px solid rgb(0,128,200);;
  border-bottom: 4px solid rgb(0,128,200);;
  font-family: Verdana;
  font-size: 16pt;
  width: 900px;
  height: 565px;
  margin: 0px;
}

#logo {
  position: absolute;
  left: 15px;
  top: 15px;
}

Bar {
  display: block;
  border-left: 80px solid rgb(0,128,200);
  width: 900px;
  height: 36px;
  padding-top: 12px;
  text-align: right;
}

Heading {
  text-align: center;
  text-decoration: underline;
  font-size: 24pt;
  font-weight: bold;
  display: block;
  margin-top: 1em;
  margin-bottom: 0.75em;
}

SubHeading {
  text-align: left;
  text-decoration: underline;
  font-size: 20pt;
  font-weight: bold;
  display: block;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

List {
  margin-left: 0em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

ListItem {
  margin-top: 0.75em;
  margin-left: 1em; 
  display: list-item;
  list-style-position: outside;
}

ListItem2 {
  margin-top: 0.75em;
  margin-left: 2em;
  display: list-item;
  list-style-position: outside;
  list-style-type: circle;
}

ShortCode {
  display: block;
  font-weight: bold;
  white-space: pre;
  background-color: rgb(200,200,200);
  font-family: Courier, monospace;
  font-size: 14pt;
  width: 460px;
  margin-left: 0.5em;
  margin-bottom: 0.75em;
  margin-top: 0.75em;
}

LongCode {
  display: block;
  font-weight: bold;
  white-space: pre;
  background-color: rgb(200,200,200);
  font-family: Courier, monospace;
  font-size: 15pt;
  width: 820px;
  margin-left: 0.5em;
  margin-bottom: 0.75em;
  margin-top: 0.75em;
}

Para {
  display: block;
  margin-top: 1em;
}

Button, Button:link, Button:visited {
  border: 4px outset rgb(0,148,220);
  padding: 2px 4px 2px 4px;
  background-color: rgb(0,148,220);
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-family: Verdana;
  font-weight: bold;
  font-size: 10pt;
}

DemoButton {
  border: 4px outset rgb(148,0,220);
  padding: 2px 4px 2px 4px;
  background-color: rgb(148,0,220);
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-family: Verdana;
  font-weight: bold;
  font-size: 10pt;
}

Center {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

Quote {
  display: block;
  margin-top: 1em;
  margin-left: 4em;
  margin-right: 4em;
}

PresTitle {
  display: block;
  font-size: 28pt;
  font-weight: bold;
  margin-top: 5em;
  text-align: center;
  margin-bottom: 0em;
  padding-bottom: 0em;
}


Ulink {
  color: blue;
  text-decoration: underline;
  cursor: hand;
}

#moz {
  margin-left: 60px;
}

Presenter {
  display: block;
  font-size: 20pt;
  margin-top: 5em;
  margin-left: 20em;
}

Affiliation {
  display: block;
  font-size: 20pt;
  margin-left: 20em;
}

Column {
  display: block;
  float: left;
  width: 470;
}

Example {
  display: block;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: auto;
  margin-right: auto;
  width: 25em;
}

Diagram {
  text-align: center;
  display: block;
  margin-top: 1em;
  margin-left: 4em;
  margin-right: 4em;
  margin-bottom: 1em;
  background-color: #f1f1f1;
  padding: .5em .5em .5em .5em;
}


