/* css for hiding keyboard shortcuts for windows and linux (only show for mac) */
@import url("http://mozilla.org/css/base/content.css");
@import url("http://mozilla.org/css/cavendish/content.css");
@import url("http://mozilla.org/css/base/template.css");
@import url("http://mozilla.org/css/cavendish/template.css");

@import url("../support.css");


.kb_w, .kb_l, .kb_wl, .kb_h { display: none !important;}
.kb_m, .kb_wm, .kb_lm { display: inline !important;}
li#mac {font-weight: bold;}
