body {
  background: black;
  color: white;
  font-size: 20pt;
  font-weight: bold;
  font-family: Verdana, Arial, Lucida;
}

body#sidebar {
  background: blue;
}

.code-sample {
  font-size: 15pt;
}

a[href] {
  color: red;
}

div#title {
  position: absolute;
  top: 8em;
  left: 5em;
}

.float-right {
  float: right;
  position: relative;
  padding-right: 5em;
}
