<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="top" title="Home" href="http://www.mozilla.org/">
<link rel="stylesheet" type="text/css" href="../../css/print.css"  media="print">
<link rel="stylesheet" type="text/css" href="../../css/base/content.css"  media="all">
<link rel="stylesheet" type="text/css" href="../../css/cavendish/content.css" title="Cavendish" media="screen">
<link rel="stylesheet" type="text/css" href="../../css/base/template.css"  media="screen">
<link rel="stylesheet" type="text/css" href="../../css/cavendish/template.css" title="Cavendish" media="screen">
<link rel="icon" href="../../images/mozilla-16.png" type="image/png">

	<title>class WizardManager</title>
  <link rel="stylesheet" type="text/css" href="wsm.css">
<script src="../../__utm.js" type="text/javascript"></script>
</head>
<body id="www-mozilla-org" class="deepLevel">
<div id="container">
<p class="important">You are currently viewing a snapshot of www.mozilla.org taken on April 21, 2008. Most of this content is
highly out of date (some pages haven't been updated since the project began in 1998) and exists for historical purposes only.  If
there are any pages on this archive site that you think should be added back to www.mozilla.org, please <a
href="https://bugzilla.mozilla.org/enter_bug.cgi?product=Websites&component=www.mozilla.org">file a bug</a>.</p>
<p class="skipLink"><a href="#mainContent" accesskey="2">Skip to main content</a></p>
<div id="header">
<h1><a href="/" title="Return to home page" accesskey="1">Mozilla</a></h1>
<ul>
<li id="menu_aboutus"><a href="../../about/" title="Getting the most out of your online experience">About</a></li>
<li id="menu_developers"><a href="../../developer/" title="Using Mozilla's products for your own applications">Developers</a></li>
<li id="menu_store"><a href="http://store.mozilla.org/?r=mozorg1" title="Shop for Mozilla products on CD and other merchandise">Store</a></li>
<li id="menu_support"><a href="../../support/" title="Installation, trouble-shooting, and the knowledge base">Support</a></li>
<li id="menu_products"><a href="../../products/" title="All software Mozilla currently offers">Products</a></li>
</ul>
<form id="searchbox_002443141534113389537:ysdmevkkknw" action="http://www.google.com/cse" title="mozilla.org Search">
<div>
<label for="q" title="Search mozilla.org's sites">search mozilla:</label>
<input type="hidden" name="cx" value="002443141534113389537:ysdmevkkknw">
<input type="hidden" name="cof" value="FORID:0">
<input type="text" id="q" name="q" accesskey="s" size="30">
<input type="submit" id="submit" value="Go">
</div>
</form>
</div>
<hr class="hide">
<div id="mBody">
<div id="side">

<ul id="nav">
<li><a title="Roadmap" href="../../roadmap.html"><strong> Roadmap</strong></a></li>
<li><a title="Projects" href="../../projects/"><strong> Projects</strong></a></li>
<li><a title="For developers" href="../../developer/"><strong> Coding</strong></a>
<ul>
<li><a title="Module Owners" href="../../owners.html"> Module Owners</a></li>
<li><a title="Hacking" href="../../hacking/"> Hacking</a></li>
<li><a title="Get the Source" href="http://developer.mozilla.org/en/docs/Download_Mozilla_Source_Code"> Get the Source</a></li>
<li><a title="Building Mozilla" href="http://developer.mozilla.org/en/docs/Build_Documentation"> Build It</a></li>
</ul>
</li>
<li><a title="Testing" href="../../quality/"><strong> Testing</strong></a>
<ul>
<li><a title="Downloads of mozilla.org software releases" href="../../download.html"> Releases</a></li>
<li><a title="Latest mozilla builds for testers" href="../../developer/#builds"> Nightly Builds</a></li>
<li><a title="For testers to report bugs" href="https://bugzilla.mozilla.org/"> Report A Problem</a></li>
</ul>
</li>
<li><a title="Tools for mozilla developers" href="../../tools.html"><strong> Tools</strong></a>
<ul>
<li><a title="Bug tracking system for mozilla testers." href="https://bugzilla.mozilla.org/"> Bugzilla</a></li>
<li><a title="Latest status of mozilla builds" href="http://tinderbox.mozilla.org/showbuilds.cgi?tree=Firefox"> Tinderbox</a></li>
<li><a title="Latest checkins" href="http://bonsai.mozilla.org/cvsqueryform.cgi"> Bonsai</a></li>
<li><a title="Source cross reference" href="http://lxr.mozilla.org/seamonkey/"> LXR</a></li>
</ul>
</li>
<li><a title="Frequently Asked Questions." href="../../faq.html"><strong> FAQs</strong></a></li>
</ul>

</div>
<hr class="hide">
<div id="mainContent">






<h1 id="header">WizardManager</h1>
<div id="headerul"></div>
<div align="right" id="contact">
 Contact: <a href="mailto:rgoodger@ihug.co.nz?subject=WidgetStateManager">Ben Goodger</a>
</div>

<h2>Introduction</h2>
<p>WizardManager is an easy to set up JavaScript class that provides a backbone for
generic wizards. Using WizardManager when creating your wizards allows you to spend
more time writing code that relates to your wizard content, rather than on the 
wizard mechanics itself. WizardManager provides basic functions for moving between
pages in the wizard, saving data on each page, etc. 

<h2>Use &amp; Instantiation</h2>
<h3>XUL setup</h3>
<p>In your wizard XUL file, you'll need to do a few things:
 <ul>
  <li>Include a reference to the wizardOverlay.xul file, to give your dialog wizard
      buttons:
      <blockquote>
       <code>
        &lt;?xul-overlay href="chrome://global/content/wizardOverlay.xul"?&gt;
       </code>
      </blockquote>
      (once you've done this you'll need to include a box with the id "wizardButtons"
       so that the XUL is included correctly)<br><br>
  <li>Include links to the following JavaScript files:
    <blockquote>
      <code>
      	chrome://global/content/strres.js<br>
        chrome://global/content/wizardOverlay.js<br>
        chrome://global/content/wizardHandlerSet.js<br>
        chrome://global/content/wizardManager.js<br>
        chrome://global/content/widgetStateManager.js<br>
      </code>
    </blockquote>
    These files contain string bundle code, the actual wizardManager and wizardOverlay
    code, and the data storage manager code. Your wizard will not work without them.
    Of course, you'll also have to include your own javascript files. 
 </ul>
<p>Your content (panels) has to be in the form of separate XUL documents, which
   will be loaded into an IFRAME. for examples, see the createProfileWizard.* files
   in the profile chrome folder.
<h3>JavaScript setup</h3>
<p>WizardManager requires you to do several things in your wizard JS file to allow
it to be instantiated and run correctly.

<p>First step is to devise a map that contains the navigation path of your wizard.
This concept is best explained through an example, which comes from 
chrome/profile/default/content/createProfileWizard.js:
<blockquote>
 <code>
  var wizardMap = {<br>
  &nbsp;&nbsp;newProfile1_1: { previous: <b>null</b>, next: "newProfile1_2", finish: <b>false</b> },<br>
  &nbsp;&nbsp;newProfile1_2: { previous: "newProfile1_1", next: <b>null</b>, finish: <b>true</b> },<br>
  }<br>
 </code>
</blockquote>
<p>I've created an object here called wizardMap, and created properties of it called 
   newProfile1_1 and newProfile1_2. These represent pages in the wizard. You must
   create properties of this object for each page (step) in your wizard. The name
   of the property is also referred to as the "tag" of the page. (You <b>must</b> use the
   filename of the page minus the extension and the path)
<p>Each of these properties is itself an object, with three properties - previous,
   next and finish. The first two properties represent the tags of the pages in the
   sequence surrounding the current page - the previous property refers to the tag
   of the previous page in the sequence, and the next property refers to the tag
   of the next page in the sequence. If there is no previous or next page (i.e. at
   the beginning or end of the sequence) you should provide null as the value of the
   property instead of the string tagname. These values are used by the WizardManager
   to determine which panel to load next (hence the importance of using the correct
   tag form, see above), and how to do button enabling. 
<p>The final property on each page object is the finish property, and this is a simple
   boolean attribute which tells the WizardManager whether or not the "Finish" button
   is enabled yet. If finish is false, then the Finish button on the wizard is disabled.
   If it is true, then the finish button is enabled. You can use this feature if 
   after a certain point in the wizard, all the required information has been entered,
   and the following pages contain only optional information.
<p>&nbsp;
<p>Now, in the startup function of your wizard dialog, you need to instantiate the
   WizardManager. You do this like so:
<blockquote>
 <code>
  // instantiate the Wizard Manager
  wizardManager                   = new WizardManager( frame_id, <b>null</b>, <b>null</b>, wizardMap );
  wizardManager.URL_PagePrefix    = "chrome://profile/content/";
  wizardManager.URL_PagePostfix   = ".xul";
 </code>
</blockquote>   
<p>You create the WizardManager with the new operator. You must pass in the id of
   the IFRAME that will contain the panels. Note that the IFRAME must have name
   and id attributes that are the same. The second and third arguments are the
   path of the wizard XUL files and the extension of the wizard XUL files respectively,
   note in this case we just pass in null, and set these on the following lines. 
   I did this to make the instantiation line shorter. The final argument is non-
   optional, and is the navigation page object (in my case 'wizardMap') that we 
   created earlier.
<p>&nbsp;
<p>Now you have to set up the event handlers for the wizard. WizardManager provides
   a set of default event handlers for functions like Next, Back, Cancel etc that
   switch pages and save data for you automatically using the information that you
   provided in your navigation map object. You are free to provide your own functions
   to do these chores however. It is recommended that you use as many of the default
   ones as possible, as the work that they do is often complex. In some cases however
   you will need to provide your own for functions like Cancel.
<p>The default cancel function simply closes the wizard dialog, discarding all the
   saved data in the process, and not setting anything. In some cases, this may
   not be the right thing to do - e.g. in the Create Profile Wizard, a cancel 
   event has to not only close the dialog, but quit the application event loop, so
   you may have to provide your own function to do this. You set the event handlers
   like so:
<blockquote>
  <code>
  // set the button handler functions
  wizardManager.SetHandlers( <b>null</b>, <b>null</b>, onFinish, onCancel, <b>null</b>, <b>null</b> );
  </code>
</blockquote>
<p>The arguments you provide are the names of the functions that you wish to override,
   in this order: "next", "back", "finish", "cancel", "pageload", "enabling". 
   The first four of these are obvious, next and back change pages, cancel quits
   without saving, and finish quits and submits the data entered. Pageload is a function
   called when a wizard page is loaded, and enabling is a function called that does
   button enabling on the wizard. In the example above, I've only overridden 
   finish and cancel, in the function call I've told the WizardManager that I will
   use the function "onFinish" and the function "onCancel" to do these. Note the
   lack of quotes. Once again I recommend that you override as few functions as possible.
<p>&nbsp;
<p>Now all you have to do is load the initial panel, which is done like so:
<blockquote>
  <code>
	wizardManager.LoadPage( startPage, <b>false</b> );
  </code>
</blockquote>
<p>This says load the page represented by the tag "startPage". The second argument
   is false when you are passing in a tag, rather than a complete URL. To pass in
   a complete URL, set this parameter to be true:
<blockquote>
  <code>
	wizardManager.LoadPage( "http://www.wizard.com/wizardstart.xul", <b>true</b> );
  </code>
</blockquote>
<p>&nbsp;
<p>That's all that's required to set up the WizardManager! If you override any of the
   functions (and you <b>will</b> have to override the finish function, because
   what your wizard does with the data is specific to your wizard), you'll need
   to write functions that deal with the data. The WizardManager uses the 
   WidgetStateManager class to do its data management. You can learn about how
   to read data from the WidgetStateManager by reading the WSM document. The WSM
   is instantiated by the WM as a property, and you can access the data manager
   of the WSM like so:
<blockquote>
  <code> 
    wizardManager.WSM.PageData;
  </code>
</blockquote>
<p>You may also like to read the code contained in createProfileWizard.js for more
   information on how to set up the WizardManager. 

<hr>
<h2>Extra Features and Information</h2>
<p>If you provide an element (typically a DIV) with the id "progress" in your 
   wizard XUL file, the text "x of y" will be placed in the element, where x is
   the current page number and y is the number of pages in the wizard. This shows
   the user the progress that they have made through the wizard. (e.g. "2 of 3")
<p>WizardManager includes a number of functions, but these are well documented
   in the wizardManager.js file in the global content folder.    
   
<p> 




<hr class="hide">
</div>
</div>
<div id="footer">
<ul>
<li><a href="../../sitemap.html">Site Map</a></li>
<li><a href="../../security/">Security Updates</a></li>
<li><a href="../../contact/">Contact Us</a></li>
<li><a href="../../foundation/donate.html">Donate</a></li>
</ul>
<p class="copyright">
Portions of this content are &copy; 1998&#8211;2009 by individual mozilla.org
contributors; content available under a Creative Commons license | <a
href="http://www.mozilla.org/foundation/licensing/website-content.html">Details</a>.</p>
<p>
<span>Last modified December 12,  1999</span>
<span><a href="http://bonsai-www.mozilla.org/cvslog.cgi?file=mozilla-org/html/xpapps/components/wizardmanager.html&amp;rev=&amp;root=/www/">Document History</a></span>
</p>
</div>
</div>
</body>
</html>
