h1#header 
{
  border-bottom: 1px solid black;
  margin-bottom: 1px;
  padding-bottom: 2px;
}

div#headerul 
{
  border-top: 3px solid black;
}

div#contact
{
  padding-top: 3px;
}

h2
{
  border-bottom: 1px solid black;
  margin-bottom: 1px;
  padding-bottom: 0px;
}

code 
{
  font-family: courier new, courier, monospace;
  font-size: small;
  color: #000080;
  display: block;
}

code.prototype
{
  font-family: courier new, courier, monospace;
  font-size: small;
  color: #000080;
  display: block;
}

.params
{
  font-style: italic;
}

td, p {
  font-size: normal;
}

table.paramtable > tr > td
{
  padding-right: 10px;
}

div.parmtable 
{
  padding-left: 25px;
}