Redirect permanent /docs/dom/domref/images/alert.gif http://developer.mozilla.org/wiki-images/en/6/6c/domref-alert.gif
Redirect permanent /docs/dom/domref/images/backgrnd.gif http://developer.mozilla.org/wiki-images/en/f/fe/domref-backgrnd.gif
Redirect permanent /docs/dom/domref/images/cat.jpg http://developer.mozilla.org/wiki-images/en/1/17/domref-cat.jpg
Redirect permanent /docs/dom/domref/images/clientHeight.png http://developer.mozilla.org/wiki-images/en/0/09/domref-clientHeight.png
Redirect permanent /docs/dom/domref/images/clientWidth.png http://developer.mozilla.org/wiki-images/en/a/a3/domref-clientWidth.png
Redirect permanent /docs/dom/domref/images/confirm.gif http://developer.mozilla.org/wiki-images/en/6/64/domref-confirm.gif
Redirect permanent /docs/dom/domref/images/dom_window_ref2.gif http://developer.mozilla.org/wiki-images/en/2/20/domref-dom_window_ref2.gif
Redirect permanent /docs/dom/domref/images/dom_window_ref3.gif http://developer.mozilla.org/wiki-images/en/6/65/domref-dom_window_ref3.gif
Redirect permanent /docs/dom/domref/images/dom_window_refa.gif http://developer.mozilla.org/wiki-images/en/0/0f/domref-dom_window_refa.gif
Redirect permanent /docs/dom/domref/images/dom_window_refa2.gif http://developer.mozilla.org/wiki-images/en/2/2b/domref-dom_window_refa2.gif
Redirect permanent /docs/dom/domref/images/dom_window_refa3.gif http://developer.mozilla.org/wiki-images/en/5/53/domref-dom_window_refa3.gif
Redirect permanent /docs/dom/domref/images/domref.gif http://developer.mozilla.org/wiki-images/en/e/ed/domref.gif
Redirect permanent /docs/dom/domref/images/navidx.gif http://developer.mozilla.org/wiki-images/en/f/f7/domref-navidx.gif
Redirect permanent /docs/dom/domref/images/navidxx.gif http://developer.mozilla.org/wiki-images/en/6/66/domref-navidxx.gif
Redirect permanent /docs/dom/domref/images/navnext.gif http://developer.mozilla.org/wiki-images/en/5/5a/domref-navnext.gif
Redirect permanent /docs/dom/domref/images/navnextx.gif http://developer.mozilla.org/wiki-images/en/e/e2/domref-navnextx.gif
Redirect permanent /docs/dom/domref/images/navprev.gif http://developer.mozilla.org/wiki-images/en/2/20/domref-navprev.gif
Redirect permanent /docs/dom/domref/images/navprevx.gif http://developer.mozilla.org/wiki-images/en/4/47/domref-navprevx.gif
Redirect permanent /docs/dom/domref/images/navtoc.gif http://developer.mozilla.org/wiki-images/en/0/0f/domref-navtoc.gif
Redirect permanent /docs/dom/domref/images/navtocx.gif http://developer.mozilla.org/wiki-images/en/6/63/domref-navtocx.gif
Redirect permanent /docs/dom/domref/images/offsetHeight.png http://developer.mozilla.org/wiki-images/en/3/35/domref-offsetHeight.png
Redirect permanent /docs/dom/domref/images/offsetWidth.png http://developer.mozilla.org/wiki-images/en/0/08/domref-offsetWidth.png
Redirect permanent /docs/dom/domref/images/pdf.gif http://developer.mozilla.org/wiki-images/en/3/36/domref-pdf.gif
Redirect permanent /docs/dom/domref/images/preface2.gif http://developer.mozilla.org/wiki-images/en/3/3d/domref-preface2.gif
Redirect permanent /docs/dom/domref/images/prefacea.gif http://developer.mozilla.org/wiki-images/en/4/4e/domref-prefacea.gif
Redirect permanent /docs/dom/domref/images/prompt.gif http://developer.mozilla.org/wiki-images/en/8/84/domref-prompt.gif
Redirect permanent /docs/dom/domref/images/scrollHeight.png http://developer.mozilla.org/wiki-images/en/8/8c/domref-scrollHeight.png
Redirect permanent /docs/dom/domref/images/scrollTop.png http://developer.mozilla.org/wiki-images/en/6/68/domref-scrollTop.png
Redirect permanent /docs/dom/domref/images/test_page.gif http://developer.mozilla.org/wiki-images/en/5/53/domref-test_page.gif
Redirect permanent /docs/dom/domref/images/webworks.gif http://developer.mozilla.org/wiki-images/en/f/fe/domref-webworks.gif
Redirect permanent /docs/dom/domref/images/window-chrome.gif http://developer.mozilla.org/wiki-images/en/0/08/domref-window-chrome.gif