Redirect permanent /foundation/EULA/ http://www.mozilla.com/legal/eula/
Redirect permanent /foundation/eula.html http://www.mozilla.org/legal/eula/
Redirect permanent /foundation/partnerships.html http://www.mozilla.com/en-US/about/partnerships.html

