[%# Bugzilla 2.24 %]
[%
	INCLUDE "inc/header.html.tmpl"
	title = "Bugzilla 2.24"
%]

    <h1>Bugzilla 2.24</h1>

    <p>Bugzilla 2.24 is currently in development. Until the release notes
       are ready, watch the Status Updates for a listing of new features.</p>

    <p>Instead of releasing Bugzilla 2.24, the Bugzilla Project may
     release Bugzilla 3.0, depending on how many things we accomplish
     in the <a href="http://wiki.mozilla.org/Bugzilla:Roadmap">Bugzilla 
     3.0 Roadmap</a> by the time we release.</p>

    <p>Schedule:</p>
    <ul>
      <li>Feature Freeze: Late 2006</li>
      <li>Create release branch: December 2006</li>
      <li>Final Release: Early 2007</li>
    </ul>

    <p>These dates are estimates and subject to change based on code 
        stability.</p>
    <ul>
      <li><a href="../../download/#v224">Download 2.23.2</a></li>
      <!-- <li><a href="new-features.html">New features in 2.24</a></li> -->
      <li><a href="../../status/changes.html">Complete changelogs since 
        prior versions</a></li>
      <!-- <li><a href="release-notes.html">Proposed Release Notes 
        for 2.24</a></li> -->
    </ul>

[% INCLUDE "inc/footer.html.tmpl" %]
