Redirect permanent /docs/dom/mozilla/protodoc.html http://developer.mozilla.org/en/docs/JavaScript-DOM_Prototypes_in_Mozilla
Redirect permanent /docs/dom/mozilla/xpcomintro.html http://developer.mozilla.org/en/docs/Introduction_to_XPCOM_for_the_DOM
