Redirect permanent /projects/xpinstall/wizard/index.html http://developer.mozilla.org/en/docs/Install_Wizards_%28aka:_Stub_Installers%29
Redirect permanent /projects/xpinstall/wizard/unix/index.html http://developer.mozilla.org/en/docs/Install_Wizards_%28aka:_Stub_Installers%29:Unix_stub_installer
Redirect permanent /projects/xpinstall/wizard/mac/index.html http://developer.mozilla.org/en/docs/Install_Wizards_%28aka:_Stub_Installers%29:Mac_stub_installer
Redirect permanent /projects/xpinstall/wizard/windows/index.html http://developer.mozilla.org/en/docs/Install_Wizards_%28aka:_Stub_Installers%29:Windows_stub_installer
