Redirect permanent changes.html http://www.bugzilla.org/status/changes.html
Redirect permanent report.html http://www.mozilla.org/quality/bug-writing-guidelines.html
Redirect permanent source.html http://www.bugzilla.org
