Options +MultiViews
Redirect permanent /products/firefox/mirrors.html http://www.mozilla.org/mirrors.html
Redirect permanent /products/firefox/shelf.html http://www.mozilla.org/press/awards
Redirect permanent /products/firefox/add-engines.html https://addons.mozilla.org/search-engines.php
Redirect permanent /products/firefox/support/ http://www.mozilla.org/support/firefox/


Redirect permanent /products/firefox/all http://www.mozilla.com/firefox/all.html
Redirect permanent /products/firefox/all.html http://www.mozilla.com/firefox/all.html
Redirect temp /products/firefox/all-beta http://www.mozilla.com/firefox/all.html
Redirect temp /products/firefox/all-beta.html http://www.mozilla.com/firefox/all.html
Redirect permanent /products/firefox/central http://www.mozilla.com/firefox/central
Redirect permanent /products/firefox/central.html http://www.mozilla.com/firefox/central
Redirect permanent /products/firefox/download http://www.mozilla.com/firefox/
Redirect permanent /products/firefox/download.html http://www.mozilla.com/firefox/
Redirect permanent /products/firefox/live-bookmarks http://www.mozilla.com/firefox/livebookmarks.html
Redirect permanent /products/firefox/live-bookmarks.html http://www.mozilla.com/firefox/livebookmarks.html
Redirect permanent /products/firefox/releases/0.9.2.html http://www.mozilla.org/products/firefox/releases/0.9.1.html
Redirect permanent /products/firefox/releases/0.10.1.html http://www.mozilla.org/products/firefox/releases/0.10.html
Redirect permanent /products/firefox/releases/ http://www.mozilla.com/firefox/releases/
Redirect permanent /products/firefox/search http://www.mozilla.com/firefox/search.html
Redirect permanent /products/firefox/search.html http://www.mozilla.com/firefox/search.html
Redirect permanent /products/firefox/system-requirements http://www.mozilla.com/firefox/system-requirements.html
Redirect permanent /products/firefox/system-requirements.html http://www.mozilla.com/firefox/system-requirements.html
Redirect permanent /products/firefox/tabbed-browsing http://www.mozilla.com/firefox/tabs.html
Redirect permanent /products/firefox/tabbed-browsing.html http://www.mozilla.com/firefox/tabs.html
Redirect permanent /products/firefox/index.html http://www.mozilla.com/firefox/
Redirect permanent /products/firefox/upgrade-2.html http://www.mozilla.com/firefox/upgrade-2.html
Redirect permanent /products/firefox/themes https://addons.mozilla.org/themes/
Redirect permanent /products/firefox/themes.html https://addons.mozilla.org/themes/
Redirect permanent /products/firefox/why/index.html http://www.mozilla.com/firefox/
Redirect permanent /products/firefox/upgrade/ http://www.mozilla.com/firefox/upgrade
Redirect permanent /products/firefox/guidebook.jpg http://www.mozilla.com/firefox/guidebook.jpg
Redirect permanent /products/firefox/switch http://www.mozilla.com/firefox/switch
Redirect permanent /products/firefox/switch.html http://www.mozilla.com/firefox/switch
Redirect permanent /products/firefox/start/ http://www.mozilla.com/firefox/central
