#firefoxIntro {
  font-weight: bold;
  width: 370px;
  margin: 0px 15px 0px 0px;
  font-size: smaller;
}

#firefoxProductShot {
  margin-top: 20px; 
}

#download {
  margin: 20px 15px 0px 0px; 
}

#downloadButton {
  background-color: #C4D3E6;
  border: 1px solid #7DA7D9;
  padding: 0px;
  margin-bottom: 3px;
  border-collapse: collapse;
}

#downloadButton td {
  padding: 3px 3px 7px 3px;
}

#cdLink td,#cdLink a {
  text-decoration: none;
  font-size: x-small;
  color: black;
  font-weight: normal;
}

#cdLink td {
  background: #EEE;
  padding: 5px 0 0 0;
}

#cdIcon {
  border: 0 !important;
  vertical-align: middle;
}

#iconBox img {
  padding-top: 2px; 
}

#downloadLink {
  text-decoration: none;
}

#downloadText {
  font-size: larger;
  color: black;
}

#configParent {
  text-decoration: none !important;
  font-size: x-small;
  color: black;
  font-weight: normal; 
}

.ancilliaryLink {
  font-size: x-small; 
}

#quotes {
  font-size: small; 
}

#features {
  margin: 0px 0px 10px 0px;
}

#sidebar {
  float: right;
  width: 190px;
  border: 1px solid #D9B87F;
  margin: 20px 0px 5px 10px; 
}

#sidebar h3 {
  margin: 0px;
  font-size: smaller;
  background-color: #F1D79E;
  color: black;
  padding: 3px;
  margin-bottom: 3px;
}

#sidebar ul {
  margin: 0px;
  padding: 0px;
}

#sidebar li {
  font-size: small;
  list-style-type: none;
  line-height: 1.7em;
  margin-left: 5px;
}
