body {
  margin: 0px;
}

.body {
  font: 9pt Verdana, Arial, sans-serif;
  padding-left: 15px;
  padding-right: 15px;
  text-align: justify;
}

.heading {
  font: 11pt Verdana, Arial, sans-serif;
  font-weight: bold;  
  font-style: italic;
}


a {
  color: #AD7418;
}

.bulletPoint {
  font: 14px Verdana, Arial, sans-serif;
  color: #000000;
}

.bulletPointSubtext {
  text-align: right;
  font: 11px Verdana, Arial, sans-serif;
  font-style: italic;
  color: #A9A9A9;
}

.downloadBoxText { 
  font: 9px Verdana, Arial, sans-serif;
  color: #AD7418;
  padding-bottom: 3px;
}

.osValue {
  font-size: x-small;
  width: 156px;
}  

#downloadContentCell {
  background-repeat: no-repeat;
}

#downloadBox {
  margin-top: 15px;
}

.bulletPointCell {
  padding-top: 10px;
  padding-bottom: 5px;
}

.footerMenu {
  font: 9px Verdana, Arial, sans-serif;
}

.footerMenu a, .copyright a {
  font: 9px Verdana, Arial, sans-serif;
  color: #AD7418;
}

.copyright {
  font: 9px Verdana, Arial, sans-serif;
  color: #000000;      
}

#featureCell {
  padding-left: 10px;
  width: 328px !important;
}
