Redirect gone /xpfe/xptoolkit/xbl.html
Redirect permanent /xpfe/xptoolkit/contents.html http://www.mozilla.org/xpfe/xptoolkit/
Redirect permanent /xpfe/xptoolkit/xulintro.html http://developer.mozilla.org/en/docs/Introduction_to_XUL
Redirect permanent /xpfe/xptoolkit/overlays.html http://developer.mozilla.org/en/docs/XUL_Overlays
