/* Code styles. */
code {
  font-weight: bold;
}

div.code {
  white-space: pre;
  border: solid #777 thin;
  padding: 0.5em;
  background: #eee;
}

code, div.code {
  font-family: courier new, courier, fixed;
  font-size: smaller;
}

h1 { text-align: center; }
