Redirect permanent /projects/intl/xul-how2l10n.html http://www.mozilla.org/projects/l10n/mlp_status.html
Redirect permanent /projects/intl/xul-l10n.html http://www.mozilla.org/projects/l10n/xul-l10n.html
Redirect permanent /projects/intl/xul-styleguide.html http://www.mozilla.org/projects/l10n/xul-styleguide.html
Redirect permanent /projects/intl/fonts.html http://wiki.mozilla.org/Font_selection
