<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
  <head>
    <title>Requirements Specification Guide</title>
  </head>

  <body bgcolor="#FFFFFF">
<hr>
<h1>Requirements Specification Guide</h1>
<hr>
<p>&nbsp;</p>
<h2>Purpose</h2>
<p>The intent of this guide is to make it easy to write a precise and complete 
  specification for a software project. </p>
<h2>How to Write a Specification</h2>
<p>To write a specification, copy the <a href="requirements-spec-template.html">Requirements Specification 
  Template</a> to a working directory, rename it as you like, then replace all 
  bracketed text by information pertinent to your project. (Contact <a href="mailto:edburns@acm.org">edburns@acm.org</a> 
  if you have comments or suggestions regarding the template.)</p>
<p>When you have finished, it is a good idea to verify the completeness of your 
  specification by checking it against the list below:</p>
<UL>
  <P></P>
</UL>
<h2>Optional Checklist </h2>
<UL>
  <UL>
  </UL>
</UL>
<br>
The requirements specification should:<br>
<ul>
  <li>describe the flow and content of information</li>
  <li>elaborate all software functions</li>
  <li>describe all events that affect the system</li>
  <li>uncover design constraints</li>
  <li>show evidence and conclusions from research on prior projects that addressed 
    the same problem. Specifically, list problems with each prior project.</li>
  <li>specify performance constraints</li>
  <li>serve as the basis for a Preliminary User's Manual</li>
  <li>describe the design principles that will be followed; for example, design 
    for maintainability</li>
  <li>describe the benefits of a successful implementation</li>
  <li>describe the environment in which the software is to run</li>
  <li>be a cognitive model; that is, it must be described in the user domain with 
    user terms.</li>
  <li>separate functionality from implementation</li>
  <li>be useful for validating the correctness of an implementation</li>
  <li>be tolerent of incompleteness and be augmentable</li>
  <li>be modular and loosely coupled<br>
  </li>
</ul>
</body>
</html>
