<html>
<head>
<title>Requirements Specifications for [project name]</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF">
<hr>
<h1>Requirements Specifications for [project name]</h1>
<hr>
<h2>&nbsp;</h2>
<p>This specification includes the following topics: </p>
<p>&nbsp;</p>
<blockquote> 
  <p><a href="#Intro">1. Introduction</a> </p>
  <blockquote> 
    <p><a href="#Context"><i>a. How the software fits into the larger system<br>
      </i></a><i><a href="#Description">b. Overall description<br>
      </a></i><i><a href="#ProjConstraints">c. Software Project Constraints</a> 
      </i></p>
  </blockquote>
  <p><a href="#Problem">2. Detailed Problem Description</a> </p>
  <blockquote> 
    <p><a href="#InfoFlow"><i>a. Information Flow<br>
      </i></a><i><a href="#InfoStructure">b. Information Structure<br>
      </a></i><i><a href="#Interfaces">c. System Interface Description</a> </i></p>
  </blockquote>
  <p><a href="#Functional">3. Functional Description</a> </p>
  <blockquote> 
    <p><a href="#Partitioning"><i>Functional Partitioning</i></a> </p>
  </blockquote>
  <p><a href="#Behavior">4. Behavioral Description</a></p>
  <blockquote>
    <p><a href="#States">a. System States</a><br>
      <a href="#Events">b. Events and Actions</a></p>
  </blockquote>
  <p><a href="#Validation">5. Validation Criteria</a> </p>
  <blockquote> 
    <p><a href="#Perf"><i>a. Performance Bounds<br>
      b. Classes of Tests<br>
      </i></a><i><a href="#ValidationConsiderations">c. Special Considerations</a> 
      </i></p>
  </blockquote>
</blockquote>
<p>&nbsp;</p>
<hr>
<h2> <a name="Intro">1. Introduction</a> </h2>
<ul>
  <h3> <a name="Context">a. How the software fits into the larger system</a> </h3>
  <ul>
    [This section describes in what environment the software is to run. This includes 
    as much detail as possible about the platform, operating system, and runtime 
    environment, including version numbers.] 
  </ul>
  <h3> <a name="Description">b. Overall description</a> </h3>
  <ul>
    [This section provides a high-level description of the software: goals for 
    the project, intended customer, what the software is supposed to do, why there 
    is a need for this software, a rigorous definition of the scope for the software 
    (what's inside the scope and outside the scope).] 
  </ul>
  <h3> <a name="ProjConstraints">c. Software Project Constraints</a> </h3>
  <ul>
    [These are not constraints on the actual software, but rather constraints 
    on the way in which the software will be built. For example, general timeframe 
    constraints, language and tools constraints, resource constraints, etc.] 
  </ul>
</ul>
<h2> <a name="Problem">2. Detailed Problem Description</a> </h2>
<ul>
  <h3> <a name="InfoFlow">a. Information Flow</a> </h3>
  <ul>
    [This section describes the flow of information into and out of the software 
    from the external environment. This section doesn't deal with the details 
    of events and actions; they are addressed <a
      href="#Events">here</a>.] 
  </ul>
  <h3> <a name="InfoStructure">b. Information Structure</a> </h3>
  <ul>
    [This section describes the structure of the information: what objects are 
    involved, what interfaces these objects implement, etc.] 
  </ul>
  <h3> <a name="Interfaces">c. System Interface Description</a> </h3>
  <ul>
    [This describes the interfaces, programmatic and human, to the system. This 
    section can be involved and should include sufficient detail for customers 
    to make decisions about the desirability of product features, etc.] 
  </ul>
</ul>
<h2> <a name="Functional">3. Functional Description</a> </h2>
<ul>
  [This section describes what the various parts of the system are, what each 
  one does, and how they interact.] 
  <p></p>
  <h3> <a name="Partitioning">Functional Partitioning</a> </h3>
  <blockquote> 
    <pre> <a name="Part1">Part 1</a> </pre>
  </blockquote>
  <ul>
    <ul>
    </ul>
  </ul>
  <blockquote> 
    <pre> <a name="Part2">Part 2</a></pre>
    <pre><b>...</b> </pre>
  </blockquote>
  <ul>
    <ul>
    </ul>
  </ul>
</ul>
<h2> <a name="Behavior">4. Behavioral Description</a> </h2>
<ul>
  This section examines the operation of the software as a consequence of external 
  and internal events. 
  <h3> <a name="States">a. System States</a> </h3>
  <ul>
    [This section describes the various states in which the software can be found 
    throughout its startup, runtime, and shutdown.] 
  </ul>
  <h3> <a name="Events">b. Events and Actions</a> </h3>
  <ul>
    [This section describes the events that go into and out of the system. This 
    section should be detailed and specific.] 
  </ul>
</ul>
<h2> <a name="Validation">5. Validation Criteria</a> </h2>
<ul>
  This section describes the attributes of a successful implementation. [This 
  section should be useful for qualifying an implementation to ensure that it 
  conforms to the spec.] 
  <h3> <a name="Perf">a. Performance Bounds</a> </h3>
  <ul>
    [This section rigorously defines the desired performance attributes of the 
    software. For example: maximum runtime memory use, maximum installed disk 
    space use, startup time bounds, responsiveness requirements, etc.] 
  </ul>
  <h3> <a name="Classes">b. Classes of Tests</a> </h3>
  <ul>
    [This section describes the kinds of test cases that can be used to verify 
    the correctness of an implementation, particularly with respect to the above 
    performance bounds.] 
  </ul>
  <h3> <a name="ValidationConsiderations">c. Special Considerations</a> </h3>
  <ul>
    [This section is used to describe any concerns specific to this software. 
    Delete this section if there are no special considerations.]
  </ul>
</ul>
</body>
</html>
