#cat-top-nav {
  font-weight: bold;
  font-size:larger;
}

#cat-description {
  padding-bottom: 0.5em;
  border-bottom: 2px solid #ccc;
}

#cat-nav {
  padding-bottom: 0.5em;
  border-bottom: 2px solid #ccc;
}

#cat-nav table { width: 100% }
#cat-nav td { width: 50% }
#cat-nav ul li { list-style: none; }
#cat-nav a { font-weight: bold; }
.minor a { font-weight: normal; font-size: smaller; }

.sub-cat {
  font-weight: bold;
}

dl.cat-link-list ul {
  padding: 0; padding-top: 0.5em; padding-bottom: 0.5em;
}

dl.cat-link-list ul ul {
  padding-left: 2em;
}

dl.cat-link-list dt {
  font-weight: bold;
}