a.newlink {
  color: #909090 !important;
  background: transparent;
  font-size: smaller;  
  font-weight: bold;
  text-decoration: none;
}

a.newlink:hover {
  color: #606060;
  background: transparent;
  font-size: smaller;  
  text-decoration: underline;
}

p[hidden="true"] {
  display: none;
}

h4 {
  margin-bottom: 1ex;
}

.featureText {
  font-size: smaller;
  text-align: justify;
}

.featureCaption {
  font-size: x-small;
}

.featureIcon {
  margin: 10px;
  text-align: center;
  background-color: #F4F4F4;
  color: inherit;
}

.featureIconImage {
  padding: 1px;
  margin-bottom: 3px;
}

td.body {
  font-family: Arial, helvetica, sans-serif;  
}

