[%# Navigation %]

<div id="side">
<ul id="nav">
<li>
	<a href="[% WEBPATH %]/about/" title="Find out more about Bugzilla."><strong>About</strong></a>
	<ul>
		<li><a href="[% WEBPATH %]/installation-list/" title="Hundreds of companies and organizations trust Bugzilla.">Who Uses Bugzilla?</a></li>
		<li><a href="[% WEBPATH %]/status/roadmap.html" title="Learn about Bugzilla's future.">Roadmap</a></li>
		<li><a href="[% WEBPATH %]/developers/profiles.html" title="Meet the Bugzilla team.">Meet the Team</a></li>
		<li><a href="[% WEBPATH %]/releases/" title="Information on current and previous releases.">Release Information</a></li>
	</ul>
</li>
<li>
	<a href="[% WEBPATH %]/news/" title="Get the low down on what's happening with the project."><strong>News</strong></a>
	<ul>
		<li><a href="[% WEBPATH %]/status/" title="View the status of the Bugzilla project.">Status Updates</a></li>
		<li><a href="[% WEBPATH %]/security/" title="Important updates regarding Bugzilla security.">Security Advisories</a></li>
                <li><a href="http://wiki.mozilla.org/Bugzilla" title="Collaboratively updated information about Bugzilla.">Bugzilla Wiki</a></li>
	</ul>
</li>
<li>
	<a href="[% WEBPATH %]/support/" title="Find out where to get more information and help."><strong>Support</strong></a>
	<ul>
                <li><a href="[% WEBPATH %]/support/" title="Find out where to get more information and help.">Free Support</a></li>
                <li><a href="[% WEBPATH %]/support/consulting.html" title="Paid support options">Paid Support</a></li>
		<li><a href="[% WEBPATH %]/docs/" title="Read the Bugzilla manual and other important documents.">Documentation</a></li>
		<li><a href="[% WEBPATH %]/developers/reporting_bugs.html" title="Let us know if there is an error in Bugzilla.">Report a Bug</a></li>
	</ul>
</li>
<li>
	<a href="[% WEBPATH %]/developers/" title="Developer resources, and ways you can help Bugzilla.">Developer Resources</a>
</li>
</ul>

<div id="box">
<a href="http://store.mozilla.org/product.asp?code=MZ13022&amp;catid=2"><img src="[% WEBPATH %]/img/bzTshirtSM.png" alt=""><br>Get your Bugzilla T-shirt!</a>
</div>

</div>
<!-- closes #side -->

