[%# Changelog %]
[% 
	PROCESS "inc/header.html.tmpl" 
	title = "Changelog" 
%]

<h1>Bugzilla changelog</h1>

<p>
To see a list of changes in Bugzilla between two particular points, 
please choose one of the following: 
</p>

<table><tr>
<td>
<table class="changelist">
<tr><td><b>Development (trunk):</b></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2006-07-09+17:00&amp;maxdate=&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.23.2 &rarr; today</a></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2006-04-22+20:00&amp;maxdate=2006-07-09+17:00&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.23.1 &rarr; 2.23.2</a></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2006-02-21+00:00&amp;maxdate=2006-04-22+20:00&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.22rc1/2.23 &rarr; 2.23.1</a></td></tr>
<tr><td style="text-align: right;">&uarr; &nbsp; &rarr; &nbsp; &rarr;</td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2005-09-30+19:00&amp;maxdate=2006-02-21+00:00&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.21.1 &rarr; 2.22rc1</a></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2005-07-07+23:30&amp;maxdate=2005-09-30+19:00&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.20rc1/2.21 &rarr; 2.21.1</a></td></tr>
<tr><td style="text-align: right;">&uarr; &nbsp; &rarr; &nbsp; &rarr;</td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2005-05-11+20:00&amp;maxdate=2005-07-07+23:30&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.19.3 &rarr; 2.20rc1</a></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2005-01-15+04:00&amp;maxdate=2005-05-11+20:00&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.19.2 &rarr; 2.19.3</a></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2004-10-25+01:00&amp;maxdate=2005-01-15+04:00&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.19.1 &rarr; 2.19.2</a></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2004-07-11+00:00&amp;maxdate=2004-10-25+01:00&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.18rc1/2.19 &rarr; 2.19.1</a></td></tr>
<tr><td style="text-align: right;">&uarr; &nbsp; &rarr; &nbsp; &rarr;</td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2004-03-04+00:00&amp;maxdate=2004-07-11+00:00&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.17.7 &rarr; 2.18rc1</a></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2003-11-03+00:00&amp;maxdate=2004-03-04+00:00&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.17.6 &rarr; 2.17.7</a></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2003-11-03+00:00&amp;maxdate=2003-11-10+00:00&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.17.5 &rarr; 2.17.6</a></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2003-04-25+00:00&amp;maxdate=2003-11-03+00:00&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.17.4 &rarr; 2.17.5</a></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2003-01-03+00:00&amp;maxdate=2003-04-25+00:00&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.17.3 &rarr; 2.17.4</a></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2002-11-25+00:00&amp;maxdate=2003-01-03+00:00&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.17.1 &rarr; 2.17.3</a></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2002-05-09+00:00&amp;maxdate=2002-11-25+00:00&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.16rc1/2.17 &rarr; 2.17.1</a></td></tr>
<tr><td style="text-align: right;">&uarr; &nbsp; &rarr; &nbsp; &rarr;</td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2001-08-29+13:00&amp;maxdate=2002-05-09+00:00&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.14 &rarr; 2.16rc1</a></td></tr>
<tr><td style="text-align: right;">&uarr; &nbsp; &rarr; &nbsp; &rarr;</td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2001-04-25+12:00&amp;maxdate=2001-08-29+13:00&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.12 &rarr; 2.14</a></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2000-05-08+13:00&amp;maxdate=2001-04-25+12:00&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.10 &rarr; 2.12</a></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=1999-11-19+15:56:28&amp;maxdate=2000-05-08+13:00&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.8 &rarr; 2.10</a></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=1999-08-30+23:02:22&amp;maxdate=1999-11-19+15:56:28&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.6 &rarr; 2.8</a></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=1999-04-30+19:42:25&amp;maxdate=1999-08-30+23:02:22&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.4 &rarr; 2.6</a></td></tr>
</table>
</td>

<td valign="top" style="border-left:solid black 1px">
<table class="changelist">
<tr><td><b>2.22 branch:</b></td></tr>
<tr><td></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2006-04-22+20:00&amp;maxdate=&amp;branch=BUGZILLA-2_22-BRANCH&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.22 &rarr; today </a></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2006-02-21+00:00&amp;maxdate=2006-04-22+20:00&amp;branch=BUGZILLA-2_22-BRANCH&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.22rc1 &rarr; 2.22 </a></td></tr>
<tr><td style="text-align: left">&rarr; &nbsp; &rarr; &nbsp; &uarr;</td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td>&rarr; &nbsp; &rarr; &nbsp; &rarr; &nbsp; &rarr;</td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td>&rarr; &nbsp; &rarr; &nbsp; &rarr; &nbsp; &rarr;</td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td>&rarr; &nbsp; &rarr; &nbsp; &rarr; &nbsp; &rarr;</td></tr>
<tr><td></td></tr>
<tr><td>&rarr; &nbsp; &rarr; &nbsp; &rarr; &nbsp; &rarr;</td></tr>
</table>
</td>

<td valign="top" style="border-left:solid black 1px">
<table class="changelist">
<tr><td><b>2.20 branch:</b></td></tr>
<tr><td></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2006-04-22+20:00&amp;maxdate=&amp;branch=BUGZILLA-2_20-BRANCH&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.20.2 &rarr; today</a></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2006-02-21+00:00&amp;maxdate=2006-04-22+20:00&amp;branch=BUGZILLA-2_20-BRANCH&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.20.1 &rarr; 2.20.2</a></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2005-09-30+19:00&amp;maxdate=2006-02-21+00:00&amp;branch=BUGZILLA-2_20-BRANCH&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.20 &rarr; 2.20.1</a></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2005-08-08+00:00&amp;maxdate=2005-09-30+19:00&amp;branch=BUGZILLA-2_20-BRANCH&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.20rc2 &rarr; 2.20</a></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2005-07-07+23:30&amp;maxdate=2005-08-08+00:00&amp;branch=BUGZILLA-2_20-BRANCH&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.20rc1 &rarr; 2.20rc2</a></td></tr>
<tr><td style="text-align: left">&rarr; &nbsp; &rarr; &nbsp; &uarr;</td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td>&rarr; &nbsp; &rarr; &nbsp; &rarr; &nbsp; &rarr; &nbsp; &rarr;</td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td>&rarr; &nbsp; &rarr; &nbsp; &rarr; &nbsp; &rarr; &nbsp; &rarr;</td></tr>
<tr><td></td></tr>
<tr><td>&rarr; &nbsp; &rarr; &nbsp; &rarr; &nbsp; &rarr; &nbsp; &rarr;</td></tr>
</table>
</td>


<td valign="top" style="border-left:solid black 1px">
<table class="changelist">
<tr><td><b>2.18 branch:</b></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2006-02-21+00:00&amp;maxdate=&amp;branch=BUGZILLA-2_18-BRANCH&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.18.5 &rarr; today</a></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2005-09-30+19:00&amp;maxdate=2006-02-21+00:00&amp;branch=BUGZILLA-2_18-BRANCH&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.18.4 &rarr; 2.18.5</a></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2005-07-09+15:45&amp;maxdate=2005-09-30+19:00&amp;branch=BUGZILLA-2_18-BRANCH&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.18.3 &rarr; 2.18.4</a></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2005-07-07+23:30&amp;maxdate=2005-07-09+15:45&amp;branch=BUGZILLA-2_18-BRANCH&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.18.2 &rarr; 2.18.3</a></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2005-05-11+20:00&amp;maxdate=2005-07-07+23:30&amp;branch=BUGZILLA-2_18-BRANCH&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.18.1 &rarr; 2.18.2</a></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2005-01-15+04:00&amp;maxdate=2005-05-11+20:00&amp;branch=BUGZILLA-2_18-BRANCH&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.18 &rarr; 2.18.1</a></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2004-10-25+01:00&amp;maxdate=2005-01-15+04:00&amp;branch=BUGZILLA-2_18-BRANCH&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.18rc3 &rarr; 2.18</a></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2004-07-28+00:00&amp;maxdate=2004-10-25+01:00&amp;branch=BUGZILLA-2_18-BRANCH&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.18rc2 &rarr; 2.18rc3</a></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2004-07-11+00:00&amp;maxdate=2004-07-28+00:00&amp;branch=BUGZILLA-2_18-BRANCH&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.18rc1 &rarr; 2.18rc2</a></td></tr>
<tr><td style="text-align: left">&rarr; &nbsp; &rarr; &nbsp; &uarr;</td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td>&rarr; &nbsp; &rarr; &nbsp; &rarr; &nbsp; &rarr; &nbsp; &rarr;</td></tr>
<tr><td></td></tr>
<tr><td>&rarr; &nbsp; &rarr; &nbsp; &rarr; &nbsp; &rarr; &nbsp; &rarr;</td></tr>
</table>
</td>

<td valign="top" style="border-left:solid black 1px">
<table class="changelist">
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td><b>2.16 branch:</b></td></tr>
<tr><td>(branch closed)</td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2005-05-18+23:00&amp;maxdate=2006-02-21+00:00&amp;branch=BUGZILLA-2_16-BRANCH&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.16.10 &rarr; 2.16.11</a></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2005-05-11+20:00&amp;maxdate=2005-05-18+23:00&amp;branch=BUGZILLA-2_16-BRANCH&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.16.9 &rarr; 2.16.10</a></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2005-01-15+04:00&amp;maxdate=2005-05-11+20:00&amp;branch=BUGZILLA-2_16-BRANCH&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.16.8 &rarr; 2.16.9</a></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2004-10-25+01:00&amp;maxdate=2005-01-15+04:00&amp;branch=BUGZILLA-2_16-BRANCH&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.16.7 &rarr; 2.16.8</a></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2004-07-11+00:00&amp;maxdate=2004-10-25+01:00&amp;branch=BUGZILLA-2_16-BRANCH&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.16.6 &rarr; 2.16.7</a></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2004-03-04+00:00&amp;maxdate=2004-07-11+00:00&amp;branch=BUGZILLA-2_16-BRANCH&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.16.5 &rarr; 2.16.6</a></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2003-11-03+00:00&amp;maxdate=2004-03-04+00:00&amp;branch=BUGZILLA-2_16-BRANCH&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.16.4 &rarr; 2.16.5</a></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2003-04-24+23:45&amp;maxdate=2003-11-03+00:00&amp;branch=BUGZILLA-2_16-BRANCH&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.16.3 &rarr; 2.16.4</a></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2003-01-02+18:00&amp;maxdate=2003-04-24+23:45&amp;branch=BUGZILLA-2_16-BRANCH&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.16.2 &rarr; 2.16.3</a></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2002-10-10+00:00&amp;maxdate=2003-01-02+18:00&amp;branch=BUGZILLA-2_16-BRANCH&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.16.1 &rarr; 2.16.2</a></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2002-07-29+00:00&amp;maxdate=2002-10-01+00:00&amp;branch=BUGZILLA-2_16-BRANCH&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.16 &rarr; 2.16.1</a></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2002-06-08+00:00&amp;maxdate=2002-07-29+00:00&amp;branch=BUGZILLA-2_16-BRANCH&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.16rc2 &rarr; 2.16</a></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2002-05-09+00:00&amp;maxdate=2002-06-09+00:00&amp;branch=BUGZILLA-2_16-BRANCH&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.16rc1 &rarr; 2.16rc2</a></td></tr>
<tr><td style="text-align: left">&rarr; &nbsp; &rarr; &nbsp; &uarr;</td></tr>
<tr><td></td></tr>
<tr><td>&rarr; &nbsp; &rarr; &nbsp; &rarr; &nbsp; &rarr; &nbsp; &rarr;</td></tr>
</table>
</td>
<td valign="top" style="border-left:solid black 1px">
<table class="changelist">
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td><b>2.14 branch:</b></td></tr>
<tr><td>(branch closed)</td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2002-10-10+01:00&amp;maxdate=2003-01-02+18:00&amp;branch=BUGZILLA-2_14_1-BRANCH&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.14.4 &rarr; 2.14.5</a></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2002-07-29+00:00&amp;maxdate=2002-10-01+00:00&amp;branch=BUGZILLA-2_14_1-BRANCH&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.14.3 &rarr; 2.14.4</a></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2002-06-08+00:00&amp;maxdate=2002-07-29+00:00&amp;branch=BUGZILLA-2_14_1-BRANCH&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.14.2 &rarr; 2.14.3</a></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2002-01-05+12:30&amp;maxdate=2002-06-08+00:00&amp;branch=BUGZILLA-2_14_1-BRANCH&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.14.1 &rarr; 2.14.2</a></td></tr>
<tr><td><a href="http://bonsai.mozilla.org/cvsquery.cgi?mindate=2001-08-29+13:00&amp;maxdate=2002-01-05+12:30&amp;branch=BUGZILLA-2_14_1-BRANCH&amp;module=Bugzilla&amp;sortby=Date&amp;date=explicit">2.14 &rarr; 2.14.1</a></td></tr>
<tr><td style="text-align: left">&rarr; &nbsp; &rarr; &nbsp; &uarr;</td></tr>
</table>
</td>
</tr>
</table>

[% PROCESS "inc/footer.html.tmpl" %]
