
chapter {
  display: block;
  text-align: left;
}

para {
  display: block;
  font-size: 14pt;
}

para:first-line {
  font-weight: bold;
  color: maroon;
}

para:first-letter {
  font-size: 200%;
  font-style: italic;
  color: green;
}
