
flight {
  display: table;
  border: outset 5px red;
  margin: auto;
}

timeslot {
  display: table-row;
}

name,time {
  display: table-cell;
  width: 150px;
  border: 1px solid black;
  padding-left: 3px;
}

name {
  font-weight: bold;
}
