[%# Documentation %]
[%
	PROCESS "inc/header.html.tmpl"
	title = "Documentation"
%]

<h1>Documentation</h1>
<h2>Administrators &amp; End Users</h2>
<p><b><a href="http://wiki.mozilla.org/Bugzilla:FAQ">Frequently Asked Questions</a></b></p>
<p><b>The Bugzilla Guide:</b></p>
<ul>
  <li><b>Current development version (cvs tip / 2.23.2)</b>
      <a href="http://www.bugzilla.org/docs/tip/html/">[html]</a>
      <a href="http://www.bugzilla.org/docs/tip/pdf/Bugzilla-Guide.pdf">[pdf]</a>
      <a href="http://www.bugzilla.org/docs/tip/txt/Bugzilla-Guide.txt">[text]</a></li>
  <li><strong>Bugzilla 2.22</strong>
    <a href="http://www.bugzilla.org/docs/2.22/html/">[html]</a>
    <a href="http://www.bugzilla.org/docs/2.22/pdf/Bugzilla-Guide.pdf">[pdf]</a>
    <a href="http://www.bugzilla.org/docs/2.22/txt/Bugzilla-Guide.txt">[text]</a></li>
  <li><strong>Bugzilla 2.20.2</strong>
      <a href="2.20/html/">[html]</a>
      <a href="2.20/pdf/Bugzilla-Guide.pdf">[pdf]</a>
      <a href="2.20/txt/Bugzilla-Guide.txt">[txt]</a></li>
  <li><b>Bugzilla 2.18.5</b>
      <a href="http://www.bugzilla.org/docs/2.18/html/">[html]</a>
      <a href="http://www.bugzilla.org/docs/2.18/pdf/Bugzilla-Guide.pdf">[pdf]</a>
      <a href="http://www.bugzilla.org/docs/2.18/txt/Bugzilla-Guide.txt">[text]</a>
      (translations: <a href="http://www.bugzilla.jp/docs/2.18/">ja</a>)</li>
  <li><b>Bugzilla 2.16.11</b>
      <a href="http://www.bugzilla.org/docs/2.16/html/">[html]</a>
      <a href="http://www.bugzilla.org/docs/2.16/pdf/Bugzilla-Guide.pdf">[pdf]</a>
      <a href="http://www.bugzilla.org/docs/2.16/txt/Bugzilla-Guide.txt">[text]</a>
      (translations: <a href="http://www.traduc.org/docs/guides/lecture/bugzilla/">fr</a>)</li>
  <li><b>Bugzilla 2.14.5</b>
      <a href="http://www.bugzilla.org/docs/2.14/html/">[html]</a>
      <a href="http://www.bugzilla.org/docs/2.14/txt/Bugzilla-guide.txt">[text]</a></li>
</ul>

<p>Interested in helping to improve Bugzilla's documentation?  See our
   <a href="documentor.html">Bugzilla Documentor's Guide</a>.
</p>

<h2>Developer Documentation</h2>
<p>The <a href="../developers/">Developers page</a> lists developer resources
 and guides available to all Bugzilla developers.</p>

<h2>Search</h2>
<form method="post" action="http://bugzilla.org/cgi-bin/htsearch">
  <p>Search the documentation for Bugzilla version:
    <select name="restrict">
      <option value="http://www.bugzilla.org/docs/tip/html/">2.23.2</option>
      <option value="http://www.bugzilla.org/docs/2.22/html/">2.22</option>
      <option value="http://www.bugzilla.org/docs/2.20/html/">2.20.2</option>
      <option value="http://www.bugzilla.org/docs/2.18/html/">2.18.5</option>
      <option value="http://www.bugzilla.org/docs/2.16/html/">2.16.11</option>
      <option value="http://www.bugzilla.org/docs/2.14/html/">2.14.5</option>
    </select></p>
	<p>
		Match:
		<select name="method">
			<option value="and">All</option>
			<option value="or">Any</option>
			<option value="boolean">Boolean</option>
		</select>
		<input type="hidden" name="format" value="builtin-long" >
	</p>
	<p>
		Sort by: 
		<select name="sort">
			<option value="score">Score</option>
			<option value="time">Time</option>
			<option value="title">Title</option>
			<option value="revscore">Reverse Score</option>
			<option value="revtime">Reverse Time</option>
			<option value="revtitle">Reverse Title</option>
		</select>
		<input type="hidden" name="config" value="htdig" >
		<input type="hidden" name="exclude" value="" >
	</p>
	<p>
		Keywords:
		<input type="text" size="30" name="words" value="" >
	</p>
	<p><input type="submit" value="Search" ></p>
</form>

[% PROCESS "inc/footer.html.tmpl" %]
