[%# Bugzilla Reviewers, By File %]
[%
        PROCESS "inc/header.html.tmpl"
        title = "Bugzilla Reviewers, By File"
%]
    <h1>Bugzilla Reviewers, By File</h1>
    
    <h2>Table of Contents</h2>
    
    <ul>
        <li><a href="#about">About This Page</a></li>
        <li><a href="#multiple-files">Changes That Touch More Than One 
                                      File</a></li>
        <li><a href="#expertise">Areas of Expertise</a></li>
        <li><a href="#cgi">CGIs</a>
            <ul>
                <li><a href="#cgi-admin">Admin CGIs</a></li>
                <li><a href="#cgi-general">General CGIs</a></li>
            </ul>
        </li>
        <li><a href="#scripts">Non-CGI (<kbd>.pl</kbd>) Scripts</a>
            <ul>
                <li><a href="#scripts-testsuite">The Test Suite</a></li>
                <li><a href="#scripts-general">Other Scripts</a></li>
            </ul>
        </li>
        <li><a href="#libraries">Libraries (<kbd>.pm</kbd> files)</a>
            <ul>
                <li><a href="#libraries-auth">Authentication 
                    (<kbd>Bugzilla::Auth</kbd>)</a></li>
                <li><a href="#libraries-db">Database 
                    (<kbd>Bugzilla::DB</kbd>)</a></li>
                <li><a href="#libraries-template">Template 
                    (<kbd>Bugzilla::Template</kbd>)</a></li>
                <li><a href="#libraries-general">General Libraries</a></li>
            </ul>
        </li>
        <li><a href="#templates">Templates</a></li>
        <li><a href="#docs">Documentation</a></li>
        <li><a href="#all">List Of All Reviewers</a></li>
        <li><a href="#become">Become a Reviewer!</a></li>
        <li><a href="#thispage">The Maintainer of This Page</a></li>
        <li><a href="#coredevs">A Note to Core Bugzilla Developers</a></li>
    </ul>
    
    <h2><a name="about"></a>About This Page</h2>
         
    <p>This is a list of who to ask for review, depending on which
    files you are changing. These people are essentially the 
    &quot;owners&quot; of these files.</p>
    
    <p>If a file lists more than one reviewer, you can pick any one.</p>

    <p>You may ask any reviewer to review any change to any file, but 
    they may defer it to another reviewer if they do not feel qualified. 
    They will probably defer it to the reviewer on this list.</p>
    
    
    <h2>Changes That Touch More Than One File</h2>

      <p>If your change touches many files, try to pick the file that's 
    at the &quot;heart&quot; of the changes, and ask that person for 
    review. If you can't figure out who to ask for review, each section 
    has a list of &quot;general&quot; reviewers for that area of Bugzilla. 
    Just pick one of them.</p>

    
    <h2>These Emails Are For Bugzilla <strong>Only</strong></h2>
        
    <p>Note: The emails listed on this page are intended <strong>for
     use in Bugzilla</strong>. Emails sent to these addresses may not
     be answered because in many cases, 
     <a href="http://www.bugzilla.org/support/#private-emails">private
     emails do not help others</a>.</p>

    <h2><a name="expertise"></a>Areas of Expertise</h2>

    <p>Some reviewers have areas of expertise that are not related 
    to any specific part of Bugzilla. If you would like a review about
    one of these areas, ask these reviewers.</p>

    <table class="ReviewerTable" cellpadding="0" cellspacing="0">
    <thead>
    <tr>
        <th>Area</th> <th>Reviewer(s)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>Code Style</th>
        <td>mkanat&#64;bugzilla.org, jouni&#64;heikniemi.net,
            myk&#64;mozilla.org</td>
    </tr>
    <tr>
        <th>CSS</th>
        <td>myk&#64;mozilla.org, bugzilla&#64;glob.com.au, 
            mkanat&#64;bugzilla.org</td>
    </tr>
    <tr>
        <th>JavaScript</th>
        <td>kiko&#64;async.com.br, myk&#64;mozilla.org</td>
    </tr>
    <tr>
        <th>Group Security</th>
        <td>bugreport&#64;peshkin.net</td>
    </tr>
    <tr>
        <th>English Language</th>
        <td>myk&#64;mozilla.org, mkanat&#64;bugzilla.org</td>
    </tr>
    <tr>
        <th>Windows-Specific Issues</th>
        <td>bugzilla&#64;glob.com.au, jouni&#64;heikniemi.net</td>
    </tr>
    <tr>
        <th>SQL</th>
        <td>bugreport&#64;peshkin.net</td>
    </tr>
    <tr>
        <th>PostgreSQL</th>
        <td>mkanat&#64;bugzilla.org</td>
    </tr>
    <tr>
        <th>User Interface</th>
        <td>myk&#64;mozilla.org</td>
    </tr>
    </tbody>
    </table>

    <h2>CGIs</h2>

    <p>If there is no person listed for a particular file, then there is no
     currently assigned reviewer for that file.</p>
     
    <p>The following reviewers are currently available to do reviews
     on any CGI file, and are likely to actually respond to your 
     review request:</p>

    <ul class="ReviewerList">
        <li>LpSolit&#64;gmail.com</li>
        <!-- <li>jouni&#64;heikniemi.net</li> -->
        <li>bugreport&#64;peshkin.net</li>
        <li>wurblzap&#64;gmail.com</li>
    </ul>
    
    <p>Pick one of the above reviewers if there is no reviewer
     listed for a particular file.</p>
     
    <h3><a name="cgi-admin"></a>Admin CGIs</h3>
    
    <table class="ReviewerTable" cellpadding="0" cellspacing="0">
    <thead>
    <tr>
        <th>File</th> <th>Reviewer(s)</th>
    </tr>
    <tbody>
    <tr>
        <td>editclassifications.cgi</td>
        <td>LpSolit&#64;gmail.com</td>
    </tr>
    <tr>
        <td>editcomponents.cgi</td>
        <td>bugzilla&#64;chimpychompy.org</td>
    </tr>
    <tr>
        <td>editflagtypes.cgi</td>
        <td>LpSolit&#64;gmail.com, myk&#64;mozilla.org</td>
    </tr>
    <tr>
        <td>editgroups.cgi</td>
        <td>bugreport&#64;peshkin.net</td>
    </tr>
    <tr>
        <td>editkeywords.cgi</td>
        <td></td>
    </tr>
    <tr>
        <td>editmilestones.cgi</td>
        <td>bugzilla&#64;chimpychompy.org</td>
    </tr>
    <tr>
        <td>editparams.cgi</td>
        <td>LpSolit&#64;gmail.com</td>
    </tr>
    <tr>
        <td>editproducts.cgi</td>
        <td>LpSolit&#64;gmail.com</td>
    </tr>
    <tr>
        <td>editsettings.cgi</td>
        <td>mkanat&#64;bugzilla.org</td>
    </tr>
    <tr>
        <td>editusers.cgi</td>
        <td>wurblzap&#64;gmail.com</td>
    </tr>
    <tr>
        <td>editvalues.cgi</td>
        <td>mkanat&#64;bugzilla.org</td>
    </tr>
    <tr>
        <td>editversions.cgi</td>
        <td>bugzilla&#64;chimpychompy.org</td>
    </tr>
    <tr>
        <td>editwhines.cgi</td>
        <td>wicked+bz&#64;etlicon.fi</td>
    </tr>
    </tbody>
    </table>

    <h3><a name="cgi-general"></a>General CGIs</h3>

    <table class="ReviewerTable" cellpadding="0" cellspacing="0">
    <thead>
    <tr>
        <th>File</th> <th>Reviewer(s)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>attachment.cgi</td>
        <td>myk&#64;mozilla.org</td>
    </tr>
    <tr>
        <td>request.cgi</td>
        <td>LpSolit&#64;gmail.com</td>
    </tr>
    <tr>
        <td>buglist.cgi</td>
        <td>wicked+bz&#64;etlicon.fi, mkanat&#64;bugzilla.org</td>
    </tr>
    <tr>
        <td>chart.cgi</td>
        <td>wicked+bz&#64;etlicon.fi, gerv&#64;mozilla.org</td>
    </tr>
    <tr>
        <td>createaccount.cgi</td>
        <td>kiko&#64;async.com.br</td>
    </tr>
    <tr>
        <td>colchange.cgi</td>
        <td></td>
    </tr>
    <tr>
        <td>config.cgi</td>
        <td>kiko&#64;async.com.br</td>
    </tr>
    <tr>
        <td>describecomponents.cgi</td>
        <td>LpSolit&#64;gmail.com</td>
    </tr>
    <tr>
        <td>describekeywords.cgi</td>
        <td>kevin.benton&#64;amd.com, wicked+bz&#64;etlicon.fi</td>
    </tr>
    <tr>
        <td>duplicates.cgi</td>
        <td>gerv&#64;mozilla.org</td>
    </tr>
    <tr>
        <td>enter_bug.cgi</td>
        <td>LpSolit&#64;gmail.com 
            (OS Detection: timeless&#64;bemail.org)</td>
    </tr>
    <tr>
        <td>index.cgi</td>
        <td></td>
    </tr>
    <tr>
        <td>long_list.cgi</td>
        <td><em>Dead file</em></td>
    </tr>
    <tr>
        <td>page.cgi</td>
        <td>gerv&#64;mozilla.org</td>
    </tr>
    <tr>
        <td>post_bug.cgi</td>
        <td>LpSolit&#64;gmail.com</td>
    </tr>
    <tr>
        <td>process_bug.cgi</td>
        <td>LpSolit&#64;gmail.com</td>
    </tr>
    <tr>
        <td>query.cgi</td>
        <td>bugreport&#64;peshkin.net</td>
    </tr>
    <tr>
        <td>quips.cgi</td>
        <td>wicked+bz&#64;etlicon.fi</td>
    </tr>
    <tr>
        <td>relogin.cgi</td>
        <td>kiko&#64;async.com.br</td>
    </tr>
    <tr>
        <td>report.cgi</td>
        <td>gerv&#64;mozilla.org</td>
    </tr>
    <tr>
        <td>reports.cgi</td>
        <td>gerv&#64;mozilla.org</td>
    </tr>
    <tr>
        <td>sanitycheck.cgi</td>
        <td></td>
    </tr>
    <tr>
        <td>show_activity.cgi</td>
        <td></td>
    </tr>
    <tr>
        <td>showattachment.cgi</td>
        <td><em>Dead file</em></td>
    </tr>
    <tr>
        <td>show_bug.cgi</td>
        <td>mkanat&#64;bugzilla.org, kiko&#64;async.com.br</td>
    </tr>
    <tr>
        <td>showdependencygraph.cgi</td>
        <td>justdave&#64;bugzilla.org, jouni&#64;heikniemi.net</td>
    </tr>
    <tr>
        <td>showdependencytree.cgi</td>
        <td>kiko&#64;async.com.br</td>
    </tr>
    <tr>
        <td>sidebar.cgi</td>
        <td></td>
    </tr>
    <tr>
        <td>summarize_time.cgi</td>
        <td>kiko&#64;async.com.br</td>
    </tr>
    <tr>
        <td>testagent.cgi</td>
        <td>bugreport&#64;peshkin.net</td>
    </tr>
    <tr>
        <td>token.cgi</td>
        <td>myk&#64;mozilla.org</td>
    </tr>
    <tr>
        <td>userprefs.cgi</td>
        <td>wicked+bz&#64;etlicon.fi</td>
    </tr>
    <tr>
        <td>votes.cgi</td>
        <td>LpSolit&#64;gmail.com</td>
    </tr>
    <tr>
        <td>xml.cgi</td>
        <td><em>Dead file</em></td>
    </tr>
    </tbody>
    </table>
    

    <h2><a name="scripts"></a>Non-CGI (<kbd>.pl</kbd>) Scripts</h2>
    
    <p>The generally available reviewers for non-CGI scripts are 
     the same as those for CGI scripts, with the addition of:</p>
     
    <ul class="ReviewerList">
        <li>mkanat&#64;bugzilla.org</li>
    </ul>
    
    <h3><a name="scripts-testsuite"></a>The Test Suite</h3>
    
    <p>The test suite consists of <kbd>runtests.pl</kbd>, 
        <kbd>runtests.sh</kbd>, and all the files in the <kbd>t/</kbd> 
        directory.</p>

    <p>Reviewers for the test suite are:</p>
    
    <ul class="ReviewerList">
        <li>jouni&#64;heikniemi.net</li>
        <li>gerv&#64;mozilla.org</li>
    </ul>
    
    <h3><a name="scripts-general"></a>Other Scripts</h3>

    <table class="ReviewerTable" cellpadding="0" cellspacing="0">
    <thead>
    <tr>
        <th>File</th> <th>Reviewer(s)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>checksetup.pl</td>
        <td>mkanat&#64;bugzilla.org</td>
    </tr>
    <tr>
        <td>collectstats.pl</td>
        <td>gerv&#64;mozilla.org</td>
    </tr>
    <tr>
        <td>globals.pl</td>
        <td>mkanat&#64;bugzilla.org</td>
    </tr>
    <tr>
        <td>importxml.pl</td>
        <td>LpSolit&#64;gmail.com<!--, ghendricks&#64;novell.com --></td>
    </tr>
    <tr>
        <td>testserver.pl</td>
        <td>bugreport&#64;peshkin.net, bugzilla&#64;glob.com.au</td>
    </tr>
    <tr>
        <td>whineatnews.pl</td>
        <td>wicked+bz&#64;etlicon.fi</td>
    </tr>
    <tr>
        <td>whine.pl</td>
        <td>wicked+bz&#64;etlicon.fi</td>
    </tr>
    </tbody>
    </table>
    
    
    <h2><a name="libraries"></a>Libraries (<kbd>.pm</kbd> files)</h2>
    
    <p>These are the files in the <kbd>Bugzilla/</kbd> directory.</p>
    
    <p>The following reviewers are currently available to do reviews on
     any library, and are likely to actually respond to your 
     review request:</p>
     
    <ul class="ReviewerList">
        <li>mkanat&#64;bugzilla.org</li>
    </ul>
     
    <h3><a name="libraries-auth"></a>Authentication 
        (<kbd>Bugzilla::Auth</kbd>)</h3>

    <table class="ReviewerTable" cellpadding="0" cellspacing="0">
    <thead>
    <tr>
        <th>File</th> <th>Reviewer(s)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Auth.pm</td>
        <td>mkanat&#64;bugzilla.org, LpSolit&#64;gmail.com</td>
    </tr>
    <tr>
        <td>Bugzilla/Auth/*</td>
        <td>mkanat&#64;bugzilla.org, LpSolit&#64;gmail.com</td>
    </tr>
    </tbody>
    </table>
        
    <h3><a name="libraries-db"></a>Database (<kbd>Bugzilla::DB</kbd>)</h3>
     
    <table class="ReviewerTable" cellpadding="0" cellspacing="0">
    <thead>
    <tr>
        <th>File</th> <th>Reviewer(s)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>DB.pm</td>
        <td>mkanat&#64;bugzilla.org</td>
    </tr>
    <tr>
        <td>Bugzilla/DB/* (except Schema.pm)</td>
        <td>mkanat&#64;bugzilla.org</td>
    </tr>
    <tr>
        <td>Bugzilla/DB/Schema*</td>
        <td>mkanat&#64;bugzilla.org</td>
    </tr>
    </tbody>
    </table>

    <h3><a name="libraries-template"></a>Template 
        (<kbd>Bugzilla::Template</kbd>)</h3>

    <p><small>Note, this is for the Bugzilla::Template library, not for 
    templates in general.</small></p>

    <table class="ReviewerTable" cellpadding="0" cellspacing="0">
    <thead>
    <tr>
        <th>File</th> <th>Reviewer(s)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Template.pm</td>
        <td>myk&#64;mozilla.org</td>
    </tr>
    <tr>
        <td>Bugzilla/Template/Plugin/Bugzilla.pm</td>
        <td>kevin.benton&#64;amd.com</td>
    </tr>
    <tr>
        <td>Bugzilla/Template/Plugin/Hook.pm</td>
        <td>myk&#64;mozilla.org</td>
    </tr>
    <tr>
        <td>Bugzilla/Template/Plugin/User.pm</td>
        <td>bugreport&#64;peshkin.net</td>
    </tr>
    </tbody>
    </table>

    <h3><a name="libraries-general"></a>General Libraries</h3>

    <table class="ReviewerTable" cellpadding="0" cellspacing="0">
    <thead>
    <tr>
        <th>File</th> <th>Reviewer(s)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Attachment.pm</td>
        <td>myk&#64;mozilla.org, LpSolit&#64;gmail.com</td>
    </tr>
    <tr>
        <td>BugMail.pm</td>
        <td>bugzilla-mozilla&#64;bkor.dhs.org, wicked+bz&#64;etlicon.fi, 
            gerv&#64;mozilla.org</td>
    </tr>
    <tr>
        <td>Bug.pm</td>
        <td>mkanat&#64;bugzilla.org</td>
    </tr>
    <tr>
        <td>Bugzilla.pm</td>
        <td>mkanat&#64;bugzilla.org</td>
    </tr>
    <tr>
        <td>CGI.pm</td>
        <td>bugzilla&#64;glob.com.au</td>
    </tr>
    <tr>
        <td>Chart.pm</td>
        <td>wicked+bz&#64;etlicon.fi, gerv&#64;mozilla.org</td>
    </tr>
    <tr>
        <td>Classification.pm</td>
        <td>mkanat&#64;bugzilla.org, LpSolit&#64;gmail.com</td>
    </tr>
    <tr>
        <td>Component.pm</td>
        <td>mkanat&#64;bugzilla.org, LpSolit&#64;gmail.com</td>
    </tr>
    <tr>
        <td>Config.pm</td>
        <td></td>
    </tr>
    <tr>
        <td>Config/*.pm</td>
        <td>LpSolit&#64;gmail.com</td>
    </tr>
    <tr>
        <td>Constants.pm</td>
        <td>kevin.benton&#64;amd.com</td>
    </tr>
    <tr>
        <td>Error.pm</td>
        <td>kevin.benton&#64;amd.com</td>
    </tr>
    <tr>
        <td>Field.pm</td>
        <td>LpSolit&#64;gmail.com</td>
    </tr>
    <tr>
        <td>Flag.pm</td>
        <td>LpSolit&#64;gmail.com, myk&#64;mozilla.org</td>
    </tr>
    <tr>
        <td>FlagType.pm</td>
        <td>LpSolit&#64;gmail.com, myk&#64;mozilla.org</td>
    </tr>
    <tr>
        <td>Group.pm</td>
        <td>bugreport&#64;peshkin.net</td>
    </tr>
    <tr>
        <td>Milestone.pm</td>
        <td>mkanat&#64;bugzilla.org, LpSolit&#64;gmail.com</td>
    </tr>
    <tr>
        <td>Product.pm</td>
        <td>mkanat&#64;bugzilla.org, LpSolit&#64;gmail.com</td>
    </tr>
    <tr>
        <td>Search.pm</td>
        <td>bugreport&#64;peshkin.net, justdave&#64;bugzilla.org</td>
    </tr>
    <tr>
        <td>Series.pm</td>
        <td>wicked+bz&#64;etlicon.fi, gerv&#64;mozilla.org</td>
    </tr>
    <tr>
        <td>Token.pm</td>
        <td>myk&#64;mozilla.org</td>
    </tr>
    <tr>
        <td>User.pm</td>
        <td>mkanat&#64;bugzilla.org</td>
    </tr>
    <tr>
        <td>Bugzilla/User/Setting.pm</td>
        <td>mkanat&#64;bugzilla.org</td>
    </tr>
    <tr>
        <td>Util.pm</td>
        <td>mkanat&#64;bugzilla.org, wurblzap&#64;gmail.com</td>
    </tr>
    <tr>
        <td>Version.pm</td>
        <td>mkanat&#64;bugzilla.org, LpSolit&#64;gmail.com</td>
    </tr>
    </tbody>
    </table>
    
    
    <h2><a name="templates"></a>Templates</h2>
    
    <p>In general, templates are reviewed by the same people who
     own the associated CGIs. However, certain reviewers have 
     extra skill with templates/User-Interface, and should be consulted
     when your changes are only to templates:</p>

     <ul class="ReviewerList">
        <li>bugzilla-mozilla&#64;bkor.dhs.org</li>
        <!-- <li>jouni&#64;heikniemi.net</li> -->
        <li>kiko&#64;async.com.br</li>
        <li>gerv&#64;mozilla.org</li>
        <li>bugzilla&#64;chimpychompy.org</li>
        <li>myk&#64;mozilla.org</li>
    </ul>
    
    
    <h2><a name="docs"></a>Documentation</h2>
    
    <p>For reviews on documentation, make sure that you request them from 
        <kbd>documentation@bugzilla.bugs</kbd>.</p>

    <h2><a name="all"></a>List Of All Reviewers</h2>

    <p>The following is a list of <em>all</em> people currently authorized to 
    approve/deny review on patches.  Some are component owners, others
    just like to help out.</p>

    <p>All changes to this list must be approved by 
    <a href="mailto:justdave&#64;bugzilla.org">Dave Miller</a>.</p>

    <p>In general, instead of picking a random person from this list to
    review your patch, you should instead find the appropriate section
    on this page for the file you are modifying, and ask the appropriate
    person for review.</p>


    <table class="ReviewerTable">
    <thead>
    <tr><th>Name</th><th>Bugzilla User ID</th></tr>
    </thead>
    <tbody>
        <tr>
            <td>Nick Barnes</td>
            <td>nb+bz&#64;ravenbrook.com</td>
        </tr>
        <tr>
            <td>Kevin Benton</td>
            <td>kevin.benton&#64;amd.com</td>
        </tr>
        <tr>
            <td>Frédéric Buclin</td>
            <td>LpSolit&#64;gmail.com</td>
        </tr>
        <tr>
            <td>Tobias Burnus</td>
            <td>burnus&#64;gmx.de</td>
        </tr>
        <tr>
            <td>Vlad Dascalu</td>
            <td>vladd&#64;bugzilla.org</td>
        </tr>
        <tr>
            <td>Jouni Heikniemi</td>
            <td>jouni&#64;heikniemi.net</td>
        </tr>
        <tr>
            <td>Byron Jones</td>
            <td>bugzilla&#64;glob.com.au</td>
        </tr>
        <tr>
            <td>Max Kanat-Alexander</td>
            <td>mkanat&#64;bugzilla.org</td>
        </tr>
        <tr>
            <td>Zach Lipton</td>
            <td>zach&#64;zachlipton.com</td>
        </tr>
        <tr>
            <td>Teemu Mannermaa</td>
            <td>wicked+bz&#64;etlicon.fi</td>
        </tr>
        <tr>
            <td>Gervase Markham</td>
            <td>gerv&#64;mozilla.org</td>
        </tr>
        <tr>
            <td>Myk Melez</td>
            <td>myk&#64;mozilla.org</td>
        </tr>
        <tr>
            <td>Dave Miller</td>
            <td>justdave&#64;bugzilla.org</td>
        </tr>
        <tr>
            <td>Colin Ogilvie (Documentation Only)</td>
            <td>colin.ogilvie&#64;gmail.com</td>
        </tr>
        <tr>
            <td>Joel Peshkin</td>
            <td>bugreport&#64;peshkin.net</td>
        </tr>
        <tr>
            <td>Christian Reis</td>
            <td>kiko&#64;async.com.br</td>
        </tr>
        <tr>
            <td>Marc Schumann</td>
            <td>wurblzap&#64;gmail.com</td>
        </tr>
        <tr>
            <td>Gavin Shelley</td>
            <td>bugzilla&#64;chimpychompy.org</td>
        </tr>
        <tr>
            <td>Josh Soref</td>
            <td>timeless&#64;bemail.org</td>
        </tr>
        <tr>
            <td>Erik Stambaugh</td>
            <td>erik&#64;dasbistro.com</td>
        </tr>
        <tr>
            <td>Jake Steenhagen</td>
            <td>jake&#64;bugzilla.org</td>
        </tr>
        <tr>
            <td>Shane Travis</td>
            <td>shane.h.w.travis&#64;gmail.com</td>
        </tr>
        <tr>
            <td>Olav Vitters</td>
            <td>bugzilla-mozilla&#64;bkor.dhs.org</td>
        </tr>
    </tbody>
    </table>

    <h2><a name="become"></a>Become a Reviewer!</h2>

    <p>Think you'd make a good reviewer?  With the rapidly-growing
    Bugzilla community, we're increasingly needing good reviewers.
    We generally require that you've submitted some patches of your own 
    so that we can tell you know what you're doing.  If you are interested,
    contact <a href="mailto:justdave&#64;bugzilla.org">
    Dave Miller</a>, Bugzilla Project Manager, 
    and let him know you'd like to help out. If Dave agrees that  
    you're ready to become a reviewer, you will be added to this page. 
    You may be asked to spend some more time developing and submitting 
    patches, so we can get to know you better first.</p>

    <h2><a name="thispage"></a>Updates to This Page</h2>
    
    <p><kbd>mkanat&#64;bugzilla.org</kbd> is the author of this page.
    If you would like to be added or removed from any of the areas 
    listed on this page, please contact Max and he would be glad to 
    help you out, or (assuming you are already reviewer of course) 
    make the change to the top part of this page yourself if you have 
    CVS access to the website. If you are interested in being added to this list,
    see the section <a href="#become">Become a Reviewer</a> above.</p>

    <h2><a name="coredevs"></a>Note to Core Bugzilla Developers</h2>
    
    <p>The lists of sugguested reviewers for a particular area 
    or file are merely suggestions. If you know that another developer
    would be more suited for a particular review or has more time, feel 
    free to ask another person than those listed for each file, provided 
    that the reviewer appears on the <a href="#all">List of All Reviewers
    </a></p>

[% PROCESS "inc/footer.html.tmpl" %]
