SearchResult {
	display: block;
	padding: 10px;
	font-family: Arial,Helvetica,sans-serif;
}

body {
	background-color: white;
}

PageHead {
	display: block;
	margin-bottom: 25px;
}

Togglebar {
	display: block;
}
