/* slide_show.css */

body                      { font-family: sans-serif; background-color: white; }
strong                    { font-style: italic; }

h1, h2, h3                { font-size: 1em }
h1, h2, h3, h4, h5, h6	  { font-family: sans-serif; }
    h2, h3, h4, h5, h6    { margin-left: 2em; }
h1                        { color: gray; }

h1 a                      { color: gray; text-decoration: none; }
h2 a                      { color: black; text-decoration: none; }

a.nav                     { color: blue; }
.disabled-nav             { color: gray; }

li                        { list-style: square; }

.code                     { font-family: monospace; }
.source-code              { font-family: monospace; }

.warning                  { color: red; }
.notice                   { color: blue; }
.exact-uri                { font-family: monospace; font-size: 80%; }

div.author-note
  {
    font-family:  sans-serif;
    font-size:    80%;
    /* text-align:   right; */
    color:        green;
    margin-top:   0.5em
  }

div.document-mod-date
  {
    font-family:    sans-serif;
    font-size:      0.8em;
    /* text-align:     right; */
    float:          right;
    margin-top:     1.75em;
    margin-bottom:  0em;
  }

quote
	{
    font-family:    sans-serif;
		font-style: 		italic;
    font-size:    	90%;
	}
