Redirect permanent /js/language/index.html http://developer.mozilla.org/en/docs/JavaScript_Language_Resources
Redirect permanent /js/language/Edition4.pdf http://www.ecmascript-lang.org
Redirect permanent /js/language/es4.html http://www.ecmascript-lang.org
Redirect permanent /js/language/js20.html http://www.ecmascript-lang.org
RedirectMatch permanent /js/language/js20(/.*)$ http://www.ecmascript-lang.org
RedirectMatch permanent /js/language/es4(/.*)$ http://www.ecmascript-lang.org
