Redirect permanent /js/spidermonkey/apidoc/complete-frameset.html http://developer.mozilla.org/en/docs/JSAPI_Reference
Redirect permanent /js/spidermonkey/apidoc/guide.html http://developer.mozilla.org/en/docs/Embedding_SpiderMonkey
Redirect permanent /js/spidermonkey/apidoc/jsref.htm http://developer.mozilla.org/en/docs/JSAPI_Reference
Redirect permanent /js/spidermonkey/apidoc/sparse-frameset.html http://developer.mozilla.org/en/docs/JSAPI_Reference
