Redirect permanent /quality/help/boilerplate.html http://www.mozilla.org/quality/browser/prescreening.html
Redirect permanent /quality/help/bugzilla-helper.html https://bugzilla.mozilla.org/enter_bug.cgi?format=guided
Redirect permanent /quality/help/keywords.html http://www.mozilla.org/docs/end-user/keywords.html
Redirect permanent /quality/help/smoketests/ http://www.mozilla.org/quality/smoketests/
Redirect permanent /quality/help/bug-form.html https://bugzilla.mozilla.org/enter_bug.cgi?format=guided
Redirect permanent /quality/help/bugzilla-helper.html https://bugzilla.mozilla.org/enter_bug.cgi?format=guided
Redirect permanent /quality/help/smoketest.html http://www.mozilla.org/quality/smoketests/faq.html
Redirect gone /quality/help/simplesearch.html
Redirect gone /quality/help/mozilla-testers.html
