Redirect permanent /docs/xul/xulnotes/xulnote_oven.html http://developer.mozilla.org/en/docs/My_Chrome_Oven:_Generating_XUL_with_Python
Redirect permanent /docs/xul/xulnotes/xulnote_xml.html http://developer.mozilla.org/en/docs/XUL_Genealogy:_XML
Redirect permanent /docs/xul/xulnotes/xulnote_skins.html http://developer.mozilla.org/en/docs/Skinning_XUL_Files_by_Hand
Redirect permanent /docs/xul/xulnotes/xulnote_beasts.html http://developer.mozilla.org/en/docs/A_XUL_Bestiary
Redirect permanent /docs/xul/xulnotes/xulnote_events.html http://developer.mozilla.org/en/docs/XUL_Event_Propagation
Redirect permanent /docs/xul/xulnotes/xulnote_xpconnect.html http://developer.mozilla.org/en/docs/Fun_With_XBL_and_XPConnect
Redirect permanent /docs/xul/xulnotes/xulnote_packages.html http://developer.mozilla.org/en/docs/Creating_XPI_Installer_Modules
Redirect permanent /docs/xul/xulnotes/xulnote_diagnostic.html http://developer.mozilla.org/en/docs/XUL_Parser_in_Python
