code {
  font-weight: bold;
}

div.code {
  white-space: pre;
  border: solid #777 thin;
  padding: 0.5em;
  background: #eee;
}

code, div.code {
  font-family: courier new, courier, fixed;
  font-size: smaller;
}

div#content { margin: 0 10%; }
div#content > h3 { margin-left: -10%; }

h1 { text-align: center; }
p { text-align: justify; }
