Redirect permanent /rdf/doc/faq.html http://developer.mozilla.org/en/docs/RDF_in_Mozilla_FAQ
Redirect permanent /rdf/doc/aggregate.html http://developer.mozilla.org/en/docs/Aggregating_the_In-Memory_Datasource
