Redirect permanent /performance/tinderbox-tests.html http://wiki.mozilla.org/Performance:Tinderbox_Tests
Redirect permanent /performance/index.html http://wiki.mozilla.org/Performance:Home_Page
Redirect permanent /performance/leak-brownbag.html http://wiki.mozilla.org/Performance:Leak_Tools
