Redirect permanent /catalog/development/compiling/cvs-sourcecode.html http://www.mozilla.org/cvs.html
Redirect permanent /catalog/development/compiling/ http://developer.mozilla.org/en/docs/Build_Documentation
Redirect permanent /catalog/development/tools/cvs-tarball.html http://developer.mozilla.org/en/docs/Mozilla_Source_Code_(CVS)
