Redirect permanent /products/firebird/download/index.html http://www.mozilla.org/products/firefox/download.html
Redirect permanent /products/firebird/h-fb-dl.png http://www.mozilla.org/products/firefox/h-ff-dl.png
Redirect permanent /products/firebird/productIconFirebird.png http://www.mozilla.org/products/firefox/productIconFirefox.png
Redirect permanent /products/firebird http://www.mozilla.org/products/firefox
