[%# Features %]
[% 
	PROCESS "inc/header.html.tmpl" 
	title = "Features" 
%]

<h1>Features</h1>
<ul>
	<li><a href="#gr">Generic Reporting</a></li>
	<li><a href="#rs">Request System</a></li>
	<li><a href="#egs">Enterprise Group Support</a></li>
	<li><a href="#uwm">User Wildcard Matching</a></li>
	<li><a href="#insiders">Insiders</a></li>
	<li><a href="#tt">Time Tracking</a></li>
	<li><a href="#auth">Multiple Authentication Methods</a></li>
	<li><a href="#localisation">Localisation</a></li>
	<li><a href="#pv">Patch Viewer</a></li>
	<li><a href="#crl">Comment Reply Links</a></li>
	<li><a href="#fts">Full-text Search</a></li>
	<li><a href="#eam">Email Address Munging</a></li>
	<li><a href="#gc">Generic Charting</a></li>
	<li><a href="#sanity">Sanity Check</a></li>
</ul>

<a name="gr"></a>
<h2>Generic Reporting</h2>
<p>Bugzilla has a mechanism for generating reports of the current state of the bug database.  It has two related parts: a table-based view, and several graphical views.</p>

<p>The table-based view allows you to specify an x, y and z (multiple tables of data) axis to plot, and then restrict the bugs plotted using the standard query form.  You can view the resulting data as an HTML or CSV export (e.g.: for importing into a spreadsheet).</p>

<p>There are also bar, line and pie charts, which are defined in a very similar way.  These views may be more appropriate for particular data types, and are suitable for saving and then putting into presentations or web pages.</p>

<a name="rs"></a>
<h2>Request System</h2>
<p>The Request System allows you to flag certain bugs or bug attachments for review.  Once flagged, the requested reviewer may approve or reject the flagged bug.</p>

<dl>
<dt>Requests</dt>
<dd>Flags can be made optionally requestable, which means users can ask other users to set them. When a user requests a flag, Bugzilla emails the requestee and adds the request to a browsable queue so both the requester and the requestee can keep track of its status. Once the requestee fulfills the request by setting the flag to either granted or denied, Bugzilla emails the requestee and removes the request from the queue.  This feature supports workflow like the mozilla.org code review and milestone approval processes, whereby code is peer reviewed before being committed and patches get approved by product release managers for inclusion in specific product releases.</dd>
<dt>Product/component specificity</dt>
<dd>Flags are product/component-specific, and a single flag can be enabled or disabled for multiple product/component combinations via inclusions and exclusions lists. Flags are enabled for all combinations on their inclusions list except those that appear on their exclusions list.</dd>
</dl>

<a name="egs"></a>
<h2>Enterprise Group Support</h2>
<p>Administrators can define an arbitrary number of access groups composed of individual users or other groups.  The groups can be configured via the web interface to achieve a wide variety of access control policies. See the documentation section on 'Groups And Group Controls' for details.</p>

<a name="uwm"></a>
<h2>User Wildcard Matching</h2>
<p>Enable the use of wildcards and substrings in bug entry and editing forms. If the user enters an incomplete username, Bugzilla will display a list of users that match the given username.</p>

<a name="insiders"></a>
<h2>Insiders</h2>
<p>If the 'insidergroup' parameter is defined, a specific group of users can be designated insiders who can designate comments and attachments as private to other insiders. These comments and attachments will be invisible to other users who are not members of the insiders group even if the bugs to which they apply are visible. Other insiders will see the comments and attachments with a visual tinting indicating that they are private.</p>

<a name="tt"></a>
<h2>Time Tracking</h2>
<p>Controls for tracking time spent fixing bugs are included in the bug form for members of the group specified by the 'timetrackinggroup' parameter. Any time comments are added to the bug, members of the time tracking group can add an amount of time they spent, and it's figured into the total and displayed at the top of the bug. Shown in the bug are your original estimate, the amount of time spent so far, the revised estimate of how much time is remaining, and your gain/loss on the original estimate.</p>

<a name="auth"></a>
<h2>Multiple Authentication Methods</h2>
<p>Bugzilla's authentication is modular, making it very easy to add custom authentication methods to the system as needed.  Bugzilla has built-in support for MySQL and LDAP authentication methods, but other methods are easily attainable with minimal custom development.</p>
<p>LDAP logins use Perl's standard Net::LDAP module, which has no external library dependencies.</p>

<a name="localisation"></a>
<h2>Localisation</h2>
<p>Bugzilla administrators can configure which languages are supported by their installations and automatically serve correct, localized content to users based on the HTTP 'Accept-Language' header sent from users' browsers.</p>
<p>There are currently localized templates available for:</p>
<ul>
	<li>Arabic</li>
	<li>Belarusian</li>
	<li>Bulgarian</li>
	<li>Chinese</li>
	<li>French</li>
	<li>German</li>
	<li>Italian</li>
	<li>Japanese</li>
	<li>Korean</li>
	<li>Polish</li>
	<li>Portuguese (Brazil)</li>
	<li>Spanish (Spain or Mexico)</li>
	<li>Russian</li>
</ul>
<p>These localized template packs are third-party contributions, may only be available for specific versions, and may not be supported in the future. (http://www.bugzilla.org/download/#localizations)</p>

<a name="pv"></a>
<h2>Patch Viewer</h2>
<p>Patch Viewer is an enhancement to Bugzilla designed to provide adequate context for submitted patches through integration with Bonsai, LXR and CVS.</p>

<a name="crl"></a>
<h2>Comment Reply Links</h2>
<p>Bug comments include a convenient (reply) link that quotes the comment text into the textarea.</p>

<a name="fts"></a>
<h2>Full-Text Search</h2>
<p>Bugzilla can query its database using full-text searching, which spans comments and summaries, and searches for substrings and stem variations of the search term.</p>

<a name="eam"></a>
<h2>Email Address Munging</h2>
<p>Bugzilla adds HTML obfuscation of email addresses to hide emails from bots, crawlers and spiders.</p>

<a name="gc"></a>
<h2>Generic Charting</h2>
<p>Bugzilla's advanced charting feature allows you to display flexible summary charts based on configurable data sets.</p>

<a name="sanity"></a>
<h2>Sanity Check</h2>
<p>One of Bugzilla's most interesting utilities, Sanity Check scans your database for incongruencies.  It reports errors and allows you to open sets of affected bugs in custom bug lists.  Sanity Check also scans your outgoing mail queue for unsent mail.</p>

[% PROCESS "inc/footer.html.tmpl" %]
