Redirect gone /projects/user-docs/index.html
Redirect gone /projects/user-docs/local/index.html
Redirect gone /projects/user-docs/local/browserhelp/browsertop.html
Redirect gone /projects/user-docs/local/browserhelp/browsercont.html
Redirect gone /projects/user-docs/local/browserhelp/browsertoc.html
Redirect gone /projects/user-docs/local/browserhelp/browserbanner.html
Redirect gone /projects/user-docs/local/mailhelp/mailtop.html
Redirect gone /projects/user-docs/local/mailhelp/mailcont.html
Redirect gone /projects/user-docs/local/mailhelp/mailtoc.html
Redirect gone /projects/user-docs/local/mailhelp/mailbanner.html
Redirect gone /projects/user-docs/local/troubleshoot/troubletop.html
Redirect gone /projects/user-docs/local/troubleshoot/troublecont.html
Redirect gone /projects/user-docs/local/troubleshoot/troubletoc.html
Redirect gone /projects/user-docs/local/troubleshoot/troublebanner.html
Redirect gone /projects/user-docs/served/index.html
Redirect gone /projects/user-docs/served/custhelp/custtop.html
Redirect gone /projects/user-docs/served/custhelp/custcont.html
Redirect gone /projects/user-docs/served/custhelp/custtoc.html
Redirect gone /projects/user-docs/served/custhelp/custbanner.html
Redirect gone /projects/user-docs/served/shophelp/shoptop.html
Redirect gone /projects/user-docs/served/shophelp/shopcont.html
Redirect gone /projects/user-docs/served/shophelp/shoptoc.html
Redirect gone /projects/user-docs/served/shophelp/shopbanner.html
Redirect gone /projects/user-docs/served/updatehelp/updatetop.html
Redirect gone /projects/user-docs/served/updatehelp/updatecont.html
Redirect gone /projects/user-docs/served/updatehelp/updatetoc.html
Redirect gone /projects/user-docs/served/updatehelp/updatebanner.html
Redirect gone /projects/user-docs/served/whatsnew/newtop.html
Redirect gone /projects/user-docs/served/whatsnew/newbanner.html
Redirect gone /projects/user-docs/served/whatsnew/newcont.html
Redirect gone /projects/user-docs/served/whatsnew/newtoc.html
