Redirect permanent /projects/xpinstall/browser_xpi.html http://developer.mozilla.org/en/docs/Learn_XPI_Installer_Scripting_by_Example
Redirect permanent /projects/xpinstall/browser_install.html http://developer.mozilla.org/en/docs/Learn_XPI_Installer_Scripting_by_Example:Installer_Script
Redirect permanent /projects/xpinstall/win_xpi.html http://developer.mozilla.org/en/docs/How_to_add_an_installer_module_to_the_Windows_installer
