Redirect permanent /js/spidermonkey/gctips.html http://developer.mozilla.org/en/docs/SpiderMonkey_Garbage_Collection_Tips
Redirect permanent /js/spidermonkey/apidoc/jsguide.html http://developer.mozilla.org/en/docs/JavaScript_C_Engine_Embedder%27s_Guide
