#letter 
{
  position: absolute;
  left: 0; top: 0;
  margin-left: 1em;
  margin-right: 1em;
  font-family: monospace; 
  width: 55em;
}

.customize
{
  font-weight: bold;
  border: 1px solid black;
}

