#letter 
{
	position: absolute;
	right: 0;
	left: 0;
	font-family: "Courier New", monospace;
	padding-left: 2%;
	padding-right: 2%;
}

.customize
{
  font-weight: bold;
  border: 1px solid black;
}

