a[name]
{
    color: #000 /* override bad 'a' style in persistent-style.css */
}

body
{
    font-family: optima, palatino, times, serif;
    background-color: white;
}

#index
{
    font-size: small;
    position: absolute; /* like to use fixed, but it's buggy */
    width: 120px;
    top: 240px;
    left: 0;
    right: auto;
    bottom: auto;
}

#pagebody
{
    margin-top:  -30px;
}

.pagecontents
{
    margin-left: 130px;
}

.header
{
    background-color: #EEEEEE;
    padding-top:      4px;
    padding-bottom:   4px;
    text-align: center;
}

.faq
{
    font-style: italic;
}

.faa
{
}

.note_category
{
    font-style: italic;
    font-weight: normal;
}

.note
{
    font-style: italic;
}
