Redirect permanent /projects/bonecho/anti-phishing/index.html http://www.mozilla.com/firefox/phishing-protection/
RewriteEngine on
RewriteBase /projects/bonecho/anti-phishing/
RewriteCond %{QUERY_STRING} ^hl=(.+)&url=(.+)$
RewriteRule ^report_general/$ http://www.google.com/safebrowsing/report_general/?tpl=mozilla&continue=http%3A%2F%2Fwww.google.com%2Ftools%2Ffirefox%2Ftoolbar%2FFT2%2Fintl%2Fen%2Fsubmit_success.html [QSA,R,L]
RewriteCond %{QUERY_STRING} ^hl=(.+)&url=(.+)$
RewriteRule ^report_error/$ http://www.google.com/safebrowsing/report_error/?tpl=mozilla&continue=http%3A%2F%2Fwww.google.com%2Ftools%2Ffirefox%2Ftoolbar%2FFT2%2Fintl%2Fen%2Fsubmit_success.html [QSA,R,L]
RewriteCond %{QUERY_STRING} ^hl=(.+)&url=(.+)$
RewriteRule ^report_phish/$ http://www.google.com/safebrowsing/report_phish/?tpl=mozilla&continue=http%3A%2F%2Fwww.google.com%2Ftools%2Ffirefox%2Ftoolbar%2FFT2%2Fintl%2Fen%2Fsubmit_success.html [QSA,R,L]
