# redirects for SeaMonkey project website now living at seamonkey-project.org
Redirect permanent /projects/seamonkey/artwork.html http://www.seamonkey-project.org/dev/artwork
Redirect permanent /projects/seamonkey/community.html http://www.seamonkey-project.org/community
Redirect permanent /projects/seamonkey/get-involved.html http://www.seamonkey-project.org/dev/get-involved
Redirect permanent /projects/seamonkey/index.html http://www.seamonkey-project.org/
Redirect permanent /projects/seamonkey/news.html http://www.seamonkey-project.org/news
Redirect permanent /projects/seamonkey/project-areas.html http://www.seamonkey-project.org/dev/project-areas
Redirect permanent /projects/seamonkey/review-and-flags.html http://www.seamonkey-project.org/dev/review-and-flags
Redirect permanent /projects/seamonkey/ http://www.seamonkey-project.org/

RedirectMatch permanent ^/projects/seamonkey/start/ http://www.seamonkey-project.org/start/

Redirect permanent /projects/seamonkey/releases/index.html http://www.seamonkey-project.org/releases/
Redirect permanent /projects/seamonkey/releases/ http://www.seamonkey-project.org/releases/
RedirectMatch permanent ^/projects/seamonkey/releases/(1\..*).html$ http://www.seamonkey-project.org/releases/$1
RedirectMatch permanent ^/projects/seamonkey/releases/seamonkey(.*)/index.html$ http://www.seamonkey-project.org/releases/seamonkey$1/
RedirectMatch permanent ^/projects/seamonkey/releases/seamonkey(.*)/(.*).html$ http://www.seamonkey-project.org/releases/seamonkey$1/$2

RedirectMatch permanent ^/projects/seamonkey/releases/updates/(.*)$ http://www.seamonkey-project.org/releases/updates/$1
