
document {
  display: block;
}

document title {
  display: block;
  text-align: center;
  font: bold 24pt "Bookman Old Style";
  padding: 1em;
  width: 14em;
  border: 4px inset blue;
  background-image: url("recbg.jpg");
}
