# Features
Redirect permanent /products/thunderbird/global-inbox.html       http://kb.mozillazine.org/Global_Inbox
Redirect permanent /products/thunderbird/junkmail.html           http://kb.mozillazine.org/Junk_Mail_Controls
Redirect permanent /products/thunderbird/message-grouping.html   http://kb.mozillazine.org/Message_Grouping
Redirect permanent /products/thunderbird/privacy-protection.html http://kb.mozillazine.org/Privacy_basics_%28Thunderbird%29
Redirect permanent /products/thunderbird/rss.html                http://kb.mozillazine.org/RSS_basics_%28Thunderbird%29
Redirect permanent /products/thunderbird/search-folders.html     http://kb.mozillazine.org/Saved_Search
Redirect permanent /products/thunderbird/index.html              http://www.mozilla.com/thunderbird/
Redirect permanent /products/thunderbird/download.html           http://www.mozilla.com/thunderbird/
Redirect permanent /products/thunderbird/dictionaries.html       http://www.mozilla.com/thunderbird/dictionaries.html
Redirect permanent /products/thunderbird/all.html                http://www.mozilla.com/thunderbird/all.html
Redirect permanent /products/thunderbird/all-beta.html           http://www.mozilla.com/thunderbird/all.html
Redirect permanent /products/thunderbird/sysreq.html             http://www.mozilla.com/thunderbird/system-requirements.html
