A { text-decoration: none; }
A:link { color: #0000FF; }
A:hover { color: #00FF00; }
A:visited { color: #CC00CC; }
BODY { background-color: #fff; }
.codes { background-color: #cfc; }
.combining { background-color: #ccf; }
.control { background-color: #fcc; }
.normal { background-color: #fff; }
.reserved { background-color: #ccc; }
