Options +Includes +MultiViews
AddType text/html .shtml
DirectoryIndex index.shtml
Redirect permanent /projects/help-viewer/bugs.php http://www.mozilla.org/projects/help-viewer/bugs
Redirect permanent /projects/help-viewer/content_packs.html http://www.mozilla.org/projects/help-viewer/content_packs
Redirect permanent /projects/help-viewer/content_packs.php http://www.mozilla.org/projects/help-viewer/content_packs
Redirect permanent /projects/help-viewer/contributors.php http://www.mozilla.org/projects/help-viewer/contributors
Redirect permanent /projects/help-viewer/documentation.php http://www.mozilla.org/projects/help-viewer/documentation
Redirect permanent /projects/help-viewer/documentation_coding-style.php http://www.mozilla.org/projects/help-viewer/documentation_coding-style
Redirect permanent /projects/help-viewer/documentation_language-style.php http://www.mozilla.org/projects/help-viewer/documentation_language-style
Redirect permanent /projects/help-viewer/documentation_meeting-summary_2004-04-11.php http://www.mozilla.org/projects/help-viewer/documentation_meeting-summary_2004-04-11
Redirect permanent /projects/help-viewer/documentation_source.php http://www.mozilla.org/projects/help-viewer/documentation_source
Redirect permanent /projects/help-viewer/feedback.php http://www.mozilla.org/projects/help-viewer/feedback
Redirect permanent /projects/help-viewer/index.html http://www.mozilla.org/projects/help-viewer/
Redirect permanent /projects/help-viewer/index.php http://www.mozilla.org/projects/help-viewer/
Redirect permanent /projects/help-viewer/installation.php http://www.mozilla.org/projects/help-viewer/installation
Redirect permanent /projects/help-viewer/list.php http://www.mozilla.org/projects/help-viewer/list
