Redirect permanent /projects/firebird/0.1-release-notes.html http://www.mozilla.org/products/firefox/releases/0.1.html
Redirect permanent /projects/firebird/0.2-release-notes.html http://www.mozilla.org/products/firefox/releases/0.2.html
Redirect permanent /projects/firebird/0.3-release-notes.html http://www.mozilla.org/products/firefox/releases/0.3.html
Redirect permanent /projects/firebird/0.4-release-notes.html http://www.mozilla.org/products/firefox/releases/0.4.html
Redirect permanent /projects/firebird/0.5-release-notes.html http://www.mozilla.org/products/firefox/releases/0.5.html
Redirect permanent /projects/firebird/0.6-release-notes.html http://www.mozilla.org/products/firefox/releases/0.6.html
Redirect permanent /projects/firebird/0.6.1-release-notes.html http://www.mozilla.org/products/firefox/releases/0.6.1.html
Redirect permanent /projects/firebird/0.7-release-notes.html http://www.mozilla.org/products/firefox/releases/0.7.html
Redirect permanent /projects/firebird/0.7.1-release-notes.html http://www.mozilla.org/products/firefox/releases/0.7.1.html
Redirect permanent /projects/firebird/build.html http://www.mozilla.org/projects/firefox/build.html
Redirect permanent /projects/firebird/charter.html http://www.mozilla.org/projects/firefox/charter.html
Redirect permanent /projects/firebird/index.html http://www.mozilla.org/projects/firefox/
Redirect permanent /projects/firebird/release-notes.html http://www.mozilla.org/products/firefox/releases/
Redirect permanent /projects/firebird/releases.html http://texturizer.net/firebird/download.html
Redirect permanent /projects/firebird/review.html http://www.mozilla.org/projects/firefox/review.html
Redirect permanent /projects/firebird/roadmap.html http://www.mozilla.org/projects/firefox/roadmap.html
Redirect permanent /projects/firebird/installer/build.html http://www.mozilla.org/projects/firefox/installer/build.html
Redirect permanent /projects/firebird/qa/downloads.html http://www.mozilla.org/projects/firefox/qa/downloads.html
Redirect permanent /projects/firebird/qa/index.html http://www.mozilla.org/projects/firefox/qa/
Redirect permanent /projects/firebird/ue/index.html http://www.mozilla.org/projects/firefox/ue/
Redirect permanent /projects/firebird/why/index.html http://www.mozilla.org/products/firefox/why/
Redirect permanent /projects/firebird/ue/downloads/index.html http://www.mozilla.org/projects/firefox/ue/downloads/
Redirect permanent /projects/firebird/ue/installer/index.html http://www.mozilla.org/projects/firefox/ue/installer/
Redirect permanent /projects/firebird/ue/migration/index.html http://www.mozilla.org/projects/firefox/ue/migration/
Redirect permanent /projects/firebird/ue/philosophy/realities.html http://www.mozilla.org/projects/firefox/ue/philosophy/realities.html
