Options +MultiViews

Redirect permanent /about/get-involved.html http://www.mozilla.org/contribute/
Redirect permanent /about/stafflist.html http://www.mozilla.org/about/staff
Redirect permanent /about/stafflist http://www.mozilla.org/about/staff
