/* LAYOUT */

body, html, form { margin: 0; padding: 0; }
html { height: 100%; }
body { position: relative; min-height: 100%; }
.navigation { margin: 0; padding: 0.2em 0 0.1em 0; display: table; width: 100%; line-height: 1.2em; }
.navigation > * { display: table-cell; white-space: nowrap; padding: 0 1em; }
.navigation > :first-child { padding-left: 0.4em; }
.navigation > :last-child { padding-right: 0.4em; }
.breadcrumbs span + span:before { content: ' > '; }
.breadcrumbs span:last-child a { text-decoration: none; color: inherit; }
.status { text-align: right; }
.status span { padding: 0 0.5em; }
.common { position: absolute; left: 0; top: 1.5em; bottom: 0; z-index: 1; padding: 0; margin: 0 1.5em 0 0; width: 12em; }
.common > div { min-height: 100%; padding: 0 1em 0 1em; margin: 0; }
.common > div > div { padding: 0.5em 0 1em 0; }
.common p { margin: 0 0 1em 0; }
.common h2 { margin: 0 0 0 -.5em; padding: 0; }
.common ol { list-style: outside decimal; padding: 0 0 0 1em; margin: 0; }
.common ol li { margin: 0.5em 0; padding: 0; }
.common label { display: block; margin: 0.1em 0.4em 0 0; }
.common label span { display: block; }
.common label span input { width: 100%; }
.common input[type=submit] { padding: 0 0.5em; display: block; margin: 0.2em 0 0 0; }
.content { margin: 0 0 0 13em; }
.footer { margin: 2em 0 0 0; height: 2em; }
.footer div { padding: 0.3em 1em 0.2em 13em; margin: 0; position: absolute; bottom: 0; left: 0; right: 0; }
.footer p { margin: 0; }


/* THE "PROMOTE" LINKS */
body.promote.n1 #n1 { color: inherit; text-decoration: none; }
body.promote.n2 #n2 { color: inherit; text-decoration: none; }
body.promote.n3 #n3 { color: inherit; text-decoration: none; }
body.promote.n4 #n4 { color: inherit; text-decoration: none; }
body.promote.n5 #n5 { color: inherit; text-decoration: none; }
body.promote.n6 #n6 { color: inherit; text-decoration: none; }
body.promote.n7 #n7 { color: inherit; text-decoration: none; }


/* BORDERS */
body, html, form { border: 0; }
.navigation { border-bottom: dashed thin; }
.common { border-right: dashed thin; }

/* FONTS */

body { font: small Verdana, sans-serif; }
h1 { margin: 0.5em 0 0 0; font-size: 1.4em; }
h2 { margin: 0; font-size: 1.2em; }
.breadcrumbs span:last-child a { font-weight: bold; }
.status span span { font-weight: bold; }
.common h2 { font: inherit; font-weight: bold; font-style: italic; }
.common > * { font: inherit; }
.footer p { font-size: smaller; }


/* COLOURS */

.navigation, .common > div { background: #FFFFEE; }