BODY,TD,TH {
  font-family: verdana, arial, sans-serif;
}

.small {
  font-size: 8pt;
}

TD,P,TH,UL,DL,OL {
  font-size: 10pt;
}


H1,H2,H3,H4,H5,H6 {
  font-family: verdana, arial, sans-serif;
}

BODY {
  background-color: white;
}

TH {
  font-weight: bold;
}

PRE {
  font-family: monospace;
  white-space: pre;
}

.samplecode {
  font-family: monospace;
  font-size: 10pt;
  white-space: pre;
  color: rgb(0,70,0);
}

.navigation {
  background-color: #ddddff;
  font-size: 10pt;
}

A.clean { 
  text-decoration: none; 
  color: rgb(0,0,200);
}


