#languages {
 font-size: 0.75em;
 text-align: right;
}

body {
 color: #000099;
 background: #3399FF url('images/lizard-blue.png') right bottom fixed no-repeat;
 padding: 0px;
 margin: 0px;
 font-family: Verdana, arial, sans-serif;
 font-size: 10pt;
 line-height: 1.3em;
}

h1 {
 position: absolute;
 top: 120px;
 right: 40px;
// left: 260px;
 text-align: right;
 color: #99CCFF;
 font-size: 20px;
}

h3 {
 text-indent: .5em;
}

:link {
 color: #3333ff;
 text-decoration: none;
}

:visited {
 color: #3300cc;
}

:link:hover, :visited:hover {
 text-decoration: underline;
}

.alt1 {
  color: #3300cc;
}

.alt2 {
  color: #003099;
}

q:before { content: "\201C"; }
q:after  { content: "\201D"; }

ul.linklist {
 list-style-type: none;
 padding: 0;
 margin: 0;
 white-space: nowrap;
}

ul.linklist>li {
 padding-bottom: .5em;
}

.sectionHeaderContainer {
}

.sectionHeader {
 padding-bottom: 3px;
}

.section {
// background-color: #99CCFF;
}

/*
#links-users {
 display: table-cell;
 padding: 0px 1em 0px 1em;
 width: 50%;
}

#links-other {
 display: table-cell;
 padding: 0px 1em 0px 1em;
 width: 50%;
}

#links {
 display: table;
 width: 100%;
}
*/

/*
#links {
  position: fixed;
  left: 0px;
  padding: 10px;
  margin: 10px;
}

*/

#links {
  -moz-border-radius: 5px;
//  background-color: #1C8EFF;
  background-color: #50aaFF;
  padding: 8px;
}

#links * {
  display: inline;
}

#links a:after {
  content: '|'
}

.screen {
 padding: 1em;
 background-color: #39a9FF;
 font-family: "lucida console", monospace;
 font-size: smaller;
}

.warning {
 font-size: 2em;
 color: red;
 background-color: inherit;
}

.very-important {
 padding: .5em;
 border: #39a9FF 1px solid;
 font-weight:bold;
// color: #90c9ff;
 color: #c0c093;
}

.ui {
 font-weight: normal;
 color: #0000cc;
}

.addon {
 border: 2px solid #1C8EFF;
 padding: 6px;
 margin-top: 7px;
 margin-bottom: 1em;
}

.addonTitle {
 font-weight: bold;
 display: block;
}

.spacer {
 margin-top: 1em;
}

.doubleSpacer {
 margin-top: 2em;
}

#mainHeaderContainer {
 padding-top: 4px; /* Need this here to stop collapsing */
}

#mainHeader {
 margin-top: 100px;
 height: 53px;
// font-size: 1.2em;
}

#mozillaLogo {
  margin-left: 105px;
}

#mozillaLogo:before {
  content: url('images/version-blue.png');
}

#mainSection {
 padding-left: 150px;
 padding-right: 50px;
 border-top: 2px solid #1C8EFF;
}

#alternate {
 text-align:center;
}

#footer {
 text-align: right;
}

#dinoHead {
 float: right;
 visibility: hidden;
}

#dinoTail {
 visibility: hidden;
 width: 0px;
 height: 0px;
}

#textDescription {
 overflow: auto;
}

#stylesheets {
 font-size: 0.8em;
 float:left;
 padding-left: 150px;
 display: none;
 color: #6666CC;
}

#bluestyle {
 color: #6666CC;
}

#copyright {
 font-size: small;
 display: block;
 text-align:right;
 padding-right: 40px;
}

#nag a img {
 border: 0px;
}

#feedback {
  text-align:right;
}

/* faq */

.toc {
  margin-top: 8em;
  background-color: #60a9ff;
  -moz-opacity: 0.50;
  -moz-border-radius: 10px 10px 10px 10px;
  padding: 10px;
}

.toc a {
  color: #000066;
}

.toc ul li {
  padding-bottom: .5em;
  list-style: none;
}

.toc ol li {
  padding-bottom: .5em;
}

.faqs>dt {
 margin-bottom: .5em;
 font-weight: bold;
}

.faqs > dt.unselected > :link, .faqs > dt > :visited  {
	text-decoration: none;
}

.faqs > dt.unselected > :link:hover, .faqs > dt > :visited:hover {
 text-decoration: none;
}

.faqs>dd {
 margin-left: 0px;
 padding-left: 2em;

}

.content {
 margin-left: auto;
 margin-right: auto;
 width: 95%;
 padding: 0.5em;
}

/* End Faq */

@media print {

 .section {
  margin-left: 0px;
  margin-right: 0px;
 }

 .addon {
  color: black;
  background-color: transparent;
  border: 3px double black;
  padding: 5px;
  margin-top: 7px;
  margin-bottom: 1em;
 }

 #mainHeaderContainer {
  margin-left: 5%;
  margin-right: 5%;
 }

 #stylesheets {
  display: none;
 }

 #copyright {
  text-align: center;
 }

}
