body {
 color: black;
 background-color: #CC6600;
 padding: 0px;
 margin: 0px;
 font-family: "Trebuchet MS", "Gill Sans", Verdana, sans-serif;
}

h1 {
 padding-top: .5em;
 text-align: center;
 width: 100%;
 margin: 0;
 font-size: 1.5em;
}

h3 {
 text-indent: .5em;
}

:link {
 color: #CC6600;
 background-color: inherit;
}

:visited {
 color: #773300;
 background-color: inherit;
}

.alt1 {
  color: #C60
}

.alt2 {
  color: #c60;
}

q:before { content: "\201C"; }
q:after  { content: "\201D"; }

:link:hover, :visited:hover {
 text-decoration: underline;
 color: #FF2800;
 background-color: inherit;
}

ul.linklist {
 list-style-type: none;
 padding: 0;
 margin: 0;
 white-space: nowrap;
}

ul.linklist>li {
 padding-bottom: .5em;
}

.sectionHeaderContainer {
 margin-left: 9%;
 margin-right: 9%;
}

.sectionHeader {
 background-color: #F0A300;
 color: black;
 margin-right: 40px;
 border: 6px solid black;
}

.section {
 background-color: #FFCC99;
 color: black;
 border-top: 0px;
 border-left: 3px solid black;
 border-right: 3px solid black;
 border-bottom: 3px solid black;

 margin-left: 11%;
 margin-right: 9%;
}

.table {
 display: table;
 margin-left: auto;
 margin-right: auto;
}

.row {
 display: table-row;
}

.cell {
 display: table-cell;
}

#links-users {
 padding: 0px 1em 0px 1em;
 width: 100%;
}

#links-other {
 padding: 0px 1em 0px 1em;
 width: 100%;
}

.screen {
 padding: 1em;
 background-color: #fda;
 color: black;
 font-family: "lucida console", monospace;
 font-size: smaller;
}

.warning {
 font-size: 2em;
 color: red;
 background-color: inherit;
}

.very-important {
 padding: .5em;
 background-color: #fda;
 border: red 1px solid;
 color: #EE3300;
}

.ui {
  font-weight: normal;
  color:#CC6600;
}

.addon {
 color: black;
 background-color: #fda;
 padding: 5px;
 margin-top: 7px;
 margin-bottom: 1em;
}

.addonTitle {
 font-weight: bold;
 display: block;
}

.spacer {
 margin-top: 1em;
}

.doubleSpacer {
 margin-top: 2em;
}

.style {
 color: #F0A300;
 background-color: inherit;
}

.centeredText {
 text-align: center;
}

#mainHeaderContainer {
 padding-top: 4px; /* Need this here to stop collapsing */
}

#mainHeader {
 margin-top: 95px;
 font-size: 1.2em;
 padding: 0;
}

#mozillaLogo:before {
  content: url('images/mozillaLogo.png');
}

#mozillaLogo {
 padding-top: 1px;
 padding-left: 6px;
 padding-bottom: 1px;
 display: block;
}

#mainSection {
 border-right-width: 6px;
 min-width: 372px;
 padding: 0.5em;
}

#mainContent {
 margin-left: auto;
 margin-right: auto;
 width: 85%;
 padding: 0.5em;
 color: black;
 background-color: inherit;
}

#footer {
 text-align: right;
clear: both;
}

#dinoHead {
 float: right;
 display: block;
 padding: 0;
 padding-top:11px;
}

#dinoTail {
 visibility: visible;
 position: relative;
 text-align: right;
 left: 6px;
 top: 25px;
}

#textDescription {
 overflow: auto;
}

#stylesheets {
 font-size: 0.8em;
 margin-left: 11%;
 display: none;
}

#orangestyle {
 color: #773300;
 background-color: inherit;
}

#copyright {
 margin-left: 11%;
 font-size: small;
}

#copyright :link {
 color: #F0A300;
 background-color: inherit;
}

#nag a img {
 border: 0px;
}

#languages {
// display: none;
}

#links {
 font-size: smaller;
 float: right;
 padding: 0 1em 0 0;
 width: 30%;
 min-width: 11em;
}

#feedback {
 margin-right: 11%;
}

/* faq */

.back {
 padding-bottom: 3em;
 text-align: right;
}

.back img {
 width: 1.2ex;
 height: 1.2ex;
 border: 0px;
 padding-right: 0.4ex;
}

.back a {
 border: 3px solid #c60;
 padding: .2em;
}

.back:link, .back:visited {
 background-color: inherit;
 color: #c60;
}

.faqs>dt {
 margin-bottom: .5em;
 font-weight: bold;
}

.faqs > dt.unselected > :link, .faqs > dt > :visited  {
	text-decoration: none;
}

.faqs > dt.unselected > :link:hover, .faqs > dt > :visited:hover {
 text-decoration: none;
 color: black;
 background-color: inherit;
}

.faqs>dd {
 margin-left: 0px;
 padding-left: 2em;

}

.content {
 margin-left: auto;
 margin-right: auto;
 width: 95%;
 padding: 0.5em;
 color: black;
 background-color: inherit;
}

/* End Faq */

@media print {

 body {
  background-color: transparent;
 }

 :link, :visited {
  color: #CC6600;
  background-color: inherit;
 }

 .section {
  margin-left: 7%;
  margin-right: 5%;
  background-color: transparent;
 }

 .addon {
  color: black;
  background-color: transparent;
  border: 3px double black;
  padding: 5px;
  margin-top: 7px;
  margin-bottom: 1em;
 }

 #mainHeaderContainer {
  margin-left: 5%;
  margin-right: 5%;
 }

 #stylesheets {
  display: none;
 }

 #copyright {
  text-align: center;
  font-size: small;
 }
}
