Redirect permanent /scriptable/components_object.html http://developer.mozilla.org/en/docs/Components_object
Redirect permanent /scriptable/xptcall-faq.html http://developer.mozilla.org/en/docs/xptcall_FAQ
Redirect permanent /scriptable/agnostic.html http://wiki.mozilla.org/Roadmap_for_language_agnostic_scripting_support
Redirect permanent /scriptable/avoiding-leaks.html http://developer.mozilla.org/en/docs/Using_XPCOM_in_JavaScript_without_leaking
Redirect permanent /scriptable/xpjs-components.html http://developer.mozilla.org/en/docs/XPJS_Components_Proposal
