
@import url(edit.css);

A, A:link       {
                color: #000;
                text-decoration: none;  
                
                }
A:visited       {
                color: #000; 
                text-decoration: none;  
                
                }
A:active        {
                color: #000;
                text-decoration: none;  
                
                }
A:hover         { 
                color: #FF0;  
                
                text-decoration: none;
               
                }
#shift  {
        margin-bottom: -1.4em;
        margin-left: 1em;
        }

.inner       {
        background-color: #00F;
        -moz-border-radius: 20px;
        padding: .5em;
        }

#leftout   {
        background-color: #00F;
        width: 60%;
        float: left;
        margin-right: 15px;
        margin-top: 65px;
        padding-bottom: 40px;
        -moz-border-radius: 40px 0px 40px 0px;
        }
#leftin    {
        background-color: #FF0;
        -moz-border-radius: 40px 0px 30px 0px;
        padding: 1.5em 1em 1.5em 1em;
        margin-right: 20%;
        text-align: ;
        }
#rightout   {
        background-color: #00F;
        margin-left: 48%;
        padding-top: 30px;
        -moz-border-radius: 40px 0px 40px 0px;
        }
#rightin      {
        background-color: #FF0;
        margin-left: 23%;
        -moz-border-radius: 30px 0px 40px 0px;
        padding: 1em;
        }
        
LI      {
        list-style: none;
        padding-left: .5em;
        }
        

