#edit   {
        margin-top: 5em;
        float: right;
        background-color: #FFFFEF;
        border-style: solid;
        border-color: #E9E9DB;
        border-width: thin;
        -moz-border-radius: 10px;
        padding: .2em .4em .2em .4em;
        }

a.tool  {
        font-size: smaller;
        text-decoration: none;
        color: #B0A963;
        }

