@import url(edit.css);

body {
  margin: 0px;
  padding: 0px;
}

div#maincol {
  margin: 10px 300px 10px 50px;
  padding: 10px 20px 10px 20px;
  border: 1px solid black;
}

h1#header {
  margin: 0px;
  padding: 5px;
  border: 1px solid black;
}

div#content {
  margin: 20px 0px 20px 0px;
  padding: 0px;
  border: 0px;
}

div#sidebar {
  position: absolute;
  top: 0px;
  right: 50px;
  width: 225px;
}

div.leftbox {
  border: 1px solid black; 
  margin: 10px 20px 10px 0px;
  padding: 5px;
}

div.rightbox {
  border: 1px solid black; 
  margin: 10px 0px 10px 20px;
  padding: 5px;
}

h3 { margin: 0px; }
