/* this is a style sheet for the mozilla.org consumer pages. i don't know the
 first thing about good css but i'm trying to learn as i go. i've done what i
 can to mark up the content semantically and this sheet is really supposed to
 just help position that information. we'll see how far overboard i go. */

@import url(edit.css);

body    {
        margin-left: 1em;
        margin-right: 1em;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        background-color: #FFF;
        }

/* columns */

#leftcontent    {
        width: 51%;
        float: left;
        }
        

#rightcontent   {
        margin-left: 53%;
        padding-top: 24px;
        max-width: 24em;
        min-width: 15em;
        }

/* overview */

H2.sun {
        background-color: #FF9;
        -moz-border-radius: 10px 10px 0px 0px;
        padding: 0.2em;
        margin-bottom: -24px;
        text-align: center;
        }
P.overview  {
        background-color: #FF9;
        -moz-border-radius: 0px 0px 10px 10px;
        padding: 0.5em;
        text-align: justify;
        }

/* benefits */

H2.moon {
        background-color: #CF9;
        -moz-border-radius: 10px 10px 0px 0px;
        padding: 0.2em;
        margin-bottom: -28px;
        margin-top: 1em;
        text-align: center;
        }

UL.moz  {
        list-style: inside url(../images/mozilla-16.png);
        }
        
LI.reason       {
        background-color: #CF9;
        -moz-border-radius: 10px;
        padding: 0.5em 0.8em 0.5em 0.8em;
        margin: 1em 0em 1em -40px;
        text-align: justify;
        }

/* downloads */

H2.downloads    {
        background-color: #FFE8E0;
        -moz-border-radius: 20px 20px 0px 0px;
        margin-bottom: -24px;
        text-align: center;
        padding-top: 0.2em;
        }
UL.os   {
        background-color: #FFE8E0;
        -moz-border-radius: 0px 0px 20px 20px;
        padding: 1em;
        }
LI.win  {
        background-color: #FFF;
        -moz-border-radius: 7px 7px 0px 0px;
        margin: 0em 1em 0em 1em;
        list-style: inside url(dl-windows.png);
        padding-left: 0.5em;
        }
LI.mac  {
        background-color: #FFF;
        -moz-border-radius: 0px;
        margin: 0em 1em 0em 1em;
        list-style: inside url(dl-mac.png);
        padding-left: 0.5em;
        }
LI.linux        {
        background-color: #FFF;
        -moz-border-radius: 0px;
        margin: 0em 1em 0em 1em;
        list-style: inside url(dl-linux.png);
        padding-left: 0.5em;
        }
LI.other        {
        background-color: #FFF;
        -moz-border-radius: 0px;
        margin: 0em 1em 0em 1em;
        list-style: inside url(dl-other.png);
        padding-left: 0.5em;
        }
LI.distros      {
        background-color: #FFF;
        -moz-border-radius: 0px 0px 7px 7px;
        margin: 0em 1em 0em 1em;
        list-style: none;
        padding-left: 56px;
        padding-top: 10px;
        }

.lift   {
        vertical-align: 12px;
        padding-left: 0.5em;
        }

/* more reading  */

H2.more {
        background-color: #E0E0E0;
        -moz-border-radius: 20px 20px 0px 0px;
        margin-bottom: -24px;
        text-align: center;
        padding-top: 0.2em;
        }

UL.nav  {
        background-color: #E0E0E0;
        -moz-border-radius: 0px 0px 20px 20px;
        list-style: none;
        padding: 0.3em 0.3em 0.5em 0.3em;
        }
LI.go     {
        -moz-border-radius: 10px;
        background-color: #FFF;
        padding: 0.5em;
        margin: 0.3em;
        }


/* other style */

#screenshot     {
        padding-bottom: 10px;
        }

