// vim: set sw=2 ts=2:
//
// The generic slides.css file. Someday I'll pull out all the screen resolution
// specific code into a separate file. Becuz this has been specifically
// designed for 1024x768 res. things may not look all that nice on other res. 
//
// Gagzilla <gagzilla@nospam.yahoo.com> 07/08/01 

Slide {
  display: block;
  width: 1000px; // for a 1024 res
  height: 500px;
}

SlideBody {
  display: block;
  text-align: center;
  padding-left: 0px;
  font-family: Lucida, Verdana, Helvetica;
  font-size: 16pt;
}


SubHeading {
  text-align: left;
  font-size: 20pt;
  font-weight: bold;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  margin-right: 1em;
}

ListItem, ListItemNumbered, ListItem2, 
BkgRed, BkgGreen, BkgYellow, BkgGreen2, 
TableItem {
  padding-top: 0.2em;
  padding-left: 2em;
  padding-bottom: 0.3em;
  margin-left: 0em;
  margin-right: 0em;
  display: list-item;
  list-style-position: inside;
}

ListItemNumbered {
  list-style-type: none;
}

#logo {
  display: block;
  text-align: center; /* doesn't seem to be centering TODO! :-( */
  border-left: 16em solid black; /* hence this stupid work around... */
  border-right: 18.3em solid black;
}

List {
  margin-left: 0em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: left;
}

BkgGreen, BkgGreen2 {
    background-color: #beb;
}

BkgRed {
    background-color: #ebb;
}

BkgYellow {
    background-color: #eeb;
}

#effect {
  position: absolute;
  left: 19px;
  top: 80px;
}

Bar {
  display: block;
  position: absolute;
  left: 105px;
  top: 520px;
  width: 900px;
  padding-top: 10px;
}

LeftSide, RightSide {
  display: table-cell;
  vertical-align: top;
  width: 500px;
  //border: 1px solid blue;
}

LeftSide { text-align: left; }
RightSide { text-align: right; }

Heading {
  text-align: center;
  font-size: 24pt;
  font-weight: bold;
  display: block;
  margin-top: 0em;
  margin-bottom: 0.5em;
  margin-left: 0em;
  background-color: #f2a204;
}

ListItem2, BkgGreen2 {
  padding-left: 4em;
  list-style-type: circle;
  font-size: 12pt;
}

SourceCode {
  display: block;
  text-align: left;
  font-weight: bold;
  white-space: pre;
  background-color: rgb(120,120,200);
  font-family: Courier, monospace;
  font-size: 15pt;
  width: 1000px;
  margin-left: 3.5em;
  padding: 0.1em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

hilite {
  padding: 0.1em;
  border-bottom: 7px solid rgb(200,200,200);
  border-top: 7px solid rgb(200,200,200);
}

/* on mouse over hilight these words in the source code... */
hilite:hover {
  color: yellow;
}

Para {
  display: block;
  margin-top: 1.0em;
  margin-left: 8.5em;
  font-size: 12pt;
}

/* 
 * Some random notes-- I found a bug with using just the Button style: the
 * hover doesn't work correctly (works only on borders) Anyway by using HTML
 * form/buttons I also got the other advantage of using Keyboard focus using
 * tabs. So I have left the Button class here for people to play with...
 */
#magic, Button, Button:link, Button:visited {
  border: 4px outset #fe2a04;
  padding: 2px 4px 2px 4px;
  background-color: #f2a204;
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-family: Lucida, Verdana;
  font-weight: bold;
  font-size: 12pt;
}

#magic:hover, Button:hover {
  color: white;
}

Center {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

PresTitle, Shadow {
  display:block;
  font-family: Lucida;
  color: white;
  font-size: 24pt;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
}

Shadow {
  color: black;
  margin-top: 1.5em;
  margin-bottom: -1.29em;
}

Ulink {
  display: inline;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

#moz {
  padding: 10px;
}


#fadedmoz, #invmoz {
  position: absolute;
  left: 0px;
  top: 510px;
  margin-left: 10px;
  -moz-opacity: 0.6;
}

#fadedmoz:hover {
  -moz-opacity: 1;
}

#invmoz {
  -moz-opacity: 0;
}

Presenter {
  display: block;
  font-size: 14pt;
  margin-top: 3em;
}

Affiliation {
  display: block;
  font-size: 14pt;
}

Email {
  display: block;
  font-size: 14pt;
  margin-bottom: 0.5em;
}

Column {
  display: block;
  float: left;
  width: 470;
}

Example {
  display: block;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: auto;
  margin-right: auto;
  width: 25em;
}

Diagram {
  display: block;
  margin-top: 2em;
  margin-left: 4em;
  margin-right: 4em;
  margin-bottom: 1.5em;
  background-color: #f1f1f1;
  padding: 2em 1em 2em 1em;
}

SummaryTable {
    display: table;
    border: outset 4px blue;
    margin: auto;
    font-size: 13pt;
}

TableItem {
    padding: 0.2em;
    padding-left: 0.5em;
}

Header, GreenRow, RedRow, YellowRow {
    display: table-row;
}

GreenRow { background-color: #beb;}
RedRow { background-color: #ebb;}
YellowRow { background-color: #eeb;}

Header {
    color: blue;
    text-align: center;
}

HeadItem, Item {
    display: table-cell;
    border: 1px solid black;
    padding: 3px;
    width: auto;
}

HeadItem {
    font-weight: bold;
}

TitleInBar, TitleShadow {
  display: inline;
  font-size: 16pt;
  font-style: italic;
  color: #fe2a04;
}

TitleShadow {
  color: gray;
  padding-left: 0.15em;
  padding-top: 0.1em;
  margin-right: -10.1em;
}
