/*
#screenshot {
  float:right;
  margin-left: 10px;
}

.highlight {
  width: auto;
  padding: 0;
  margin:0;
  margin-right: 325px;
  font-size: small; 
  border-bottom:none;
}

#download {
  margin-top: 1em;
}

#downloadButton {
  background-color: #eee;
  border: 2px solid #ccc;
}

#download h2 {
  display: list-item;
  list-style: url("firefox/download.png");
  margin-left: 30px;
  color: black;
}

#download ul{
  list-style: none;
  margin-left: 30px;
  padding:0;
}

#download ul li {
  list-style: none;
}
*/


