@namespace xf url("http://www.w3.org/2002/xforms");

body
{
  font-family           : "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
  font-size             : 11px;
}

#main-body
{
  margin                : 0px;
  background-color      : #eee;
  border                : 5px solid #333;
  padding               : 15px;
  display               : block;
}

.disabled, xf|case.deselected
{
  display               : none;
}

xf|range
{
  display: block;
}

.notes
{
  margin                : 10px 0px 0px 0px;
  background-color      : #eee;
  border                : 5px solid green;
  padding               : 15px;
}

.highlight
{
  background-color      : red;
  font-weight           : bold;
}