      @namespace xf url("http://www.w3.org/2002/xforms");

      body {
        margin: 0px;
	padding: 15px;
	background-color: #9abcd4;
      }

      xf|*:invalid .xf-value {
        background-color: red;
      }

      h1 {
        border-bottom: 1px solid black;
	padding: 8px;
	margin: 0px;
      }

      xf|group > xf|label {
        font-size: x-large;
	font-weight: bold;
        display: block;
	margin-bottom: 8px;
      }

      xf|group {
        padding: 5px;
	margin: 5px;
      }

      xf|group.main {
        display: block;
	border: 2px groove black;
	-moz-border-radius: 8px;
	padding: 8px;
	background-color: #597e98;
      }

      xf|switch {
        margin: 5px;
	padding: 5px;
      }

      #price-done xf|label {
        font-weight: bold;
      }

      #contactinfo > xf|*:enabled {
        display: block;
	padding: 5px;
      }

      #contactinfo > * > xf|label {
        display: block;
      }
