
purify {
  display: block;
  font-size: 12pt;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 8px;
  background-color: lightyellow;
/*  font-family: sans-serif; */
}

div.warning title {
  font-weight: bold;
  display: block;
  white-space: nowrap;
}

purify subtitle {
  display: block;
}

link {
  display: inline;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

div.stackblock {
    display: none;
    margin-left: 2em;
}

div.sourceblock {
    display: none;
    font-family: monospace;
}

source {
    display: block;
    white-space: pre;
    left-margin: 4em;
}

source[highlight="true"] {
    color: red;
}

error[level="W"] {
    color: darkgreen;
}

error[level="E"] {
    color: red;
}

error[level="I"] {
    color: lightblue;
}

img {
    margin-left: auto;
    margin-right: auto;
}

info {
    display: block;
}
