/*
 * table.status
 *  based on table.data from http://www.mozilla.org/css/base/content.css
 */

table.status {
 border-collapse : collapse;
 margin           : 0.5em auto;
 border           : 1px solid;
}

table.status caption {
 margin     : 1em auto 0.2em;
 font-size  : small;
 font-style : italic;
 text-align : center;
}

table.status th,
table.status td {
 padding        : 0.2em;
 border         : 1px solid;
 vertical-align : baseline;
}

table.status thead th {
 vertical-align : middle;
}

/*
 * .supported, inprogress, .unsupported
 *  based on xf-* from http://www.mozilla.org/projects/xforms/status.css
 */

.supported {
 background-color : #90EE90;
 color             : black;
}

.inprogress {
 background-color : #FFD700;
 color             : black;
}

.unsupported {
 background-color : #FA8072;
 color             : black;
}
