FlightSet {
  display: block;
}

Flight {
  float: left;
  display: block;
  width: 300px;
  margin-bottom: 8px;
  background-color: rgb(204, 204, 153); 
  border: 1px solid black;
  margin-right: 8px;
}

Logo {
 display: inline;
 float: left;
 margin-right: 10px;
 padding: 5px;
}

Number {
  display: block;
  font-weight: bold;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

Airline {
  display: block;
  font-style: italic;
}

Price {
  display: block;
  text-align: right;
  padding-right: 15px;
}

Price:before {
  content: "Our Price: ";
}

Depart {
  display: inline;
  font-family: monospace;
  font-size: 10pt;
  font-weight:bold;

}




