SearchResult {
  display: block;
  margin-top: 8px;
  margin-left: 8px;
}

Header {
  width: 612px;
  display: block;
}

Toggler {
  float: right;
  display: inline;
}

SearchTitle {
  display: block;
  background-color: #444478;
  width: 270px;
  border-bottom: thin solid black;
  padding-bottom: 6px;
  padding-left: 10px;
  margin-bottom: 10px;
} 

SearchTitle:first-line {
  font-family: Verdana, Sans-Serif;
  color: white;
  font-size: 14pt;
  font-style: italic;
}

Toolbar {
  font-family: Verdana, Sans-Serif;
  font-size: 10pt;
  display: block;
  margin: 8px 0px;
}

Label {
  font-weight: bold;
  font-size: 12pt;
}

input {
  margin-top: 2px;
}