
FlightSet {
  display: block;
}

Flight {
  display: list-item;
  padding: 10px;
}

Logo {
 display: none;
}

Number {
  display: inline;
  font-weight: bold;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

Airline {
  display: inline;
  font-style: italic;
}

Price {
  display: inline;
  text-align: right;
  padding-right: 15px;
}


Price:before {
  content: "Our Price: ";
}

Depart {
  display: block;
}