/* vim: set shiftwidth=4 tabstop=4 autoindent noexpandtab copyindent: */

body { font-family: "Luxi Sans", sans-serif; }

body.slide { font-size: 2.8em; }
h1 { font-size: 1.4em; }
h2 { font-size: 1.2em; }
h3, h4, h5, h6 { font-size: 1em; }

:link, :visited { color: inherit; text-decoration: underline; }
html, body { margin: 0; padding: 0; }
@media screen, projection {
h1 { background: #400; color: white; padding: 0.3em; }
}

pre { margin: 0; }

h1 > span#nav { float: right; }
span#nav > a, span#nav > span { text-decoration: none; border: 0.1em solid silver; margin: 0 0.1em; }
span#nav > span.none { visibility: hidden; }
span#nav > a:hover, span#nav > span { background: #900; }

body > h1:first-child { margin-top: 0; }

.imageslide > a { display:block; margin: 0 auto; width: 98%; }
.imageslide > a > img { display:block; width: 100%; }

hbox, vbox { margin: 5px; border: 5px solid; }

.xuldemo > hbox, .xuldemo > vbox { width: 97%; height: 18em; /* background:silver; */ }

img#mozhead { height: 1.5em; vertical-align:top; margin: 0 0.25em -10px 0; }

/* hack to adjust for widescreen */
.imageslide > a > img { display:block; width: 84%; }
body.slide h1 { font-size: 1.2em; }
.xuldemo > hbox, .xuldemo > vbox { height: 12em; }

/*
 * from 2002 style techtalk
 * http://www.mozilla.org/newlayout/doc/style-techtalk.html
 */
table.tree { margin: auto; }
table.tree td { text-align: center; empty-cells: hide; }
table.tree tr:not(.arrows) td { font-family: monospace; border: 0.1em solid; }
