Redirect permanent /projects/firefox/extensions/update.html http://developer.mozilla.org/en/docs/Extension_Versioning%2C_Update_and_Compatibility
Redirect permanent /projects/firefox/extensions/em-changes.html http://developer.mozilla.org/en/docs/Enhanced_Extension_Installation
