Redirect permanent /quality/bug-writing-guidelines.html http://developer.mozilla.org/en/docs/Bug_writing_guidelines
Redirect permanent /quality/most-frequent-bugs/ https://bugzilla.mozilla.org/duplicates.cgi
Redirect gone /quality/qacontacts.html
