Redirect permanent /projects/xslt/js-interface.html http://developer.mozilla.org/en/docs/Using_the_Mozilla_JavaScript_interface_to_XSL_Transformations
Redirect permanent /projects/xslt/faq.html http://developer.mozilla.org/en/docs/XSL_Transformations_in_Mozilla_FAQ
Redirect permanent /projects/xslt/standalone.html http://developer.mozilla.org/en/docs/Building_TransforMiiX_standalone
