Redirect permanent /docs/web-developer/quirks/quirklist.html http://developer.mozilla.org/en/docs/Mozilla_Quirks_Mode_Behavior
Redirect permanent /docs/web-developer/quirks/index.html http://developer.mozilla.org/en/docs/Mozilla%27s_Quirks_Mode
Redirect permanent /docs/web-developer/quirks/doctypes.html http://developer.mozilla.org/en/docs/Mozilla%27s_DOCTYPE_sniffing
