body {
    background: #fff;
    color: #000;
}

:link { color: #00e; }
:visited { color: #551A8B; }
:link:active, :visited:active { color: #f00; }

h1, .byline {
    text-align: center;
}

ul, ol {
    margin-left: 8em;
    padding-left: 0;
    margin-right: 4em;
}

ul ul, dl {
    margin-left: 4em;
}

li {
    margin-left: 0;
    padding-left: 0;
}

p, dd {
    margin-left: 4em;
    margin-right: 4em;
}

dd > p {
    margin-left: 0;
    margin-right: 0;
}

dd > ul, dd > ol, li > ul, li > ol {
    margin-left: 4em;
}

#footerbreadcrumb {
    margin-left: 0;
    margin-right: 0;
}
