html {
	font-family: "Verdana";
	font-size: 15pt;
	margin: 0;
}

body {
	margin: 0;
}

h1 {
	font-size: 1.3em;
	margin-top: 0;
}

li {
	margin: 0.4em 0;
}

ul ul {
	font-size: 0.8em;
}

#title {
	background: #970000;
	color: white;
	font-weight: bold;
	padding: 1em;
}

#credits {
	text-align: right;
	background: #FF9900;
	color: white;
	font-weight: bold;
	font-size: 9pt;
}

#contents {
	margin: 1em;
}

#links {
	text-align: right;
	font-size: 0.7em;
	margin: 0 0.5em;
}

.plain {
	font-weight: normal;
}

.example {
	background: #ccc;
	border: 3pt solid black;
	padding: 0.5em;
	font-size: 0.9em;
	margin-top: 0.3em;
}