/*  Note: Turned off XForms styling for now */
@namespace xf url("http://www.w3.org/2002/xforms");

/* Mozilla and Novell IE plugin styling */
xf|*:invalid {
  color: red;
}

/* formsPlayer styling */
.invalid {
  background-color: red;
}

.b14 { font: bold 14pt helvetica,verdana }
.b10 { font: bold 10pt helvetica,verdana; text-decoration: none }
.n10 { font: 10pt helvetica,verdana; text-decoration: none }
.n8  { font: 8pt helvetica,verdana }
.b8, .xf-value  { font: bold 8pt helvetica,verdana }
xf|*.i8 >xf|label { display: block; }
.help { background-color: orange; }

.sectclr { 
  background-color:#cceecc 
}
.entryclr { 
  background-color:#eeeeee 
}

aquabutton,.aquabutton { -moz-binding: url("AquaButton.xml#aqua") }
.chartlabel { font-family:verdana,arial,sans-serif;font-size:20px;fill:black;stroke:none }
#chart { width:220px;height:200px }
.tfbutton{ background-color:#cceecc; cursor:pointer }
xf|trigger button {
  background-color:#cceecc;
  cursor:pointer;
  border: 0.1em outset green;
  -moz-border-radius: 1em;
}

xf|input .xf-value {
  padding: 0.5em;
  border: 0.1em inset green;
  -moz-border-radius-bottomleft: 0.5em;
  -moz-border-radius-bottomright: 1.5em;
}

xf|select1 xf|label { 
  padding: 0.5em;
  display: block;
}

xf|input xf|label, xf|select1 >xf|label { 
  padding: 0.5em;
  border: 0.1em outset green;
  -moz-border-radius-topleft: 1.5em; 
  -moz-border-radius-topright: 0.5em; 
  text-align: left;
  display: block;
}
