Redirect permanent /xmlextras/xmldataislands/index.html http://developer.mozilla.org/en/docs/Using_XML_Data_Islands_in_Mozilla
Redirect permanent /xmlextras/index.html http://developer.mozilla.org/en/docs/XML_Extras
