Redirect permanent /projects/ui/accessibility/index.html http://www.mozilla.org/access/
Redirect permanent /projects/ui/accessibility/access-today.html http://www.mozilla.org/access/today
Redirect permanent /projects/ui/accessibility/slides/moz_accslides.html http://www.mozilla.org/access/slideshow/
Redirect permanent /projects/ui/accessibility/slides http://www.mozilla.org/access/slideshow
Redirect permanent /projects/ui/accessibility/moz_accslides_text_version.html http://www.mozilla.org/access/slideshow/text
Redirect permanent /projects/ui/accessibility/index-users.html http://www.mozilla.org/access/users
Redirect permanent /projects/ui/accessibility/Accessibility_Features_in_Mozilla.html http://www.mozilla.org/access/features
Redirect permanent /projects/ui/accessibility/index-procurement.html http://www.mozilla.org/access/evaluators
Redirect permanent /projects/ui/accessibility/index-authors.html http://www.mozilla.org/access/authors
Redirect permanent /projects/ui/accessibility/dynamic-accessibility.html http://www.mozilla.org/access/dynamic-content
Redirect permanent /projects/ui/accessibility/index-atvendors.html http://www.mozilla.org/access/at-vendors
Redirect permanent /projects/ui/accessibility/index-qa-ui.html http://www.mozilla.org/access/qa
Redirect permanent /projects/ui/accessibility/index-frontend-coders.html http://www.mozilla.org/access/ui-developers
Redirect permanent /projects/ui/accessibility/index-core-hackers.html http://www.mozilla.org/access/core-developers
Redirect permanent /projects/ui/accessibility/index-external-developers.html http://www.mozilla.org/access/external-developers
Redirect permanent /projects/ui/accessibility/toolkit-checklist.html http://www.mozilla.org/access/toolkit-checklist
Redirect permanent /projects/ui/accessibility/msaa-server-impl.html http://www.mozilla.org/access/windows/msaa-server
Redirect permanent /projects/ui/accessibility/accessible-xul-authoring.html http://www.mozilla.org/access/xul-guidelines
Redirect permanent /projects/ui/accessibility/window-eyes-status.html http://www.mozilla.org/access/windows/window-eyes
Redirect permanent /projects/ui/accessibility/typeaheadfind.html http://www.mozilla.org/access/type-ahead
Redirect permanent /projects/ui/accessibility/planning-ahead-for-accessibility.html http://www.mozilla.org/access/planning
Redirect permanent /projects/ui/accessibility/zoomtext-status.html http://www.mozilla.org/access/windows/zoomtext
Redirect permanent /projects/ui/accessibility/keyboard-status.html http://www.mozilla.org/access/keyboard/testing
Redirect permanent /projects/ui/accessibility/vendors-win.html http://www.mozilla.org/access/windows/at-apis
Redirect permanent /projects/ui/accessibility/section508.html http://www.mozilla.org/access/section508
Redirect permanent /projects/ui/accessibility/w3c-uaag.html http://www.mozilla.org/access/w3c-uaag
Redirect permanent /projects/ui/accessibility/span-checkbox.html http://www.mozilla.org/access/samples/span-checkbox.html
Redirect permanent /projects/ui/accessibility/ISimpleDOMNode.idl http://lxr.mozilla.org/seamonkey/source/accessible/public/msaa/ISimpleDOMNode.idl?raw=1
Redirect permanent /projects/ui/accessibility/ISimpleDOMText.idl http://lxr.mozilla.org/seamonkey/source/accessible/public/msaa/ISimpleDOMText.idl?raw=1
Redirect permanent /projects/ui/accessibility/ISimpleDOMDocument.idl http://lxr.mozilla.org/seamonkey/source/accessible/public/msaa/ISimpleDOMDocument.idl?raw=1
Redirect permanent /projects/ui/accessibility/accesskey.html http://www.mozilla.org/access/keyboard/accesskey
Redirect permanent /projects/ui/accessibility/mozkeyintro.html http://www.mozilla.org/access/keyboard/
Redirect permanent /projects/ui/accessibility/Javascript-nsIAccessible.html http://www.mozilla.org/access/samples/js-nsIAccessible
Redirect permanent /projects/ui/accessibility/Javascript-nsIAccessible.js http://www.mozilla.org/access/samples/js-nsIAccessible.js
Redirect permanent /projects/ui/accessibility/mozkeyplan.html http://www.mozilla.org/access/keyboard/interactive
Redirect permanent /projects/ui/accessibility/mozkeylist.html http://www.mozilla.org/access/keyboard/mozilla
Redirect permanent /projects/ui/accessibility/mozkeyboard.html http://www.mozilla.org/access/keyboard/layout
Redirect permanent /projects/ui/accessibility/Javascript-nsIAccessible-notes.html http://www.mozilla.org/access/samples/js-nsIAccessible-notes
Redirect permanent /projects/ui/accessibility/accessible-architecture.html http://www.mozilla.org/access/architecture
Redirect permanent /projects/ui/accessibility/accessible-events.html http://www.mozilla.org/access/event-flow
Redirect permanent /projects/ui/accessibility/cross-ref-apis.html http://www.mozilla.org/access/platform-apis
Redirect permanent /projects/ui/accessibility/resources.html http://www.mozilla.org/access/resources
Redirect permanent /projects/ui/accessibility/access-mozilla.png http://www.mozilla.org/access/access-mozilla.png
Redirect permanent /projects/ui/accessibility/powerbraille.jpg http://www.mozilla.org/access/powerbraille.jpg
Redirect permanent /projects/ui/accessibility/vpduo2.jpg http://www.mozilla.org/access/vpduo2.jpg
Redirect permanent /projects/ui/accessibility/qa/taf_acceptance.html http://www.mozilla.org/access/type-ahead/basic
Redirect permanent /projects/ui/accessibility/qa/taf_functional.html http://www.mozilla.org/access/type-ahead/full
Redirect permanent /projects/ui/accessibility/qa/taf_qa.html http://www.mozilla.org/access/type-ahead/testing
Redirect permanent /projects/ui/accessibility/tabindex.html http://www.mozilla.org/access/keyboard/tabindex
Redirect permanent /projects/ui/accessibility/embedaccess.html http://www.mozilla.org/access/prefs-and-apis
Redirect permanent /projects/ui/accessibility/accessible-hierarchy.html http://www.mozilla.org/projects/accessibility/images/accessible-hierarchy.jpg
Redirect gone /projects/ui/accessibility/header.html
Redirect permanent /projects/ui/accessibility/unix/index.html http://www.mozilla.org/access/unix/
Redirect permanent /projects/ui/accessibility/unix/faq.html http://www.mozilla.org/access/unix/faq
Redirect permanent /projects/ui/accessibility/unix/introduction.html http://www.mozilla.org/access/unix/team/
Redirect permanent /projects/ui/accessibility/unix/photos/index.html http://www.mozilla.org/access/unix/team/photos
Redirect permanent /projects/ui/accessibility/unix/photos http://www.mozilla.org/access/unix/team
Redirect permanent /projects/ui/accessibility/unix/architecture.html http://www.mozilla.org/access/unix/architecture
Redirect gone /projects/ui/accessibility/unix/to-do.html
