BODY {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left top; PADDING-LEFT: 0px; BACKGROUND-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: black; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: white
}
#Header {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 85px 100px 0px; PADDING-TOP: 0px
}
.Content {
	BORDER-RIGHT: black 1px dashed; PADDING-RIGHT: 20px; BORDER-TOP: black 1px dashed; PADDING-LEFT: 20px; PADDING-BOTTOM: 20px; MARGIN: 0px 100px 50px; BORDER-LEFT: black 1px dashed; COLOR: black; PADDING-TOP: 20px; BORDER-BOTTOM: black 1px dashed; BACKGROUND-COLOR: #eee
}
P {
	FONT-SIZE: 11px; MARGIN: 0px 0px 12px; LINE-HEIGHT: 20px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
UNKNOWN {
	MARGIN: 0px
}
UNKNOWN {
	TEXT-INDENT: 30px
}
A {
	FONT-WEIGHT: 600; FONT-SIZE: 11px; COLOR: #09c; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A:link {
	COLOR: #09c
}
A:visited {
	COLOR: #07a
}
A:hover {
	BACKGROUND-COLOR: white
}
H1 {
	FONT: 900 24px/24px verdana, arial, helvetica, sans-serif; COLOR: #333
}
H2 {
	MARGIN: 18px 0px 3px; FONT: 700 12px verdana, arial, helvetica, sans-serif; COLOR: #333
}
H3 {
	FONT-WEIGHT: 800; FONT-SIZE: 11px; MARGIN: 6px 0px 3px; COLOR: #666
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
IMG.thumb {
	MARGIN: 10px 1px
}
#Copyright {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 800; PADDING-BOTTOM: 100px; COLOR: #999; PADDING-TOP: 50px; TEXT-ALIGN: center
}
#copyrightText {
	LEFT: -17px; POSITION: relative
}
.first {
	MARGIN-TOP: 0px; PADDING-TOP: 0px
}

