
/*
a {
    color: #ef7b00;
}

a:hover {
    color: #ffb200;
}

a:visited {
    color: #c90a00;
}
*/

body {
    height: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    border-left: 100px #66FF66 solid;
    color: black;
    background-repeat: no-repeat;
    background-color: #CCFFCC};
}

.slide-table {
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
    border-left: 5px black solid;
}

.slide-title {
    height: 10%;
    font: 24pt lucida, sans-serif;
}

.slide-nav {
    height: 10%;
    text-align: right;
    font: 12pt lucida, sans-serif;
}

.slide-content {
    height: 80%;
    vertical-align: top;
    font: 14pt lucida, sans-serif;
}
