Redirect permanent /projects/xpcom/MemoryTools.html http://developer.mozilla.org/en/docs/Debugging_memory_leaks
Redirect permanent /projects/xpcom/Ownership.html http://developer.mozilla.org/en/docs/XPCOM_ownership_guidelines
Redirect permanent /projects/xpcom/Proxies.html http://developer.mozilla.org/en/docs/nsISupports_proxies
Redirect permanent /projects/xpcom/QI.html http://developer.mozilla.org/en/docs/Implementing_QueryInterface
Redirect permanent /projects/xpcom/XPCOM_plans.html http://developer.mozilla.org/en/docs/XPCOM_plans
Redirect permanent /projects/xpcom/XPCOM_tasks.html http://developer.mozilla.org/en/docs/XPCOM_tasks
Redirect permanent /projects/xpcom/array-guide.html http://developer.mozilla.org/en/docs/XPCOM_array_guide
Redirect gone /projects/xpcom/atoms.html
Redirect permanent /projects/xpcom/consoleservice.html http://developer.mozilla.org/en/docs/Console_service
Redirect permanent /projects/xpcom/file_locations.html http://developer.mozilla.org/en/docs/Using_nsIDirectoryService
Redirect permanent /projects/xpcom/generic-factory.html http://developer.mozilla.org/en/docs/Generic_factory
Redirect permanent /projects/xpcom/hashtable-guide.html http://developer.mozilla.org/en/docs/XPCOM_hashtable_guide
Redirect permanent /projects/xpcom/interface-rules.html http://developer.mozilla.org/en/docs/IDL_interface_rules
Redirect permanent /projects/xpcom/mozIRegistry.html http://developer.mozilla.org/en/docs/mozIRegistry
Redirect permanent /projects/xpcom/nsCOMPtr.html http://developer.mozilla.org/en/docs/Using_nsCOMPtr
Redirect permanent /projects/xpcom/nsDirectoryService.html http://developer.mozilla.org/en/docs/Using_nsIDirectoryService
Redirect permanent /projects/xpcom/nsIClassInfo.html http://developer.mozilla.org/en/docs/Using_nsIClassInfo
Redirect permanent /projects/xpcom/nsString.html http://developer.mozilla.org/en/docs/The_new_nsString_class_implementation_(1999)
Redirect permanent /projects/xpcom/string-guide.html http://developer.mozilla.org/en/docs/XPCOM_string_guide
Redirect permanent /projects/xpcom/string-quickref.html http://developer.mozilla.org/en/docs/String_Quick_Reference
Redirect gone /projects/xpcom/style-guide.html
Redirect permanent /projects/xpcom/using-consoleservice.html http://developer.mozilla.org/en/docs/Console_service
Redirect permanent /projects/xpcom/weak_references.html http://developer.mozilla.org/en/docs/Weak_reference
Redirect permanent /projects/xpcom/xpcom-standalone.html http://developer.mozilla.org/en/docs/Standalone_XPCOM
