Options +MultiViews
AddDefaultCharset UTF-8
DefaultLanguage en

Redirect permanent /press/index.html http://www.mozilla.com/press/
Redirect permanent /press/images.html http://www.mozilla.com/press/images.html
Redirect permanent /press/awards http://www.mozilla.com/press/awards.html
Redirect permanent /press/awards.html http://www.mozilla.com/press/awards.html
Redirect permanent /press/testimonials http://www.mozilla.com/press/testimonials.html
Redirect permanent /press/testimonials.html http://www.mozilla.com/press/testimonials.html
