

VendorSet {
  display: block;
}

Vendor {
  float: left;
  -moz-border-radius:12px;
  display: block;
  width: 800px;
  //background-color: #f1f1f1;
  background-color: white;
  border: 1px solid #cccccc;
  margin-right: 8px;
  margin-top: 2px;
  margin-bottom:8px;
  padding: 5px; 
}

Title {
  display: block;
  font-weight: bold;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

Link, Product {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}


Author {
  display: block;
  font-style: italic;
}

Synopsis {
  display: block;
  padding: 3px;
  font-size: smaller;
}

Type { 
  padding: 3px;
  font-size: small;
  color: gray;
}

Date {  display: none; }

