SearchResult {
  display: block;
  margin-top: 8px;
  margin-left: 8px;
  background-color: #f1f1f1;
}


SearchTitle {
  display: block;
  padding-bottom: 6px;
  margin-bottom: 12px;
  font-size:12px;
} 

SearchTitle:first-line {
  font-family: Verdana, Sans-Serif;
  color: #cc6600;
  font-size: 14pt;
}

Header {
  display:block;
  border:1px solid black;
  -moz-border-radius:12px;
  margin-right:10px;
  margin-bottom:10px;
  padding:10px;

}

Toolbar {
  font-family: Verdana, Sans-Serif;
  font-size: 7pt;
  width: 220px;
  margin-right: 0px;
}

Label {
  font-weight: bold;
}

input {
  margin-top: 2px;
  -moz-border-radius:8px;
}
