Redirect permanent /docs/web-developer/mimetypes.html http://developer.mozilla.org/en/docs/How_Mozilla_determines_MIME_Types
Redirect permanent /docs/web-developer/upgrade_2.html http://developer.mozilla.org/en/docs/Using_Web_Standards_in_your_Web_Pages