[%# Consulting %]
[% 
	PROCESS "inc/header.html.tmpl" 
	title = "Bugzilla Consulting Resources" 
%]

<h1>Consulting Resources</h1>

<p>Bugzilla is made available free of charge, without warranty. Support 
   provided for free by Bugzilla team members via email or newsgroups also 
   comes without warranty. If you need higher-level support, the following 
   contractors and businesses (some of whom may be members of the Bugzilla 
   team) may be able to help you.</p>

<p>Bugzilla consultants could help you save time installing and administering
   your Bugzilla system.  They could also let you know the best way to make
   changes to your installation.</p>

<p>This page lists contractors and businesses who have declared 
   themselves available for Bugzilla consulting work.  There is no screening
   process as a prerequisite to being on this list, and as such, no guarantee
   is supplied as to the quality of their work.  If you wish to hire them,
   you will need to assess this for yourself.  Listings are in random
   order and will display in a different order every time the page is loaded
   in order to be fair to everyone.
   All information (including comments) appears as given by the
   person requesting the listing (excepting editorial changes to make it fit
   the format of this web page).</p>

<p>If you wish to be added to this list, or if you discover someone on this
   list who is no longer in business or no longer offering Bugzilla support,
   please email
   <a href="mailto:justdave&#64;bugzilla.org">justdave&#64;bugzilla.org</a>
   with the relevant information.</p>

<iframe src="http://bugzilla.org/cgi-bin/bz_vendors.cgi" width="100%" height="500">
Your browser doesn't seem to support IFRAMEs.  Please directly visit the
<a href="http://bugzilla.org/cgi-bin/bz_vendors.cgi">vendor database</a>.
</iframe>

[% PROCESS "inc/footer.html.tmpl" %]
