Redirect permanent /xpfe/skins.html http://developer.mozilla.org/en/docs/Writing_Skinnable_XUL_and_CSS
Redirect permanent /xpfe/goodcss.html http://developer.mozilla.org/en/docs/Writing_Efficient_CSS
Redirect permanent /xpfe/xulrdf.htm http://developer.mozilla.org/en/docs/XUL_and_RDF:_The_Implementation_of_the_Application_Object_Model
