.xf-supported{
 color: white;
 background-color: green;
}
.xf-partial{
 background-color: lightgreen;
}
.xf-inprogress{
 background-color: gold;
}
.xf-unsupported{
 background-color: salmon;
}
.bug-RESOLVED{
 text-decoration: line-through;
}
table.items{
 width: 100%;
}
