Redirect permanent /docs/extendmoz.html http://www.mozilla.org/projects/plugins/
Redirect permanent /docs/plugin.html http://www.mozilla.org/projects/plugins/
Redirect permanent /docs/jargon.html http://developer.mozilla.org/en/docs/Glossary