Redirect permanent /projects/thunderbird/rel-notes/ http://www.mozilla.org/products/thunderbird/releases/
Redirect permanent /projects/thunderbird/release-notes.html http://www.mozilla.org/products/thunderbird/releases/
