/* Netscape 4 does not like any of these particular property settings
   so they've been stripped out and placed into this file which is
   only loaded by modern browsers. The effect on N4 of these rules
   is that the page does not render. 
 */

#dateBox {
  font-style: italic;
  font-weight: bold;  
  color: #F4D593;
  padding-left: 12px;
  padding-bottom: 3px;
}

#devBox {
  padding: 0px 10px 1px 10px;
}

#qaBox {
  padding: 0px 10px 1px 10px;
}

#donateBox {
  background-color: #DCC085;
  padding: 1px 10px 1px 10px; 
}

