
body {
  margin: 0px;
  background-color: #FFFFFF;
  color: black;
}

body, td, p, div {
  font: 10pt Verdana, sans-serif;
}

.notes {
  font-size: smaller;
}

.documentInfo {
  font-size: 9px;
  padding-left: 15px;
}

.productCell {
  background-color: #F5F5F5;
}

.productCellInner {
  padding-left: 10px; 
  padding-right: 10px;
}  

.downloadText {
  margin-left: 40px;
  font-size: x-small;
} 

.downloadBox {
  border-top: 2px solid #909090;
  padding-top: 10px; 
}

#downloadBoxFirebird {
  border-top: 1px dashed #C0C0C0; 
}

#downloadBoxThunderbird {
  border-top: 1px dashed #C0C0C0; 
}

#downloadBoxCamino {
  border-top: 1px dashed #C0C0C0; 
}

.downloadHeader {
  color: #909090;
  font-weight: bold;
  font-style: italic;
}

#downloadHeaderMozilla {
  color: #202020;
  font-size: 1.2em; 
}

.footerRow {
  background-color: #F9D995;
  border-top: 1px solid #000000;
}

.footerCell {
  padding-top: 5px;
  padding-bottom: 5px;
  vertical-align: top;
}

#searchTable {
  margin-top: 5px; 
}

.searchCell, .searchCellField, .searchCellButton {
  font-size: x-small; 
}

.fixedRow {
  height: 1px;
}

.bodyCell {
  padding-left: 15px;
  padding-right: 10px;
  text-align: justify;
  background-color: #FFFFFF;
}

.boxHeading {
  padding-top: 10px; 
}

#qaBox {
  background-color: #F9EAC9; 
  margin-top: 15px;
}

#nightlyTable {
  border: 2px solid #DCC085;
  background-color: #F4D593;  
}

.nightlyCell {
  border-bottom: 1px dashed #DCC085; 
  padding-top: 5px;
  padding-bottom: 5px;
}

.nightlyCellLastRow {
  border-bottom: none; 
}

.nightlyTableProductCol {
  width: 12em; 
}

.bugTable {
  border: 2px solid #DCC085;
  background-color: #F4D593;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bugTableCell {
  font-weight: bold;
  font-size: x-small; 
}

#devBox {
  background-color: #ECECEC;
  margin-top: 15px; 
  margin-bottom: 15px;
}

#toolTable {
  background-color: #DFDFDF;
  border: 2px solid #C0C0C0; 
}

.toolTableProductCol {
  width: 6em; 
}

.toolCell {
  vertical-align: top; 
  padding-top: 5px;
  padding-bottom: 5px;
}

#topLinkCell {
  font-size: x-small; 
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 2px;
  border-bottom: 1px solid #C0C0C0;
  background-color: #F7F7F7;
  background-image: url(headerBackground.png);
  background-repeat: repeat-y;
}

#productsBox {
  margin-bottom: 15px; 
}

#productsHeader {
  color: #C0C0C0;
  font-weight: bold; 
  margin-top: 15px;
}

#mozillaQuoteCell {
  padding-top: 10px; 
  padding-left: 10px;
}

.quoteCellQuote {
  padding-left: 5px;
  text-align: left;
  color: #909090;
  text-decoration: none;
}

a.quoteCellQuote {
  padding: 0px; 
}

a.quoteCellQuote:hover {
  text-decoration: underline; 
}

#mozillaHeading {
  font-weight: bold;
  font-style: italic;
  font-size: large;
}

#mozillaBox {
  border-top: 1px dashed #C0C0C0; 
  border-bottom: 1px dashed #C0C0C0; 
  padding-bottom: 10px;
  padding-top: 10px;
}

#firebirdBox {
  border-right: 1px dashed #C0C0C0;
  border-bottom: 1px dashed #C0C0C0; 
  padding-top: 10px;
  padding-bottom: 10px;
}

#bugzillaBox {
  padding: 10px; 
  text-align: left;
}

.tbirdBox {
  border-right: 1px dashed #C0C0C0; 
}

#productsTable {
  border-bottom: 1px dashed #C0C0C0; 
}

#newsBox {
  background-color: #F7F7F7;
  padding: 0px 10px 1px 10px;
  margin-top: 15px; 
  margin-bottom: 15px;
}

#foundationBox {
  border: 2px solid #DCC085;
  background-color: #F4D593;  
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
