Redirect permanent /docs/dom/technote/tn-dom-table/index.html http://developer.mozilla.org/en/docs/Traversing_an_HTML_table_with_JavaScript_and_DOM_Interfaces
Redirect permanent /docs/dom/technote/whitespace/index.html http://developer.mozilla.org/en/docs/Whitespace_in_the_DOM
Redirect permanent /docs/dom/technote/intro/index.html http://developer.mozilla.org/en/docs/Using_the_W3C_DOM_Level_1_Core
