
#body-box
  {
    border              : 1px solid #00B2EB;
    background-color    : #FFFFFF;
    margin              : 20px;
    margin-bottom       : 3px;
    font                : 0.8em Tahoma, Verdana, Arial, sans-serif;
    padding             : 1.5em;
    width               : 60%;
  }
  
body
  {
    background-color    : #F0FAFE;
    margin              : 0px;
  }  

a
  {
    color               : #00B2EB;
    font-weight         : bold;
    text-decoration     : none;
  }
  
a:hover
  {
    text-decoration     : underline;
  }  

#ben-table
  {
    border              : 1px solid #00B2EB;
    background-color    : #F0FAFE;
  }
    
#title-box
  {
    font-size           : 1.3em;
    font-weight         : bold;
    margin-bottom       : 1em;
  }  
  
#contact-box, #locator-box
  {
    color               : #00B2EB;
    font-size           : 1em;
    font-weight         : bold;
    margin-bottom       : 0.8em;
  }  
  
#location
  {
    color               : #000000;
  }  
  
.general-box
  {
    color               : #00B2EB;
    font-size           : 1em;
    font-weight         : bold;
    margin-bottom       : 0.8em;
  }
     
#contact-table
  {
    border              : 1px solid #00B2EB;
    margin              : 1em 2em;
    background-color    : #F0FAFE;
    font-size           : 0.8em;
  }
      
#contact-table td
  {
    vertical-align      : top;
  }      

#contact-table .table-header
  {
    font-weight         : bold;
    padding-right       : 1em;
  }

.general-info
  {
    color               : #000000;
    font-size           : 1em;
    font-weight         : normal;
    margin              : 1em 2em;
  }
  
  
#schedule-table
  {
    border              : 1px solid #00B2EB;
    margin              : 1em 2em;
    background-color    : #F0FAFE;
    font-size           : 0.8em;
  }    

#schedule-table td
  {
    border-bottom       : 1px solid #FFFFFF;
    border-right        : 1px solid #FFFFFF;
  }
  
#schedule-table .table-header
  {
    background-color    : #FFFFFF;
    font-weight         : bold;
    border-bottom       : 1px solid #F0FAFE;
    border-right        : 1px solid #F0FAFE;
  }   
  
#footer
  {
    font                : 0.7em Tahoma, Verdana, Arial, sans-serif;
    font-weight         : normal;
    color               : #000000;
    margin-left         : 2em;
    margin-bottom       : 1.5em;
  }  
  
.text-td
  {
    font-size           : 0.8em;
    vertical-align      : top;
    padding             : 0.8em;
  }  

.hide
  {
    color               : #FFFFFF !important;
  }