H4 {
	FONT-WEIGHT: normal; COLOR: #0050b2; FONT-FAMILY: sans-serif; TEXT-ALIGN: left
}
.idl-code {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; COLOR: black; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: monospace; WHITE-SPACE: pre; BACKGROUND-COLOR: #dfdfdf
}
.java-code {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; COLOR: black; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: monospace; WHITE-SPACE: pre; BACKGROUND-COLOR: #dfdfdf
}
.code-block {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; COLOR: black; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: monospace; WHITE-SPACE: pre; BACKGROUND-COLOR: #dfdfdf
}
.ecma-block {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; COLOR: black; BORDER-BOTTOM: black 1px solid; BACKGROUND-COLOR: #dfdfdf
}
.interface-name {
	FONT-WEIGHT: bold
}
.attribute-name {
	COLOR: black; BACKGROUND-COLOR: #ffffd2
}
.constant-name {
	COLOR: black; BACKGROUND-COLOR: #ddffd2
}
.method-name {
	COLOR: black; BACKGROUND-COLOR: #d9e6f8
}
.parameter-name {
	COLOR: black; BACKGROUND-COLOR: #fee6f8
}
UL.toc {
	LIST-STYLE-TYPE: none
}
OL.toc {
	LIST-STYLE-TYPE: none
}
DIV.toc UL UL {
	MARGIN-LEFT: 0px
}
DIV.toc OL OL {
	MARGIN-LEFT: 0px
}
DIV.toc UL UL UL {
	MARGIN-LEFT: 1em
}
DIV.toc OL OL OL {
	MARGIN-LEFT: 1em
}
DIV.toc UL UL UL UL {
	MARGIN-LEFT: 0px
}
DIV.toc OL OL OL OL {
	MARGIN-LEFT: 0px
}
LI.tocline1 {
	FONT-WEIGHT: bold
}
LI.tocline2 {
	FONT-WEIGHT: normal
}
LI.tocline4 {
	FONT-STYLE: italic
}
CODE {
	FONT-FAMILY: monospace
}
DIV.paramtable {
	MARGIN-LEFT: 1em
}
DIV.returntable {
	MARGIN-LEFT: 1em
}
DIV.exceptiontable {
	MARGIN-LEFT: 1em
}
