Options +FollowSymLinks
Redirect permanent /projects/firefox/build.html http://developer.mozilla.org/en/docs/Build_Documentation
Redirect permanent /projects/firefox/extensions/index.html http://developer.mozilla.org/en/docs/Extensions
Redirect permanent /projects/firefox/extensions/web-api.html http://developer.mozilla.org/en/docs/Installing_Extensions_and_Themes_From_Web_Pages
Redirect permanent /projects/firefox/extensions/packaging/extensions.html http://developer.mozilla.org/en/docs/Extension_Packaging
Redirect permanent /projects/firefox/extensions/packaging/themes.html http://developer.mozilla.org/en/docs/Theme_Packaging
Redirect permanent /projects/firefox/3.0a1/whatsnew/ http://www.mozilla.org/projects/firefox/3.0a1/firstrun/
Redirect permanent /projects/firefox/3.0a2/whatsnew/ http://www.mozilla.org/projects/firefox/3.0a2/firstrun/
Redirect permanent /projects/firefox/3.0a3/whatsnew/ http://www.mozilla.org/projects/firefox/3.0a3/firstrun/
Redirect permanent /projects/firefox/3.0a4/whatsnew/ http://www.mozilla.org/projects/firefox/3.0a4/firstrun/
Redirect permanent /projects/firefox/3.0a8pre/ http://www.mozilla.org/projects/firefox/3.0a8/
Redirect permanent /projects/firefox/2.0b2/firstrun/ http://www.mozilla.org/projects/bonecho/
Redirect permanent /projects/firefox/2.0b2/whatsnew/ http://www.mozilla.org/projects/bonecho/
RewriteEngine on
RewriteRule ^([2-]\.(?:\d\.){,2}\d{1,2}(?:b\d)?)(/.*)$ http://www.mozilla.com/firefox/$1$2 [R]
