/* -*- mode: css -*-
 * CSS definitions for the calendar pages
 * http://www.mozilla.org/projects/calendar
 *
 */

img { border-style: none !important;
}

td {
    text-align: center;
}

.completed { 
    text-decoration: line-through; 
}

.credits {
    font-size: 80%;
}

.nowrap {
    white-space: nowrap;
}
