Redirect permanent /projects/phoenix/0.1-release-notes.html http://www.mozilla.org/products/firefox/releases/0.1.html
Redirect permanent /projects/phoenix/0.2-release-notes.html http://www.mozilla.org/products/firefox/releases/0.2.html
Redirect permanent /projects/phoenix/0.3-release-notes.html http://www.mozilla.org/products/firefox/releases/0.3.html
Redirect permanent /projects/phoenix/0.4-release-notes.html http://www.mozilla.org/products/firefox/releases/0.5.html
Redirect permanent /projects/phoenix/0.5-release-notes.html http://www.mozilla.org/products/firefox/releases/0.5.html
Redirect permanent /projects/phoenix/0.6-release-notes.html http://www.mozilla.org/products/firefox/releases/0.6.html
Redirect permanent /projects/phoenix/index.html http://www.mozilla.org/projects/firefox/
Redirect permanent /projects/phoenix/phoenix-advantages.html http://www.mozilla.org/products/firefox/releases/
Redirect permanent /projects/phoenix/releases.html http://www.mozilla.org/products/firefox/
Redirect permanent /projects/phoenix/why/index.html http://www.mozilla.org/products/firefox/why/
Redirect permanent /projects/phoenix/extensions/index.html http://texturizer.net/firefox/extensions/
Redirect permanent /projects/phoenix/phoenix-roadmap.html http://www.mozilla.org/projects/firefox/roadmap.html
