/* global whitespace reset (leftjustified.net)  */
* { padding: 0; margin: 0; }
h1, h2, h3, h4, h5, h6, p, pre, blockquote, label, fieldset, address { margin: 1em 0; }
li, dd { margin-left: 2em; }
fieldset { padding: .5em; }
/* end whitespace reset */

body {
  padding: 15px 0 0 0;
  background-color: #fff;
  font-size: 11px;
  font-family: Lucida Grande, Verdana, sans-serif;
  color: #000;
}

a {
  color: #0577c1;
  text-decoration: none;
}

a:hover {
  color: #0577c1;
  text-decoration: underline;
}

#download {
  padding: 15px 0 0 0;
  height: 30px;
  float: left;
  background-color: #dedede;
  text-align: center;
}

/* layout */
#header {
  margin: 0;
}
#wrapper {
  width: 550px;
  padding: 0;
  margin: 0 auto;
  text-align: left;
}

/* content section */
#main {
  /* clear: both; */
  float: left;
  padding-right: 20px

}

#main * {
  line-height: 1.4em;
}

#main strong {
  font-weight: bolder;
  line-height: 1.2em;
}

#main h2, #main h3, #main h4 {
  clear: both;
  font-size: 1.2em;
  border-bottom: 1px solid #000;
  padding-bottom: 1px;
  margin: 16px 0 2px 0;
}


/* footer style */
#footer {	
  clear: both;
  padding: 5px 0 30px 0;
  border-top: 1px solid #000;
  text-align: center;
}
#footer ul {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

#footer li {
  display: inline;
  padding: 0 1em;
  margin: 0;
  border-right: 1px solid #000;
  text-align: center;
}

#footer li.last {
  border: none;
}
