dt {
  font-size: 1.2em;
  color: darkblue;
  background-color: lightgrey;
  margin-bottom: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
}

dd {
  color: black;
  padding-left: 5px;
  padding-bottom: 10px;
}

